{% extends 'pages/base.html' %}
 {% load i18n %}
{% load static %}

{% block title %} Neo Cosmo  {% endblock title %}

{% block content %}
     <div class="wrapper__content pg--about">
          <section class="lead lead--about">
            <div class="lead__grad"></div>
          </section>
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="/">{% blocktrans %}Asosiy sahifa {% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>{% blocktrans %}Linzalar haqida {% endblocktrans %}</li>
              </ul>
            </div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">{% blocktrans %}Linzalar haqida {% endblocktrans %}</h2>
                <p>{% blocktrans %}Biz sizga kontakt linzalarni qanday ishlatish va xavfsiz parvarishi haqida ma’lumot beramiz.{% endblocktrans %}</p>
              </div>
            </div>
          </section>
          <section class="about-grid">
            <div class="container">
              <div class="about-grid__inner">
                <div class="about-grid__item">
                  <div class="about-grid__video">
                    <div class="about-grid__video-img"><img src="{% static './images/reviews/item1.jpg' %}" alt=""></div>
                    <div class="about-grid__video-play mklbItem" data-video-src="{% static './videos/review.mp4' %}">
                      <svg class="svgSymb svgSymb-sprite_play">
                        <use href="#sprite_play"></use>
                      </svg>
                    </div>
                    <div class="about-grid__video-grad"></div>
                  </div>
                  <div class="about-grid__title">
                    <h4 class="heading">{% blocktrans %}Linzalarni  ishlatishdan oldin{% endblocktrans %}</h4>
                  </div>
                  <div class="about-grid__content">
                    <div class="about-grid__description">
                      <p>{% blocktrans %}1 Oynaga qarang va ko‘zning shilliq qavati yoki ko‘zning qizarishi yo‘qligini tekshiring.{% endblocktrans %}</p>
                      <p>{% blocktrans %}2. Ochishdan oldin linzalarda, qadoqlarda va idishda g‘ayritabiiy holat yo‘qligini tekshiring. Agar g‘ayritabiiy holat bo‘lsa, ochmang. G‘ayritabiiy holat ekanligiga shubha qilingan mahsulotlar uchun dilleringizga murojaat qiling.{% endblocktrans %}</p>
                      <p>{% blocktrans %}3. Linzaning yaroqlilik muddatiga qarang. Yaroqlilik muddati o‘tmaganligiga ishonch hosil qiling .{% endblocktrans %}</p>
                    </div>
                  </div><a class="about-grid__btn js-about-grid-btn" href="#">{% blocktrans %}Ko‘proq bilish {% endblocktrans %}
                    <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                      <use href="#sprite_breadcrumbs-arrow"></use>
                    </svg></a>
                </div>
                <div class="about-grid__item">
                  <div class="about-grid__video">
                    <div class="about-grid__video-img"><img src="{% static './images/reviews/item1.jpg' %}" alt=""></div>
                    <div class="about-grid__video-play mklbItem" data-video-src="{% static './videos/review.mp4' %}">
                      <svg class="svgSymb svgSymb-sprite_play">
                        <use href="#sprite_play"></use>
                      </svg>
                    </div>
                    <div class="about-grid__video-grad"></div>
                  </div>
                  <div class="about-grid__title">
                    <h4 class="heading">{% blocktrans %}Linzalarni qanday qo‘yish kerak {% endblocktrans %}</h4>
                  </div>
                  <div class="about-grid__content">
                    <div class="about-grid__description">
                      <p>{% blocktrans %}1. Har doim qo‘lingizni yaxshilab yuving  va tuklarsiz sochiq bilan quriting. Biz linzalarni bir xil ketma-ketlikda, masalan, o‘ng ko‘zdan boshlab qo‘yishingizni tavsiya qilamiz. Shunday qilib, agar siz turli xil diopterli linzalarni kiysangiz, ularni aralashtirmaysiz.{% endblocktrans %}</p>
                      <p>{% blocktrans %}2. Kontakt linza ichkariga burilmaganligiga ishonch hosil qiling. Ko‘rsatkich barmog‘i uchiga nam, toza o‘ng ko‘z linzasini qo‘ying. Tekshirish uchun, yorug‘likka qarab ushlab turish kerak. Agar kontakt linzalarining qirralari biroz yon tomonlarga yo‘naltirilgan bo‘lsa, u ichkariga buriladi. Agar linzalar silliq qirralari bo‘lgan idishga o‘xshasa, u qo‘yishga tayyor.{% endblocktrans %}</p>
                      <p>{% blocktrans %}3. Xuddi shu qo‘lning o‘rta barmog‘i bilan pastki qovoqni torting , boshqa qo‘lning o‘rta barmog‘i bilan yuqori ko‘z qovog‘ini ko‘taring.{% endblocktrans %}</p>
                      <p>{% blocktrans %}4. To‘g‘ridan-to‘g‘ri linzaga qarang va linzalarni to‘g‘ridan-to‘g‘ri shox pardaga qo‘ying. Avval pastki qovoqni, keyin esa yuqori qovoqni bo‘shating.  Ko‘zlaringizni bir necha marta sekin pirpirating va linzalarning to‘g‘ri taqilganligini tekshiring.{% endblocktrans %}</p>

                    </div>
                  </div><a class="about-grid__btn js-about-grid-btn" href="#">{% blocktrans %}Ko‘proq bilish {% endblocktrans %}
                    <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                      <use href="#sprite_breadcrumbs-arrow"></use>
                    </svg></a>
                </div>
                <div class="about-grid__item">
                  <div class="about-grid__video">
                    <div class="about-grid__video-img"><img src="{% static './images/reviews/item1.jpg' %}" alt=""></div>
                    <div class="about-grid__video-play mklbItem" data-video-src="{% static './videos/review.mp4' %}">
                      <svg class="svgSymb svgSymb-sprite_play">
                        <use href="#sprite_play"></use>
                      </svg>
                    </div>
                    <div class="about-grid__video-grad"></div>
                  </div>
                  <div class="about-grid__title">
                    <h4 class="heading">{% blocktrans %}Linzalarni olib tashlash {% endblocktrans %}</h4>
                  </div>
                  <div class="about-grid__content">
                    <div class="about-grid__description">
                      <p>{% blocktrans %}1. Har doim qo‘lingizni yaxshilab yuving  va tuklarsiz sochiq bilan quriting. Biz linzalarni bir xil ketma-ketlikda, masalan, o‘ng ko‘zdan boshlab linzalarni olib tashlashni tavsiya qilamiz. Shunday qilib, agar siz turli xil diopterli linzalarni kiysangiz, ularni aralashtirmaysiz.{% endblocktrans %}</p>
                      <p>{% blocktrans %}2. Qo‘lingizni sovun bilan yaxshilab yuvib bo‘lgach, oynaga qarang va linzalarning holatini tekshiring.{% endblocktrans %}</p>
                      <p>{% blocktrans %}3. O‘rta barmog‘i bilan pastki qovoqni sekin pastga torting.{% endblocktrans %}</p>
                    <p>{% blocktrans %}4. Bosh ko‘rsatkich barmog‘ingiz bilan linzani muloyimlik bilan ushlang va uni tortib oling. Bu vaqtda tirnog‘ingiz bilan ko‘zingizni shikastlamaslik yoki linzaga zarar yetkazmaslik uchun  ehtiyot bo‘ling. {% endblocktrans %}</p>
                    </div>
                  </div><a class="about-grid__btn js-about-grid-btn" href="#">{% blocktrans %}Ko‘proq bilish {% endblocktrans %}
                    <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                      <use href="#sprite_breadcrumbs-arrow"></use>
                    </svg></a>
                </div>
                <div class="about-grid__item">
                  <div class="about-grid__video">
                    <div class="about-grid__video-img"><img src="{% static './images/reviews/item1.jpg' %}" alt=""></div>
                    <div class="about-grid__video-play mklbItem" data-video-src="{% static './videos/review.mp4' %}">
                      <svg class="svgSymb svgSymb-sprite_play">
                        <use href="#sprite_play"></use>
                      </svg>
                    </div>
                    <div class="about-grid__video-grad"></div>
                  </div>
                  <div class="about-grid__title">
                    <h4 class="heading">{% blocktrans %}Linzalarni dezinfeksiya qilish {% endblocktrans %}</h4>
                  </div>
                  <div class="about-grid__content">
                     <div class="about-grid__description">
                      <p>{% blocktrans %}1. Kontakt linza dezinfeksiya qilinmasa, turli xil aralashmalar bakteriyalar va mog‘or kabi bakteriyalarning ko‘payishiga va ko‘z kasalliklariga olib kelishi mumkin.{% endblocktrans %}</p>
                      <p>{% blocktrans %}2. Sterilizatsiya usuli - bu maxsus tozalash eritmasi linza qutisiga solinadi . Eritmaning kimyoviy komponenti oqsil kabi begona  moddalarning biriktirilishini oldini olish uchun linzalarni sterilizatsiya qiladi va dezinfeksiya qiladi.{% endblocktrans %}</p>
                      <p>{% blocktrans %}3. Bundan tashqari, havoda ifloslanishni oldini olish uchun har doim maxsus tozalash eritmasining qopqog‘ini yoping.{% endblocktrans %}</p>

                    </div>
                  </div><a class="about-grid__btn js-about-grid-btn" href="#">{% blocktrans %}Ko‘proq bilish {% endblocktrans %}
                    <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                      <use href="#sprite_breadcrumbs-arrow"></use>
                    </svg></a>
                </div>
              </div>
            </div>
          </section>



{% endblock content %}