<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static './css/main.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static './images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>NEO cosmo</title>
  </head>
  <body>
    <script>
      var svgArray = [
          "{% static './svgmin/sprite_icons.svg' %}"
      ];
    </script>
    <div class="svgSprite"></div>
    <div class="wrapper">
      <div class="wrapper__inner">
        <header class="header">
          <div class="container">
            <div class="header__inner">
              <div class="header__left"><a href="{% url 'homepage' %}">
                  <picture>
                    <source  srcset="{% static '/images/logo.webp' %}, {% static './images/logo@2x.webp' %} 1.5x" width="261" height="52" loading="lazy">
                      <img src="{% static '/images/logo.png' %}" srcset="{% static '/images/logo@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                  </picture></a></div>
              <div class="header__center">
                <nav class="header__menu">
                  <ul>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Mahsulotlar {% endblocktrans %}</a></li>
                    <li><a href="{% url 'aboutpage' %}">{% blocktrans %} Linzalar haqida {% endblocktrans %}</a></li>
                    <li><a href="{% url 'whyneopage' %}">{% blocktrans %} Nima uchun neo cosmo {% endblocktrans %}</a></li>
                    <li> <a href="#">{% blocktrans %} Ma’lumot markazi{% endblocktrans %}</a>
                      <svg class="svgSymb svgSymb-sprite_arrow-right">
                        <use href="#sprite_arrow-right"></use>
                      </svg>
                      <div class="header__submenu">
                        <ul>
                          <li> <a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
                          <li> <a href="{% url 'lenscalculatorpage' %}">{% blocktrans %} Linzalar kalkulyatori{% endblocktrans %}</a></li>
                          <li> <a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish {% endblocktrans %}</a></li>
                          <li> <a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni  aniqlash{% endblocktrans %}</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                </nav>
              </div>
              <div class="header__right">
                <div class="header__toggle-lang">
                  <ul>
                     {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                          <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                          {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ language.code }}" class="active"/>
                          </form>
                             <li><button class="lang-button {% if url == request.path %}active{% endif %}" type="submit" form="form_{{ language.code }}" value="Submit" style="border: none;">{{ language.code }}</button></li>

                        {% endfor %}
                  </ul>
                </div><a class="burger js-mobile-menu-toggle" href="#"></a>
              </div>
            </div>
          </div>
        </header>


        {% block content %}

        {% endblock content %}

        <section class="address">
            <div class="container">
              <div class="address__inner">
                <div class="section-header">

                  <h2 class="heading">{% blocktrans %}QAYERDAN SOTIB OLISH MUMKIN{% endblocktrans %}</h2>

                  <div class="section-header__actions"> <a class="js-choose-address" href="#">{% blocktrans %} Onlayn {% endblocktrans %}</a><a class="active js-choose-address" href="#">{% blocktrans %}Do‘kondan{% endblocktrans %}</a></div>
                </div>
                <div class="address__content">
                  <form class="address__choose" districts-url-uz="{% url 'load_districts_uz' %}" id="regionForm">
                    <div class="field"> <a href="{% url 'storepage' %}" id="button">{% blocktrans %}Mening joylashuvim{% endblocktrans %}
                        <svg class="svgSymb svgSymb-sprite_location1">
                          <use href="#sprite_location1"></use>
                        </svg></a></div>
                    <div class="field" >
                      <select class="address__choose-item select2-single" data-placeholder="{% translate "Shahringizni tanlang" %}" id="id_region_uz" name="region_id">

                          {% for region in region_uz %}
                     <option value="{{ region.id }}" {% if region.id == 3 %} selected="selected" {% endif %} >{{ region.name }}</option>#}


                          {% endfor %}
                      </select>
                    </div>
                    <div class="field">
                      <select class="address__choose-item select2-single" data-placeholder="{% translate "Tumaningizni tanlang" %}" id="id_district_uz" name="district_id">
                        <option value="#"></option>

                      </select>
                    </div>
                  </form>

                  <div class="address__item-list js-offline">
                    <div class="address__item-list-map">
                      <div id="map" style="height: 100%"></div>
                    </div>

                    <div class="address__item-list-cards" name="store_uz" stores-url-uz="{% url 'load_stores_uz' %}" id="storeForm">

                        {% for store in stores %}
                        <div class="address__item js-address-item" data-address-lat={{ store.lat }} data-address-lng={{ store.lang }}>
                        <div class="address__item-title">
                          <svg class="svgSymb svgSymb-sprite_market">
                            <use href="#sprite_market"></use>
                          </svg>
                          <h3 class="heading heading--md">{{ store.store_name }}</h3>
                        </div>
                        <div class="address__item-location">
                          <svg class="svgSymb svgSymb-sprite_location">
                            <use href="#sprite_location"></use>
                          </svg>
                          <p>{{ store.region.name }}, {{ store.district.name }}, {{ store.street }}</p>
                        </div>
                        <div class="address__item-phone">
                          <svg class="svgSymb svgSymb-sprite_phone">
                            <use href="#sprite_phone"></use>
                          </svg><a href="tel:{{ store.store_phone }}">{{ store.store_phone }}</a>
                        </div>
                      </div>

                        {% endfor %}
                    </div>
                  </div>
                  <div class="address__actions"> <a class="js-address-actions btn" href="#">{% blocktrans %}Qo‘ng‘iroq qilish {% endblocktrans%}</a></div>
                  <div class="address__item-list-online js-online">
                     {% for online in online_stores%}
                      <a href={{ online.full_url }}>
                      <picture>
                          {% if online.icon %}
                        <source srcset="{{ online.icon.url }}, {{ online.icon.url }} 1.5x"  width="233" height="90"><img src="{{ online.icon.url }}" srcset="{{ online.icon.url }} 1.5x" width="233" height="90" alt="">
                        {% endif %}
                      </picture></a>
                        {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </section>


        </div>
        <footer class="footer">
          <div class="container">
            <div class="footer__desktop">
              <div class="footer__mobile-logo">
                <picture>
                  <source srcset="{% static './images/logo-mobile.webp' %}, {% static './images/logo-mobile@2x.webp' %} 1.5x" width="261" height="52" loading="lazy"><img src="{% static './images/logo-mobile.png' %}" srcset="{% static './images/logo-mobile@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                </picture>
              </div>
              <div class="footer__content"><a class="footer__logo" href="/">
                  <picture>
                    <source srcset="{% static './images/logo.webp' %}, {% static './images/logo@2x.webp' %} 1.5x" width="261" height="52" loading="lazy"><img src="{% static './images/logo.png' %}" srcset="{% static './images/logo@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                  </picture>
                  <picture>
                    <source srcset="{% static './images/logo-mobile.webp' %}, {% static './images/logo-mobile@2x.webp' %} 1.5x" width="261" height="52" loading="lazy"><img src="{% static './images/logo-mobile.png' %}" srcset="{% static './images/logo-mobile@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                  </picture></a>
                <div class="footer__copyright">
                  <p>Copyright ©
                    <script>document.write(new Date().getFullYear())</script> NEO COSMO <br> All rights reserved
                  </p>
                </div>
                <ul class="footer__social">
              <li><a href="https://www.instagram.com/neocosmo.uz/">
                      <svg class="svgSymb svgSymb-sprite_instagram">
                        <use href="#sprite_instagram"></use>
                      </svg></a></li>
              <li><a href="https://www.facebook.com/neocosmo.uzbekistan/">
                      <svg class="svgSymb svgSymb-sprite_facebook">
                        <use href="#sprite_facebook"></use>
                      </svg></a></li>
              <li><a href="https://t.me/neocosmo_uz">
                      <svg class="svgSymb svgSymb-sprite_telegram">
                        <use href="#sprite_telegram"></use>
                      </svg></a></li>
              <li><a href="http://www.tiktok.com/neocosmo.uz">
                      <svg class="svgSymb svgSymb-sprite_tik-tok">
                        <use href="#sprite_tik-tok"></use>
                      </svg></a></li>
              <li><a href="https://www.youtube.com/channel/UC9kFFYcOvBKHxwFrjujN6gA">
                      <svg class="svgSymb svgSymb-sprite_youtube">
                        <use href="#sprite_youtube"></use>
                      </svg></a></li>
                </ul>
              </div>
              <div class="footer__nav">
                <div class="footer__menu">
                  <h4 class="footer__menu-title">{% blocktrans %}Mahsulotlar{% endblocktrans %}</h4>
                  <ul>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Rangli linzalar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Sferik linzalar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Karnaval linzalar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Astigmat linzalar{% endblocktrans %}</a></li>
                  </ul>
                </div>
                <div class="footer__menu">
                  <h4 class="footer__menu-title">NEO COSMO</h4>
                  <ul>
                    <li><a href="{% url 'whyneopage' %}">{% blocktrans %}Kompaniya haqida{% endblocktrans %}</a></li>
                    <li><a href="{% url 'contactuspage' %}">{% blocktrans %}Shartnoma taklifi{% endblocktrans %}</a></li>
                    <li><a href="{% url 'whyneopage' %}">{% blocktrans %}Nima uchun biz{% endblocktrans %}</a></li>
                    <li><a href="{% url 'whyneopage' %}#certificates">{% blocktrans %}Sertifikatlar {% endblocktrans %}</a></li>
                  </ul>
                </div>
                <div class="footer__menu">
                  <h4 class="footer__menu-title">{% blocktrans %}Ma’lumot markazi{% endblocktrans %}</h4>
                  <ul>
              <li> <a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'lenscalculatorpage' %}">{% blocktrans %}Linzalar kalkulyatori{% endblocktrans %}</a></li>
              <li> <a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
              <li> <a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni aniqlash{% endblocktrans %}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__mobile-bottom"> <a href="https://t.me/opticmap_bot"> {% blocktrans %}Eng yaqin optikadan qidiring {% endblocktrans %}</a></div>
        </footer>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="container">
        <div class="mobile-menu__inner">
          <div class="mobile-menu__content"> <a class="js-mobile-menu__button mobile-menu__menu" href="#">
              <svg class="svgSymb svgSymb-sprite_arrow-right">
                <use href="#sprite_arrow-right"></use>
              </svg>Menu</a>
            <ul class="mobile-menu__list">
              <li> <a href="{% url 'homepage' %}">{% blocktrans %}Asosiy sahifa{% endblocktrans %}</a></li>
              <li> <a href="{% url 'katalogpage' %}">{% blocktrans %}Mahsulotlar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'aboutpage' %}">{% blocktrans %}Linzalar haqida{% endblocktrans %}</a></li>
              <li> <a href="{% url 'whyneopage' %}">{% blocktrans %}Nima uchun NEO COSMO {% endblocktrans %}</a></li>
              <li> <a class="js-open-mobileSubMenu" href="#">{% blocktrans %}Ma’lumot markazi{% endblocktrans %}
                  <svg class="svgSymb svgSymb-sprite_arrow-right">
                    <use href="#sprite_arrow-right"></use>
                  </svg></a></li>
            </ul>
            <ul class="mobile-menu__list">
              <li> <a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'lenscalculatorpage' %}">{% blocktrans %}Linzalar kalkulyatori{% endblocktrans %}</a></li>
              <li> <a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
              <li> <a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni aniqlash{% endblocktrans %}</a></li>

            </ul>
            <ul class="mobile-menu__toggle-lang">
                     {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                          <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                          {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ language.code }}" class="active"/>
                          </form>
                             <li><button class="lang-button {% if url == request.path %}active{% endif %}" type="submit" form="form_{{ language.code }}" value="Submit" style="border: none;">{{ language.code }}</button></li>

                        {% endfor %}
                         </ul>
            <ul class="mobile-menu__social">
              <li><a href="https://www.instagram.com/neocosmo.uz/">
                  <svg class="svgSymb svgSymb-sprite_instagram">
                    <use href="#sprite_instagram"></use>
                  </svg></a></li>
              <li><a href="https://www.facebook.com/neocosmo.uzbekistan/">
                  <svg class="svgSymb svgSymb-sprite_facebook">
                    <use href="#sprite_facebook"></use>
                  </svg></a></li>
              <li><a href="https://t.me/neocosmo_uz">
                  <svg class="svgSymb svgSymb-sprite_telegram">
                    <use href="#sprite_telegram"></use>
                  </svg></a></li>
              <li><a href="http://www.tiktok.com/neocosmo.uz">
                  <svg class="svgSymb svgSymb-sprite_tik-tok">
                    <use href="#sprite_tik-tok"></use>
                  </svg></a></li>
              <li><a href="https://www.youtube.com/channel/UC9kFFYcOvBKHxwFrjujN6gA">
                  <svg class="svgSymb svgSymb-sprite_youtube">
                    <use href="#sprite_youtube"></use>
                  </svg></a></li>

            </ul>
          </div><a class="burger js-mobile-menu-toggle" href="#"></a>
        </div>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxU__UJLY_eqsveaoo-aV-1um7HUXfvWA&"></script>
    <script src="{% static './js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static './js/vendor.min.js' %}" type="text/javascript"></script>
    <script src="{% static './js/scripts.js' %}" type="text/javascript"></script>
    <!-- <script src="//code.tidio.co/gkfz1q6rgnx2rovxh2tveq79tcai5tbs.js" async></script> -->
    <script>
      $(document).ready(function () {
        $("#id_region_uz").change(function () {
            var url = $("#regionForm").attr("districts-url-uz"); // get the url of the `load_cities` view
            var region_uz_id = $(this).val(); // get the selected country ID from the HTML input

            $.ajax({
                // initialize an AJAX request
                url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    region_id: region_uz_id, // add the country id to the GET parameters
                },

                success: function (data) {
                    // `data` is the return of the `load_cities` view function

                    $("#id_district_uz").html(data); // replace the contents of the city input with the data that came from the server
                },
            });
        });
      });

      $(document).ready(function () {
        $("#id_district_uz").change(function () {
            var url = $("#storeForm").attr("stores-url-uz"); // get the url of the `load_cities` view
            var district_uz_id = $(this).val(); // get the selected country ID from the HTML input
            $.ajax({
                // initialize an AJAX request
                url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    district_id: district_uz_id, // add the country id to the GET parameters
                },

                success: function (data) {
                    // `data` is the return of the `load_cities` view function
                    $("#storeForm").html(data); // replace the contents of the city input with the data that came from the server
                    if($(window).innerWidth() < 576) {
                      $(".address__item").addClass("swiper-slide");
                      window.addressSwiper.updateSlides();
                    }
                    app.initMap.addMarker();
                },
            });
        });
      });


      $(document).ready(function () {
        $("#product_category").change(function () {
            var url = $("#catalog").attr("category-filter"); // get the url of the `load_cities` view
            console.log("ajax_url");
            var category_id = $(this).val(); // get the selected country ID from the HTML input
            console.log(category_id);
            $.ajax({
                // initialize an AJAX request
                url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    category_id: category_id, // add the country id to the GET parameters
                },

                success: function (data) {
                    // `data` is the return of the `load_cities` view function

                    $("#loadProducts").html(data); // replace the contents of the city input with the data that came from the server
                    app.initSlider.init();
                },
            });
        });
      });

      $(document).ready(function () {
        $("#product_changetime").change(function () {
            var url = $("#catalog").attr("changetime-filter"); // get the url of the `load_cities` view
            console.log("ajax_url");
            var changetime_id = $(this).val(); // get the selected country ID from the HTML input
            console.log(changetime_id);
            $.ajax({
                // initialize an AJAX request
                url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    changetime_id: changetime_id, // add the country id to the GET parameters
                },

                success: function (data) {
                    // `data` is the return of the `load_cities` view function

                    $("#loadProducts").html(data); // replace the contents of the city input with the data that came from the server
                    app.initSlider.init();
                },
            });
        });
      });
    </script>

  </body>
</html>