<!DOCTYPE html>
{% load static %}
 {% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static './css/main.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static './images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>NEO cosmo</title>
  </head>
  <body>
    <script>
      var svgArray = [
          "{% static './svgmin/sprite_icons.svg' %}"
      ];
    </script>
    <div class="svgSprite"></div>
    <div class="wrapper">
      <div class="wrapper__inner">
        <div class="wrapper__content pg--contact-us-success">
          <section class="success"> <img src="{% static './images/svg/success.svg' %}" alt="" width="408" height="408">
            <h2 class="heading">{% blocktrans %}Arizangiz Muvaffaqiyatli Yuborildi{% endblocktrans %}</h2>
            <p class="success__description">{% blocktrans %}Tez orada siz bilan bog’lanamiz{% endblocktrans %}</p><a class="btn btn--lg" href="{% url 'homepage' %}">Bosh sahifaga qaytish</a>
          </section>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="container">
        <div class="mobile-menu__inner">
          <div class="mobile-menu__content"> <a class="js-mobile-menu__button mobile-menu__menu" href="#">
              <svg class="svgSymb svgSymb-sprite_arrow-right">
                <use href="#sprite_arrow-right"></use>
              </svg>Menu</a>
            <ul class="mobile-menu__list">
              <li> <a href="{% url 'homepage' %}">{% blocktrans %}Asosiy sahifa{% endblocktrans %}</a></li>
              <li> <a href="{% url 'katalogpage' %}">{% blocktrans %}Mahsulotlar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'aboutpage' %}">{% blocktrans %}Linzalar haqida{% endblocktrans %}</a></li>
              <li> <a href="{% url 'whyneopage' %}">{% blocktrans %}Nima uchun neo cosmo{% endblocktrans %}</a></li>
              <li> <a class="js-open-mobileSubMenu" href="#">{% blocktrans %}Ma’lumot markazi{% endblocktrans %}
                  <svg class="svgSymb svgSymb-sprite_arrow-right">
                    <use href="#sprite_arrow-right"></use>
                  </svg></a></li>
            </ul>
            <ul class="mobile-menu__list">
              <li> <a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'lenscalculatorpage' %}">{% blocktrans %}Linzalar kalkulyatori{% endblocktrans %}</a></li>
              <li> <a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
              <li> <a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni aniqlash {% endblocktrans %}</a></li>
            </ul>
            <ul class="mobile-menu__toggle-lang">
                     {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                   {% for language in languages %}
                       <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                      {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="{{ language.code }}" class="active"/>
                       </form>
                      <li><button class="lang-button {% if url == request.path %}active{% endif %}" type="submit" form="form_{{ language.code }}" value="Submit" style="border: none;">{{ language.code }}</button></li>
                    {% endfor %}
            </ul>
          <ul class="mobile-menu__social">
              <li><a href="https://www.instagram.com/neocosmo.uz/">
                  <svg class="svgSymb svgSymb-sprite_instagram">
                    <use href="#sprite_instagram"></use>
                  </svg></a></li>
              <li><a href="https://www.facebook.com/neocosmo.uzbekistan/">
                  <svg class="svgSymb svgSymb-sprite_facebook">
                    <use href="#sprite_facebook"></use>
                  </svg></a></li>
              <li><a href="https://t.me/neocosmo_uz">
                  <svg class="svgSymb svgSymb-sprite_telegram">
                    <use href="#sprite_telegram"></use>
                  </svg></a></li>
              <li><a href="http://www.tiktok.com/neocosmo.uz">
                  <svg class="svgSymb svgSymb-sprite_tik-tok">
                    <use href="#sprite_tik-tok"></use>
                  </svg></a></li>
              <li><a href="https://www.youtube.com/channel/UC9kFFYcOvBKHxwFrjujN6gA">
                  <svg class="svgSymb svgSymb-sprite_youtube">
                    <use href="#sprite_youtube"></use>
                  </svg></a></li>

            </ul>
          </div><a class="burger js-mobile-menu-toggle" href="#"></a>
        </div>
      </div>
    </div>
    <script src="{% static './js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static './js/vendor.min.js' %}" type="text/javascript"></script>
    <script src="{% static './js/scripts.min.js' %}" type="text/javascript"></script>
  </body>
</html>