<!DOCTYPE html>
{% load static %}
 {% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static './css/main.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static './images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>NEO cosmo</title>
  </head>
  <body>
    <script>
      var svgArray = [
          "{% static './svgmin/sprite_icons.svg' %}"
      ];
    </script>
    <div class="svgSprite"></div>
    <div class="wrapper">
      <div class="wrapper__inner">
        <header class="header">
          <div class="container">
            <div class="header__inner">
              <div class="header__left"><a href="{% url 'homepage' %}">
                  <picture>
                    <source  srcset="{% static '/images/logo.webp' %}, {% static './images/logo@2x.webp' %} 1.5x" width="261" height="52" loading="lazy">
                      <img src="{% static '/images/logo.png' %}" srcset="{% static '/images/logo@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                  </picture></a></div>
              <div class="header__center">
                <nav class="header__menu">
                  <ul>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Mahsulotlar {% endblocktrans %}</a></li>
                    <li><a href="{% url 'aboutpage' %}">{% blocktrans %}Linzalar haqida{% endblocktrans %}</a></li>
                    <li><a href="{% url 'whyneopage' %}">{% blocktrans %}Nima uchun neo {% endblocktrans %}</a></li>
                    <li> <a href="#">{% blocktrans %}Ma’lumot markazi{% endblocktrans %}</a>
                      <svg class="svgSymb svgSymb-sprite_arrow-right">
                        <use href="#sprite_arrow-right"></use>
                      </svg>
                      <div class="header__submenu">
                        <ul>
                          <li> <a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
                          <li> <a href="{% url 'lenscalculatorpage' %}">{% blocktrans %}Linzalar kalkulyatori{% endblocktrans %}</a></li>
                          <li> <a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
                          <li> <a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni aniqlash{% endblocktrans %}</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header__right">
                <div class="header__toggle-lang">
                  <ul>
                     {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                          <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                          {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ language.code }}" class="active"/>
                          </form>
                             <li><button class="lang-button {% if url == request.path %}active{% endif %}" type="submit" form="form_{{ language.code }}" value="Submit" style="border: none;">{{ language.code }}</button></li>

                        {% endfor %}
                  </ul>
                </div><a class="burger js-mobile-menu-toggle" href="#"></a>
              </div>
            </div>
          </div>
        </header>

 <div class="wrapper__content pg--contact-us">
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="{% url 'homepage' %}">{% blocktrans %}Asosiy sahifa{% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</li>
              </ul>
            </div>
          </section>
          <section class="form">
            <div class="container">
              <div class="form__inner">
                <div class="form__title">
                  <h2 class="heading">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</h2>
                </div>
                <div class="form__description">
                  <p>
                     {% blocktrans %}Aloqa qilishni xohlaysizmi? Sizdan eshitishni istardik. Biz bilan qanday bog‘lanishingiz mumkin...{% endblocktrans %}</p>
                </div>
                <div class="form__contact">
                  <div class="form__contact-item">
                    <div>
                      <svg class="svgSymb svgSymb-sprite_location">
                        <use href="#sprite_location"></use>
                      </svg>
                    </div><a href="{% url 'storepage' %}">
                      {% blocktrans %} Toshkent shahar, Yashnabod tumani, Farg‘ona yo‘li ko‘chasi, 2-uy, 37-xonadon{% endblocktrans %}</a>
                  </div>
                  <div class="form__contact-item">
                    <div>
                      <svg class="svgSymb svgSymb-sprite_phone">
                        <use href="#sprite_phone"></use>
                      </svg>
                    </div><a href="tel:+998886006006">
                       +998 88 600 60 06</a>
                  </div>
                  <div class="form__contact-item">
                    <div>
                      <svg class="svgSymb svgSymb-sprite_mail">
                        <use href="#sprite_mail"></use>
                      </svg>
                    </div><a href="mailto:hello@neocosmo.com">
                       hello@neocosmo.com</a>
                  </div>
                </div>
                <form action="#" method="post" role="form">{% csrf_token %}
                  <div class="form__content">
                    <div class="form__left">
                      <div class="field">
                        <input class="input" type="text" name="name" id="name">
                        <label for="name">{% blocktrans %}Ism{% endblocktrans %}</label>
                      </div>
                      <div class="field">
                        <input class="input" type="email" name="email" id="email">
                        <label for="email">{% blocktrans %}Elektron pochta:{% endblocktrans %}</label>
                      </div>
                      <div class="field">
                        <input class="input" type="tel" name="phoneNumber" id="number">
                        <label for="number">{% blocktrans %}Telefon Raqam{% endblocktrans %}</label>
                      </div>
                    </div>
                    <div class="form__right">
                      <div class="field">
                        <textarea class="textarea" name="text" id="xabar"></textarea>
                        <label for="xabar">{% blocktrans %}Xabar{% endblocktrans %}</label>
                      </div>
                    </div>
                  </div>
                  <div class="form__btn">
                    <button class="btn" type="submit" data-submit="...yuborilmoqda">{% blocktrans %}Yuborish{% endblocktrans %}</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>


<footer class="footer">
          <div class="container">
            <div class="footer__desktop">
              <div class="footer__mobile-logo">
                <picture>
                  <source srcset="{% static './images/logo-mobile.webp' %}, {% static './images/logo-mobile@2x.webp' %} 1.5x" width="261" height="52" loading="lazy"><img src="{% static './images/logo-mobile.png' %}" srcset="{% static './images/logo-mobile@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                </picture>
              </div>
              <div class="footer__content"><a class="footer__logo" href="/">
                  <picture>
                    <source srcset="{% static './images/logo.webp' %}, {% static './images/logo@2x.webp' %} 1.5x" width="261" height="52" loading="lazy"><img src="{% static './images/logo.png' %}" srcset="{% static './images/logo@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                  </picture>
                  <picture>
                    <source srcset="{% static './images/logo-mobile.webp' %}, {% static './images/logo-mobile@2x.webp' %} 1.5x" width="261" height="52" loading="lazy"><img src="{% static './images/logo-mobile.png' %}" srcset="{% static './images/logo-mobile@2x.png' %} 1.5x" width="261" height="52" loading="lazy" alt="Company logo">
                  </picture></a>
                <div class="footer__copyright">
                  <p>Copyright ©
                    <script>document.write(new Date().getFullYear())</script> NEO COSMO <br> All rights reserved
                  </p>
                </div>
                <ul class="footer__social">
              <li><a href="https://www.instagram.com/neocosmo.uz/">
                      <svg class="svgSymb svgSymb-sprite_instagram">
                        <use href="#sprite_instagram"></use>
                      </svg></a></li>
              <li><a href="https://www.facebook.com/neocosmo.uzbekistan/">
                      <svg class="svgSymb svgSymb-sprite_facebook">
                        <use href="#sprite_facebook"></use>
                      </svg></a></li>
              <li><a href="https://t.me/neocosmo_uz">
                      <svg class="svgSymb svgSymb-sprite_telegram">
                        <use href="#sprite_telegram"></use>
                      </svg></a></li>
              <li><a href="http://www.tiktok.com/neocosmo.uz">
                      <svg class="svgSymb svgSymb-sprite_tik-tok">
                        <use href="#sprite_tik-tok"></use>
                      </svg></a></li>
              <li><a href="https://www.youtube.com/channel/UC9kFFYcOvBKHxwFrjujN6gA">
                      <svg class="svgSymb svgSymb-sprite_youtube">
                        <use href="#sprite_youtube"></use>
                      </svg></a></li>
                </ul>
              </div>
              <div class="footer__nav">
                <div class="footer__menu">
                  <h4 class="footer__menu-title">{% blocktrans %}Mahsulotlar{% endblocktrans %}</h4>
                  <ul>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Rangli linzalar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Sferik linzalar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Karnaval linzalar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'katalogpage' %}">{% blocktrans %}Astigmat linzalar{% endblocktrans %}</a></li>
                  </ul>
                </div>
                <div class="footer__menu">
                  <h4 class="footer__menu-title">NEO COSMO</h4>
                  <ul>
                    <li><a href="{% url 'whyneopage' %}">{% blocktrans %}Kompaniya haqida{% endblocktrans %}</a></li>
                    <li><a href="{% url 'contactuspage' %}">{% blocktrans %}Shartnoma taklifi{% endblocktrans %}</a></li>
                    <li><a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
                    <li><a href="{% url 'whyneopage' %}">{% blocktrans %}Sertifikatlar{% endblocktrans %}</a></li>
                  </ul>
                </div>
                <div class="footer__menu">
                  <h4 class="footer__menu-title">{% blocktrans %}Ma’lumot markazi{% endblocktrans %}</h4>
                  <ul>
                    <li><a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
                    <li><a href="{% url 'lenscalculatorpage' %}">{% blocktrans %}Linzalar kalkulyatori{% endblocktrans %}</a></li>
                    <li><a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
                    <li><a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni aniqlash{% endblocktrans %}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__mobile-bottom"> <a href="https://t.me/opticmap_bot">{% blocktrans %} Eng yaqin optikadan qidiring{% endblocktrans %}</a></div>
        </footer>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="container">
        <div class="mobile-menu__inner">
          <div class="mobile-menu__content"> <a class="js-mobile-menu__button mobile-menu__menu" href="#">
              <svg class="svgSymb svgSymb-sprite_arrow-right">
                <use href="#sprite_arrow-right"></use>
              </svg>Menu</a>
            <ul class="mobile-menu__list">
              <li> <a href="{% url 'homepage' %}">{% blocktrans %}Asosiy sahifa{% endblocktrans %}</a></li>
              <li> <a href="{% url 'katalogpage' %}">{% blocktrans %}Mahsulotlar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'aboutpage' %}">{% blocktrans %}Linzalar haqida{% endblocktrans %}</a></li>
              <li> <a href="{% url 'whyneopage' %}">{% blocktrans %}Nima uchun neo cosmo{% endblocktrans %}</a></li>
              <li> <a class="js-open-mobileSubMenu" href="#">{% blocktrans %}Ma’lumot markazi{% endblocktrans %}
                  <svg class="svgSymb svgSymb-sprite_arrow-right">
                    <use href="#sprite_arrow-right"></use>
                  </svg></a></li>
            </ul>
            <ul class="mobile-menu__list">
              <li> <a href="{% url 'faqpage' %}">{% blocktrans %}Tez-tez so‘raladigan savollar{% endblocktrans %}</a></li>
              <li> <a href="{% url 'lenscalculatorpage' %}">{% blocktrans %}Linzalar kalkulyatori{% endblocktrans %}</a></li>
              <li> <a href="{% url 'contactuspage' %}">{% blocktrans %}Biz bilan bog‘lanish{% endblocktrans %}</a></li>
              <li> <a href="{% url 'storepage' %}">{% blocktrans %}Do‘konni aniqlash{% endblocktrans %}</a></li>
            </ul>
            <ul class="mobile-menu__toggle-lang">
                     {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                          <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                          {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ language.code }}" class="active"/>
                          </form>
                             <li><button class="lang-button {% if url == request.path %}active{% endif %}" type="submit" form="form_{{ language.code }}" value="Submit" style="border: none;">{{ language.code }}</button></li>

                        {% endfor %}
            </ul>
           <ul class="mobile-menu__social">
              <li><a href="https://www.instagram.com/neocosmo.uz/">
                  <svg class="svgSymb svgSymb-sprite_instagram">
                    <use href="#sprite_instagram"></use>
                  </svg></a></li>
              <li><a href="https://www.facebook.com/neocosmo.uzbekistan/">
                  <svg class="svgSymb svgSymb-sprite_facebook">
                    <use href="#sprite_facebook"></use>
                  </svg></a></li>
              <li><a href="https://t.me/neocosmo_uz">
                  <svg class="svgSymb svgSymb-sprite_telegram">
                    <use href="#sprite_telegram"></use>
                  </svg></a></li>
              <li><a href="http://www.tiktok.com/neocosmo.uz">
                  <svg class="svgSymb svgSymb-sprite_tik-tok">
                    <use href="#sprite_tik-tok"></use>
                  </svg></a></li>
              <li><a href="https://www.youtube.com/channel/UC9kFFYcOvBKHxwFrjujN6gA">
                  <svg class="svgSymb svgSymb-sprite_youtube">
                    <use href="#sprite_youtube"></use>
                  </svg></a></li>

            </ul>
          </div><a class="burger js-mobile-menu-toggle" href="#"></a>
        </div>
      </div>
    </div>
    
    <script src="{% static './js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static './js/vendor.min.js' %}" type="text/javascript"></script>
    <script src="{% static './js/scripts.js' %}" type="text/javascript"></script>
    <scrip src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxU__UJLY_eqsveaoo-aV-1um7HUXfvWA&"></script>

  </body>
</html>