 {% load i18n %}
                 {% if filtered_products %}
                 {% for product in filtered_products %}
                  <div class="katalog-grid__item">
                    <div class="katalog-grid__item-image">
                      <div class="swiper-wrapper">
                        <picture class="swiper-slide">
                        {% if product.productPhoto %}
                          <img src="{{ product.productPhoto.url }}"  width="374" height="209" alt="" loading="lazy">
                        {% endif %}
                        </picture>
                        <picture class="swiper-slide">
                             {% if product.photo_upakovka %}
                          <img src="{{ product.photo_upakovka.url }}" width="374" height="209" alt="" loading="lazy">
                            {% endif %}
                        </picture>
                        <picture class="swiper-slide">
                            {% if product.lensePhoto %}
                       <img src="{{ product.lensePhoto.url }}"  width="374" height="209" alt="" loading="lazy">
                            {% endif %}
                        </picture>
                      </div>
                      <div class="katalog-grid__slider-pagination"></div><a class="katalog-grid__slider-next" href="#">
                        <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                        </svg></a>
                      <div class="katalog-grid__slider-prev">
                        <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="katalog-grid__item-title">
                      <h4 class="heading heading--sm">{{ product.productname }}</h4>
                      <p>{{ product.description}}</p>
                    </div>
                    <div class="katalog-grid__item-time">
                      <svg class="svgSymb svgSymb-sprite_watch">
                        <use href="#sprite_watch"></use>
                      </svg>{{ product.time_to_change }}
                    </div>
                    <div class="katalog-grid__item-age">
                      <svg class="svgSymb svgSymb-sprite_calendar">
                        <use href="#sprite_calendar"></use>
                      </svg>{{ product.ageGroup }}
                    </div>
                    <div class="katalog-grid__item-price">
                      <svg class="svgSymb svgSymb-sprite_price">
                        <use href="#sprite_price"></use>
                      </svg>{{ product.price|floatformat:0 }} so'm
                    </div>
                    <div class="katalog-grid__item-actions"> <a class="btn btn--md" href="./product-page.html">{% blocktrans %} To‘liq ma’lumot olish{% endblocktrans %}</a></div>
                  </div>
                 {% endfor %}
                    {% else %}
          <h3 class="heading heading--md text-center">{% blocktrans %} Sizning so'rovingiz bo'yicha mahsulotlar topilmadi {% endblocktrans %}</h3>
                    {% endif %}