{% extends 'pages/base.html' %}
 {% load i18n %}
{% load static %}

{% block title %} Neo Cosmo {% endblock title %}

{% block content %}
 <div class="wrapper__content pg--main">
          <section class="lead lead--main">
            <div class="container">
              <div class="lead__inner">
                <div class="section-header">
                  <div class="section-header__title">
                    <h1 class="heading">{% blocktrans %}YASHA {% endblocktrans %}</h1>
                    <div class="lead-swiper">
                      <div class="swiper-wrapper"><span class="swiper-slide">{% blocktrans %} Zavq ila{% endblocktrans %}</span><span class="swiper-slide">{% blocktrans %} Yorqinlik ila {% endblocktrans %}</span><span class="swiper-slide">{% blocktrans %} Muhabbat ila {% endblocktrans %}</span></div>
                    </div>
                  </div>
                  <div class="section-header__description">{% blocktrans %}NEO COSMO kontakt linzalari bilan {% endblocktrans %}</div>
                  <div class="section-header__actions"> <a class="btn btn--lg" href="https://t.me/opticmap_bot">{% blocktrans %}Eng yaqin optikadan qidiring {% endblocktrans %}</a></div>
                </div>
              </div>
            </div>
            <div class="lead__bg">
              <video loop="loop" muted="muted" playsinline="playsinline" id="vid" poster="{% static './images/poster.jpg' %}" autoplay>
                <source src="{% static './videos/lead.mp4' %}" type="video/mp4"/>
              </video>
            </div>
            <div class="lead__grad1"></div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">{% blocktrans %}NEO COSMO RANGLAR STUDIYASIGA XUSH KELIBSIZ{% endblocktrans %}</h2>
                <p>{% blocktrans %}NEO COSMO rangli kontakt linzalari yordamida o‘zingizni ko‘plab  uslubingizni yaratishingiz mumkin {% endblocktrans %}</p>
              </div>
              <div class="choose-sex">
                <h2 class="heading">{% blocktrans %}O'z ko'rinishingizni tanlang{% endblocktrans %}</h2>
                <ul class="choose-sex__toggle"> 
                  <li><a class="active js-choose-sex" href="#">{% trans 'Ayol' %}</a></li>
                  <li><a class="js-choose-sex" href="#">{% trans 'Erkak' %}</a></li>
                </ul>
              </div>
            </div>
          </section>
          <section class="choose-lenses">
            <div class="container">
              <div class="choose-lenses__inner">
                <div class="section-header--center">
                  <h2 class="heading">{% blocktrans %}O‘z uslubingizni tanlang {% endblocktrans %}</h2>
                </div>
                <div class="choose-lenses__select-color">
                  <ul>
                   {% for brand in brand_name %}
                       {% if brand.brand_name == "AMORE" or brand.brand_name == "Amore"%}
                 <li><a class="js-choose-color active" href="#" data-choose-color={{ brand.id }}>{{ brand.brand_name }}</a></li>
                       {% else %}
                    <li><a class="js-choose-color" href="#" data-choose-color={{ brand.id }}>{{ brand.brand_name }}</a></li>
                       {% endif %}
                      {% endfor %}
                  </ul>
                {% for brand in brand_name %}
                  <p data-show={{ brand.id }}>{{ brand.brand_text }}</p>
                {% endfor %}
                </div>

                <div class="choose-lenses__content">

                  <div class="choose-lenses__left">
                  {% for product in all_products %}
                   <div class="choose-lenses__left-top" data-show={{ product.id }}>
                      <div class="choose-lenses__title">NEO COSMO {{ product.brand_name }} {{ product.productname }}</div>

                      <div class="choose-lenses__purpose">
                        <div class="choose-lenses__title">{{ product.sezon}}</div>
                        <div class="choose-lenses__purpose-desc">{{ product.description }}</div>
                      </div>
                      <div class="choose-lenses__color">
                        <div class="choose-lenses__title">{% blocktrans %} BILAN YAXSHI KETADI: {% endblocktrans %}</div>
                        <ul>
                        {% for good in good_list %}

                          {% if good.product.id == product.id %}
                            <li>
                            <div class="choose-lenses__color-circle"></div><span>{{ good.name }}</span>
                            </li>
                           {% endif %}

                            {% endfor %}
                        </ul>
                      </div>
                      <div class="choose-lenses__feature">
                        <div class="choose-lenses__title">{% blocktrans %} MAVJUD OPTIK KUCHLAR: {% endblocktrans %}</div>
                        <div class="choose-lenses__feature-desc">{{ product.features }}</div>
                      </div>
                    </div>
                  {% endfor %}
                    <div class="choose-lenses__left-bottom"> <a class="btn" href="https://www.instagram.com/ar/1369517790183654">
                        <svg class="svgSymb svgSymb-sprite_camera">
                          <use href="#sprite_camera"></use>
                        </svg><p>{% blocktrans %}LINZANI VIRTUAL TAQIB  KO‘RISH {% endblocktrans %}</p></a></div>
                    
                  </div>
                  <div class="choose-lenses__right">
                    <div class="choose-lenses__right-top">
                      <div class="choose-lenses__select-lenses">
                        <div class="lens-slider">
                          <div class="swiper-wrapper lens-wrapper">
                        {% for product in  all_products %}
         <div class="swiper-slide js-lenses-slide" data-lenses-slide={{ product.brand_name.id }} data-show={{ product.id }}><img src="{{ product.lensePhoto.url }}" width="42" height="42" loading="lazy" alt=""></div>
                         {% endfor %}

                          </div>
                        </div>
                      </div>
                      <div class="choose-lenses__img">
                        <picture>
                          <source srcset="{% static './images/female.webp' %}, {% static './images/female@2x.webp' %} 1.5x" width="620" height="520" loading="lazy"><img class="js-bg-img" src="{% static './images/female.png' %}" srcset="{% static './images/female@2x.png' %} 1.5x" width="620" height="520" loading="lazy" alt="">
                        </picture>
                        <div class="choose-lenses__lens female"><img src="" alt=""></div>
                      </div>
                    </div>
                    <div class="choose-lenses__right-bottom">
                      <ul class="choose-lenses__toggle-sex">
                        <li><a class="active js-choose-sex" href="#">{% trans 'Ayol' %}</a></li>
                        <li><a class="js-choose-sex" href="#">{% trans 'Erkak' %}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="feature">
            <div class="container">
              <div class="feature__inner">
                <h2 class="heading">{% blocktrans %}Linzalarni qanday xususiyati bor ?{% endblocktrans %}</h2>
                <div class="feature-slider">
                  <div class="feature__desktop-list swiper-wrapper">
                    <div class="feature__item swiper-slide">
                      <div class="feature__item-inner">
                        <div class="feature__item-img"> <img src="{% static './images/feature/item1.svg' %}" width="142" height="142" alt=""><img src="{% static './images/feature/item-nocolor1.svg' %}" width="128" height="128" alt=""></div>
                        <div class="feature__item-desc">{% blocktrans %}Tanlash uchun ranglarni keng assortimenti mavjud {% endblocktrans %}</div>
                      </div>
                    </div>
                    <div class="feature__item swiper-slide">
                      <div class="feature__item-inner">
                        <div class="feature__item-img"> <img src="{% static './images/feature/item2.svg' %}" width="128" height="128" alt=""><img src="{% static './images/feature/item-nocolor2.svg' %}" width="128" height="128" alt=""></div>
                        <div class="feature__item-desc">{% blocktrans %}Ko‘zning tabiiy rangi bilan uyg’unlashadigan noyob naqshlar{% endblocktrans %}</div>
                      </div>
                    </div>
                    <div class="feature__item swiper-slide">
                      <div class="feature__item-inner">
                        <div class="feature__item-img"> <img src="{% static './images/feature/item3.svg' %}" width="128" height="128" alt=""><img src="{% static './images/feature/item-nocolor3.svg' %}" width="128" height="128" alt=""></div>
                        <div class="feature__item-desc">{% blocktrans %} Qulay taqish uchun 8 soat tavsiya etiladi {% endblocktrans %}</div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__mobile-next"> <img src="{% static './images/feature/arrow.svg' %}" alt=""></div>
                  <div class="feature__mobile-prev"><img src="{% static './images/feature/arrow.svg' %}" alt=""></div>
                </div>
              </div>
            </div>
          </section>
          <section class="reviews">
            <div class="container">
              <div class="reviews__inner">
                <h2 class="heading">{% blocktrans %}Mijozlarimizni fikr-mulohazalari {% endblocktrans %}</h2>
                <div class="reviews-slider">
                  <div class="swiper-wrapper">
                      {% for review in all_reviews %}
                    <div class="swiper-slide">
                      <div class="reviews__item">
                        <div class="reviews__item-img">
                          <div class="reviews__item-img-bg"></div><img src="{{ review.video_image.url }}" alt="">
                        </div>
                        <div class="reviews__item-play mklbItem" data-video-src="{{ review.video_file.url }}" type="video/mp4" >
                          <svg class="svgSymb svgSymb-sprite_play">
                            <use href="#sprite_play"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                  </div>
                  <div class="reviews-pagination"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="virtual">
            <div class="container">
              <div class="virtual__inner">
                <div class="virtual__left">
                  <picture>
                    <source srcset="{% static './images/virtual.webp' %}, {% static './images/virtual@2x.webp 1.5x' %}" width="640" height="614" loading="lazy"><img src="{% static './images/virtual.png' %}" srcset="{% static './images/virtual@2x.png' %} 1.5x" width="640" height="614" loading="lazy" alt="">
                  </picture><div class="virtual__left1"></div><div class="virtual__left2"></div><div class="virtual__left3"></div>
                </div>
                <div class="virtual__right">
                  <div class="section-header">
                    <h2 class="heading">{% blocktrans %}Linzani instagram filtr orqali sinab ko‘ring {% endblocktrans %}</h2>
                    <div class="section-header__description"> </div>
                    <div class="section-header__actions"><a class="btn" href="https://www.instagram.com/ar/1369517790183654">
                        <svg class="svgSymb svgSymb-sprite_camera">
                          <use href="#sprite_camera"></use>
                        </svg><p>{% blocktrans %}LINZANI VIRTUAL TAQIB  KO‘RISH {% endblocktrans %}</p></a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>


{% endblock content %}
