{% extends 'pages/base.html' %}
 {% load i18n %}
{% load static %}
{% block title %} Neo Cosmo  {% endblock title %}

{% block content %}


<div class="wrapper__content pg--katalog">
          <section class="lead lead--katalog">
            <div class="lead__bg">
              <video muted="muted" loop="loop" playsinline="playsinline" id="vid">
                <source src="{% static './videos/katalog.mp4' %}"/>
              </video>
            </div>
            <div class="lead__grad"></div>
          </section>
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="{% url 'homepage' %}">{% blocktrans %} Asosiy sahifa {% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>{% blocktrans %} Mahsulotlar {% endblocktrans %}</li>
              </ul>
            </div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">{% blocktrans %}  MAHSULOTLARIMIZ {% endblocktrans %}</h2>
                <p>{% blocktrans %}Har bir inson sevimli ko‘zlari uchun qulay va chiroyli kontakt linzalarni  xohlaydi, lekin hamma ham bu muammoni tezda hal qila olmaydi. Quyida barcha mahsulotlarimizni ko‘ring yoki filtrlar orqali o‘z imkoniyatlaringizni yana ham tezlashtiring. {% endblocktrans %}</p>
              </div>
            </div>
          </section>
          <section class="katalog-grid">
            <div class="container">
              <form class="katalog-grid__select" id="catalog" category-filter = "{% url 'filter_category_uz' %}" changetime-filter = "{% url 'filter_changetime' %}" method="GET">
                <div class="katalog-grid__select-item"><span>{% blocktrans %}Turini tanlang {% endblocktrans %}</span>
                    <select class="address__choose-item select2-single" data-placeholder="{% blocktrans %} Hammasi {% endblocktrans %}" id="product_category" name="categoryName">
                      {% for category in categories %}
                    <option value={{ category.id }}>{{ category.categoryName }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="katalog-grid__select-item"><span>{% blocktrans %}Almashtirish vaqti {% endblocktrans %}</span>
                  <select class="address__choose-item select2-single" data-placeholder="{% blocktrans %} Hammasi {% endblocktrans %}" id="product_changetime">
                      {% for changTime in changing_time %}
                    <option value={{ changTime.id }}>{{ changTime.time }}</option>
                        {% endfor %}
                  </select>
                </div>
                <button type="submit" style="position: absolute; left: -1000px" id="catalog_btn"></button>
              </form>
            </div>
            <div class="katalog-grid__inner">
              <div class="container">
                <div class="katalog-grid__list" id="loadProducts">

                    {% for product in products %}
                  <div class="katalog-grid__item">
                    <div class="katalog-grid__item-image">
                      <div class="swiper-wrapper">
                        <picture class="swiper-slide">
                        {% if product.productPhoto %}
                          <img src="{{ product.productPhoto.url }}" alt="" loading="lazy">
                        {% endif %}
                        </picture>
                        <picture class="swiper-slide">
                             {% if product.photo_upakovka %}
                          <img src="{{ product.photo_upakovka.url }}" alt="" loading="lazy">
                            {% endif %}
                        </picture>
                        <picture class="swiper-slide">
                            {% if product.lensePhoto %}
                       <img src="{{ product.lensePhoto.url }}" alt="" loading="lazy">
                            {% endif %}
                        </picture>
                      </div>
                      <div class="katalog-grid__slider-pagination"></div><a class="katalog-grid__slider-next" href="#">
                        <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                        </svg></a>
                      <a class="katalog-grid__slider-prev" href="#">
                        <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="katalog-grid__item-title">
                      <h4 class="heading heading--sm">{{ product.productname }}</h4>
                      <p>{{ product.description}}</p>
                    </div>
                    <div class="katalog-grid__item-time">
                      <svg class="svgSymb svgSymb-sprite_watch">
                        <use href="#sprite_watch"></use>
                      </svg>{{ product.time_to_change }}
                    </div>
                    <div class="katalog-grid__item-age">
                      <svg class="svgSymb svgSymb-sprite_calendar">
                        <use href="#sprite_calendar"></use>
                      </svg>{{ product.ageGroup }}
                    </div>
                    <div class="katalog-grid__item-price">
                      <svg class="svgSymb svgSymb-sprite_price">
                        <use href="#sprite_price"></use>
                      </svg>{{ product.price|floatformat:0 }} so'm
                    </div>
                    <div class="katalog-grid__item-actions"> <a class="btn btn--md" href="{% url 'productdetail' product.pk %}">{% blocktrans %}To‘liq ma’lumot olish{% endblocktrans %}</a></div>
                  </div>
                {% endfor %}
                </div>

                <div class="katalog-grid__pagination">
                {% if products.has_other_pages %}
                        {% if products.has_previous %}
                          <a href="?page={{ products.previous_page_number }}" class="btn">
                          <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                            </svg>
                          </a>
                        {% else %}
                           <a href="#" class="btn">
                          <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                            </svg>
                          </a>
                        {% endif %}


                      <ul class="pagination">
                        {% for i in products.paginator.page_range %}
                          {% if products.number == i %}
                          <li><a class="active">{{ i }}</a></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}

                      </ul>
                         {% if products.has_next %}
                          <a href="?page={{ products.next_page_number }}" class="btn">
                          <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                            </svg>
                          </a>
                        {% else %}
                         <a href="#" class="btn">
                          <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                          <use href="#sprite_breadcrumbs-arrow"></use>
                            </svg>
                          </a>
                        {% endif %}
                    {% endif %}
                </div>

              </div>
            </div>
          </section>

{% endblock content %}