{% extends 'pages/base.html' %}
 {% load i18n %}

{% load static %}

{% block title %} Neo Cosmo {% endblock title %}

{% block content %}


<div class="wrapper__content pg--lens-calculator">
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="{% url 'homepage' %}">{% blocktrans %} Asosiy sahifa{% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>{% blocktrans %} Linzalar kalkulyatori {% endblocktrans %}</li>
              </ul>
            </div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">{% blocktrans %} LINZALARNI OPTIK KUCHINI ENDI O‘ZINGIZ ANIQLANG {% endblocktrans %}</h2>
                <p>{% blocktrans %} 60 soniya ichida kontakt linzalarini optik kuchini  aniqlang {% endblocktrans %}</p>
              </div>
            </div>
          </section>
          <section class="calculator">
            <div class="container">
              <div class="calculator__inner">
                <div class="calculator__title">
                  <h3 class="heading">{% blocktrans %} Iltimos, ko‘zoynak uchun yozilgan o‘ng va chap ko‘zlarni optik kuchini tanlang {% endblocktrans %}</h3>
                </div>
                <div class="calculator__tabs"> <a class="js-calculator-sferik js-calculator-tab active" href="#" data-tab="sferik">{% blocktrans %}Sferik{% endblocktrans %}</a><a class="js-calculator-torik js-calculator-tab" href="#" data-tab="torik">{% blocktrans %}Astigmat{% endblocktrans %}</a></div>
                <form class="calculator__form" action="#" method="POST">
                  <div class="calculator__form-left">
                    <h4 class="heading">{% blocktrans %} Chap ko‘z {% endblocktrans %}</h4>
                    <div class="field js-sferik">
                      <label>{% blocktrans %}Sferik (SPH){% endblocktrans %}</label>
                      <select class="select2-single" data-placeholder="{% blocktrans %} Sferik-ni tanlang{% endblocktrans %}" id="sphere-left">
                        <option value="-14.00">-14.00</option>
                        <option value="-13.75">-13.75</option>
                        <option value="-13.50">-13.50</option>
                        <option value="-13.25">-13.25</option>
                        <option value="-13.00">-13.00</option>
                        <option value="-12.75">-12.75</option>
                        <option value="-12.50">-12.50</option>
                        <option value="-12.25">-12.25</option>
                        <option value="-12.00">-12.00</option>
                        <option value="-11.75">-11.75</option>
                        <option value="-11.50">-11.50</option>
                        <option value="-11.25">-11.25</option>
                        <option value="-11.00">-11.00</option>
                        <option value="-10.75">-10.75</option>
                        <option value="-10.50">-10.50</option>
                        <option value="-10.25">-10.25</option>
                        <option value="-10.00">-10.00</option>
                        <option value="-9.75">-9.75</option>
                        <option value="-9.50">-9.50</option>
                        <option value="-9.25">-9.25</option>
                        <option value="-9.00">-9.00</option>
                        <option value="-8.75">-8.75</option>
                        <option value="-8.50">-8.50</option>
                        <option value="-8.25">-8.25</option>
                        <option value="-8.00">-8.00</option>
                        <option value="-7.75">-7.75</option>
                        <option value="-7.50">-7.50</option>
                        <option value="-7.25">-7.25</option>
                        <option value="-7.00">-7.00</option>
                        <option value="-6.75">-6.75</option>
                        <option value="-6.50">-6.50</option>
                        <option value="-6.25">-6.25</option>
                        <option value="-6.00">-6.00</option>
                        <option value="-5.75">-5.75</option>
                        <option value="-5.50">-5.50</option>
                        <option value="-5.25">-5.25</option>
                        <option value="-5.00">-5.00</option>
                        <option value="-4.75">-4.75</option>
                        <option value="-4.50">-4.50</option>
                        <option value="-4.25">-4.25</option>
                        <option value="-4.00">-4.00</option>
                        <option value="-3.75">-3.75</option>
                        <option value="-3.50">-3.50</option>
                        <option value="-3.25">-3.25</option>
                        <option value="-3.00">-3.00</option>
                        <option value="-2.75">-2.75</option>
                        <option value="-2.50">-2.50</option>
                        <option value="-2.25">-2.25</option>
                        <option value="-2.00">-2.00</option>
                        <option value="-1.75">-1.75</option>
                        <option value="-1.50">-1.50</option>
                        <option value="-1.25">-1.25</option>
                        <option value="-1.00">-1.00</option>
                        <option value="-0.75">-0.75</option>
                        <option value="-0.50">-0.50</option>
                        <option value="-0.25">-0.25</option>
                        <option value="0">0</option>
                        <option value="+0.25">+0.25</option>
                        <option value="+0.50">+0.50</option>
                        <option value="+0.75">+0.75</option>
                        <option value="+1.00">+1.00</option>
                        <option value="+1.25">+1.25</option>
                        <option value="+1.50">+1.50</option>
                        <option value="+1.75">+1.75</option>
                        <option value="+2.00">+2.00</option>
                        <option value="+2.25">+2.25</option>
                        <option value="+2.50">+2.50</option>
                        <option value="+2.75">+2.75</option>
                        <option value="+3.00">+3.00</option>
                        <option value="+3.25">+3.25</option>
                        <option value="+3.50">+3.50</option>
                        <option value="+3.75">+3.75</option>
                        <option value="+4.00">+4.00</option>
                        <option value="+4.25">+4.25</option>
                        <option value="+4.50">+4.50</option>
                        <option value="+4.75">+4.75</option>
                        <option value="+5.00">+5.00</option>
                        <option value="+5.25">+5.25</option>
                        <option value="+5.50">+5.50</option>
                      </select>
                    </div>
                    <div class="field js-torik">
                      <label>Silindr (CYL)</label>
                      <select class="select2-single" data-placeholder="{% blocktrans %}Silindr-ni tanlang{% endblocktrans %}" id="cyl-left">
                        <option value="-3.25">-3.25</option>
                        <option value="-3.00">-3.00</option>
                        <option value="-2.75">-2.75</option>
                        <option value="-2.50">-2.50</option>
                        <option value="-2.25">-2.25</option>
                        <option value="-2.00">-2.00</option>
                        <option value="-1.75">-1.75</option>
                        <option value="-1.50">-1.50</option>
                        <option value="-1.25">-1.25</option>
                        <option value="-1.00">-1.00</option>
                        <option value="-0.75">-0.75</option>
                        <option value="-0.50">-0.50</option>
                        <option value="-0.25">-0.25</option>
                        <option value="0">0</option>
                      </select>
                    </div>
                    <div class="field js-torik">
                      <label>AXIS(AXI)</label>
                      <select class="select2-single" data-placeholder="Select AXIS" id="axi-left">
                        <option value="10">10&#xb0</option>
                        <option value="20">20&#xb0</option>
                        <option value="30">30&#xb0</option>
                        <option value="40">40&#xb0</option>
                        <option value="50">50&#xb0</option>
                        <option value="60">60&#xb0</option>
                        <option value="70">70&#xb0</option>
                        <option value="80">80&#xb0</option>
                        <option value="90">90&#xb0</option>
                        <option value="100">100&#xb0</option>
                        <option value="110">110&#xb0</option>
                        <option value="120">120&#xb0</option>
                        <option value="130">130&#xb0</option>
                        <option value="140">140&#xb0</option>
                        <option value="150">150&#xb0</option>
                        <option value="160">160&#xb0</option>
                        <option value="170">170&#xb0</option>
                        <option value="180">180&#xb0</option>
                      </select>
                    </div>
                  </div>
                  <div class="calculator__form-right">
                    <h4 class="heading">{% blocktrans %} O‘ng  ko‘z {% endblocktrans %}</h4>
                    <div class="field js-sferik">
                      <label>Sphere(SPH)</label>
                      <select class="select2-single" data-placeholder="Select Spherical" id="sphere-right">
                        <option value="-14.00">-14.00</option>
                        <option value="-13.75">-13.75</option>
                        <option value="-13.50">-13.50</option>
                        <option value="-13.25">-13.25</option>
                        <option value="-13.00">-13.00</option>
                        <option value="-12.75">-12.75</option>
                        <option value="-12.50">-12.50</option>
                        <option value="-12.25">-12.25</option>
                        <option value="-12.00">-12.00</option>
                        <option value="-11.75">-11.75</option>
                        <option value="-11.50">-11.50</option>
                        <option value="-11.25">-11.25</option>
                        <option value="-11.00">-11.00</option>
                        <option value="-10.75">-10.75</option>
                        <option value="-10.50">-10.50</option>
                        <option value="-10.25">-10.25</option>
                        <option value="-10.00">-10.00</option>
                        <option value="-9.75">-9.75</option>
                        <option value="-9.50">-9.50</option>
                        <option value="-9.25">-9.25</option>
                        <option value="-9.00">-9.00</option>
                        <option value="-8.75">-8.75</option>
                        <option value="-8.50">-8.50</option>
                        <option value="-8.25">-8.25</option>
                        <option value="-8.00">-8.00</option>
                        <option value="-7.75">-7.75</option>
                        <option value="-7.50">-7.50</option>
                        <option value="-7.25">-7.25</option>
                        <option value="-7.00">-7.00</option>
                        <option value="-6.75">-6.75</option>
                        <option value="-6.50">-6.50</option>
                        <option value="-6.25">-6.25</option>
                        <option value="-6.00">-6.00</option>
                        <option value="-5.75">-5.75</option>
                        <option value="-5.50">-5.50</option>
                        <option value="-5.25">-5.25</option>
                        <option value="-5.00">-5.00</option>
                        <option value="-4.75">-4.75</option>
                        <option value="-4.50">-4.50</option>
                        <option value="-4.25">-4.25</option>
                        <option value="-4.00">-4.00</option>
                        <option value="-3.75">-3.75</option>
                        <option value="-3.50">-3.50</option>
                        <option value="-3.25">-3.25</option>
                        <option value="-3.00">-3.00</option>
                        <option value="-2.75">-2.75</option>
                        <option value="-2.50">-2.50</option>
                        <option value="-2.25">-2.25</option>
                        <option value="-2.00">-2.00</option>
                        <option value="-1.75">-1.75</option>
                        <option value="-1.50">-1.50</option>
                        <option value="-1.25">-1.25</option>
                        <option value="-1.00">-1.00</option>
                        <option value="-0.75">-0.75</option>
                        <option value="-0.50">-0.50</option>
                        <option value="-0.25">-0.25</option>
                        <option value="0">0</option>
                        <option value="+0.25">+0.25</option>
                        <option value="+0.50">+0.50</option>
                        <option value="+0.75">+0.75</option>
                        <option value="+1.00">+1.00</option>
                        <option value="+1.25">+1.25</option>
                        <option value="+1.50">+1.50</option>
                        <option value="+1.75">+1.75</option>
                        <option value="+2.00">+2.00</option>
                        <option value="+2.25">+2.25</option>
                        <option value="+2.50">+2.50</option>
                        <option value="+2.75">+2.75</option>
                        <option value="+3.00">+3.00</option>
                        <option value="+3.25">+3.25</option>
                        <option value="+3.50">+3.50</option>
                        <option value="+3.75">+3.75</option>
                        <option value="+4.00">+4.00</option>
                        <option value="+4.25">+4.25</option>
                        <option value="+4.50">+4.50</option>
                        <option value="+4.75">+4.75</option>
                        <option value="+5.00">+5.00</option>
                        <option value="+5.25">+5.25</option>
                        <option value="+5.50">+5.50</option>
                      </select>
                    </div>
                    <div class="field js-torik">
                      <label>Cylinder(CYL)</label>
                      <select class="select2-single" data-placeholder="Select Cylinder" id="cyl-right">
                        <option value="-3.25">-3.25</option>
                        <option value="-3.00">-3.00</option>
                        <option value="-2.75">-2.75</option>
                        <option value="-2.50">-2.50</option>
                        <option value="-2.25">-2.25</option>
                        <option value="-2.00">-2.00</option>
                        <option value="-1.75">-1.75</option>
                        <option value="-1.50">-1.50</option>
                        <option value="-1.25">-1.25</option>
                        <option value="-1.00">-1.00</option>
                        <option value="-0.75">-0.75</option>
                        <option value="-0.50">-0.50</option>
                        <option value="-0.25">-0.25</option>
                        <option value="0">0</option>
                      </select>
                    </div>
                    <div class="field js-torik">
                      <label>AXIS(AXI)</label>
                      <select class="select2-single" data-placeholder="Select AXIS" id="axi-right">
                        <option value="10">10&#xb0</option>
                        <option value="20">20&#xb0</option>
                        <option value="30">30&#xb0</option>
                        <option value="40">40&#xb0</option>
                        <option value="50">50&#xb0</option>
                        <option value="60">60&#xb0</option>
                        <option value="70">70&#xb0</option>
                        <option value="80">80&#xb0</option>
                        <option value="90">90&#xb0</option>
                        <option value="100">100&#xb0</option>
                        <option value="110">110&#xb0</option>
                        <option value="120">120&#xb0</option>
                        <option value="130">130&#xb0</option>
                        <option value="140">140&#xb0</option>
                        <option value="150">150&#xb0</option>
                        <option value="160">160&#xb0</option>
                        <option value="170">170&#xb0</option>
                        <option value="180">180&#xb0</option>
                      </select>
                    </div>
                  </div>
                  <div class="calculator__form-button"><a class="btn btn--lg" id="calculator_btn">{% blocktrans %} Yuborish {% endblocktrans %}</a></div>
                </form>
                <div class="calculator__form-answer">
                  <div class="calculator__form-answer-desc">{% blocktrans %}Sizning talablaringizga ko'ra, quyidagi kontakt linza sizga to'g'ri keladi {% endblocktrans %}</div>
                  <div class="calculator__form-answer-table">
{#                      Исходя из ваших требований, вот ваши возможности для контактных линз#}
                    <table> 
                      <thead> 
                        <tr> 
                          <th style="border-bottom:0 solid transparent"></th>
                          <th>{% blocktrans %}Chap ko‘z{% endblocktrans %}</th>
                          <th>{% blocktrans %}O‘ng ko‘z{% endblocktrans %}</th>
                        </tr>
                      </thead>
                      <tbody> 
                        <tr> 
                          <td style="font-weight: 500">{% blocktrans %}Sferik(SPH){% endblocktrans %}</td>
                          <td class="js-answerSphereLeft"></td>
                          <td class="js-answerSphereRight"></td>
                        </tr>
                        <tr class="js-torik">
                          <td style="font-weight: 500">{% blocktrans %}CYLINDER(CYL){% endblocktrans %}</td>
                          <td class="js-answerCylinderLeft"></td>
                          <td class="js-answerCylinderRight"></td>
                        </tr>
                        <tr class="js-torik">
                          <td style="font-weight: 500">{% blocktrans %}Axis(AX){% endblocktrans %}</td>
                          <td class="js-answerAxisLeft"></td>
                          <td class="js-answerAxisRight"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="virtual">
            <div class="container">
              <div class="virtual__inner">
                <div class="virtual__left">
                  <picture>
                    <source srcset="{% static './images/virtual.webp' %}, {% static './images/virtual@2x.webp' %} 1.5x" width="640" height="614" loading="lazy"><img src="{% static './images/virtual.png' %}" srcset="{% static './images/virtual@2x.png' %} 1.5x" width="640" height="614" loading="lazy" alt="">
                  </picture>
                </div>
                <div class="virtual__right">
                  <div class="section-header">
                    <h2 class="heading">{% blocktrans %} Linzani instagram filtr orqali sinab ko‘ring {% endblocktrans %}</h2>
                    <div class="section-header__description"></div>
                    <div class="section-header__actions"><a class="btn" href="https://www.instagram.com/ar/1369517790183654">
                        <svg class="svgSymb svgSymb-sprite_camera">
                          <use href="#sprite_camera"></use>
                        </svg><p>{% blocktrans %} LINZANI VIRTUAL TAQIB  KO‘RISH {% endblocktrans %}</p></a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>


{% endblock content %}