 {% load i18n %}
{% if stores_uz %}
{% for store in stores_uz %}

    <div class="address__item js-address-item" data-address-lat={{ store.lat }} data-address-lng={{ store.lang }}>
<div class="address__item-title">
 <svg class="svgSymb svgSymb-sprite_market">
 <use href="#sprite_market"></use>
</svg>

  <h3 class="heading heading--md">{{ store.store_name }}</h3>
 </div>

      <div class="address__item-location">
      <svg class="svgSymb svgSymb-sprite_location">
       <use href="#sprite_location"></use>
      </svg>

          <p>{{ region_uz }}, {{ district_uz }}, {{ store.street }}</p>
        </div>
      <div class="address__item-phone">
      <svg class="svgSymb svgSymb-sprite_phone">
      <use href="#sprite_phone"></use>
     </svg><a href="tel:{{ store.store_phone }}">{{ store.store_phone }}</a>

       </div>
       </div>
            {% endfor %}
    {% else %}
  <h3 class="heading heading--md">{% blocktrans %}Hamkor optika do'koni sizning hududingizda hozircha mavjud emas. {% endblocktrans %}</h3>
            {% endif %}