{% extends 'pages/base.html' %}
 {% load i18n %}
{% load static %}

{% block title %} Neo Cosmo {% endblock title %}

{% block content %}

        <div class="wrapper__content pg--product-page">
          <section class="lead lead--product-page">
          </section>
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="{% url 'homepage' %}">{% blocktrans %}Asosiy sahifa {% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li> <a href="{% url 'katalogpage' %}">{% blocktrans %}Mahsulotlar {% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>
                   {{ product.brand_name }} {{ product.productname }}</li>
              </ul>
            </div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">NEO COSMO {{ product.brand_name }} {{ product.productname }}</h2>
                <p>{{ product.description }}</p>
              </div>
            </div>
          </section>
          <section class="product-slider">
            <div class="container">
              <div class="product-slider__inner">
                <div class="product-slider__swiper">
                  <div class="product-slider__item">
                    <div class="product-slider__image">
                      <svg class="svgSymb svgSymb-sprite_bag">
                        <use href="#sprite_bag"></use>
                      </svg>
                    </div>
                    <div class="product-slider__desc">
                      <p>{% blocktrans %} Xamyonbop xarid {% endblocktrans %}</p>
                    </div>
                  </div>
                  <div class="product-slider__item">
                    <div class="product-slider__image">
                      <svg class="svgSymb svgSymb-sprite_eye">
                        <use href="#sprite_eye"></use>
                      </svg>
                    </div>
                    <div class="product-slider__desc">
                      <p>{% blocktrans %}Asferik dizayn {% endblocktrans %}</p>
                    </div>
                  </div>
                  <div class="product-slider__item">
                    <div class="product-slider__image">
                      <svg class="svgSymb svgSymb-sprite_eye2">
                        <use href="#sprite_eye2"></use>
                      </svg>
                    </div>
                    <div class="product-slider__desc">
                      <p>{% blocktrans %}Yuqori namlik {% endblocktrans %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="product-slider__pagination"></div>
          <section class="product">
            <div class="container">
              <div class="product__inner">
                <div class="product__left">
                  <div class="product__left-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <picture>
                          <source srcset="{{ product.productPhoto.url }}, {{ product.productPhoto.url }} 1.5x" loading="lazy"><img src="{{ product.productPhoto.url }}" srcset="{{ product.productPhoto.url }} 1.5x" alt=""  loading="lazy">
                        </picture>
                      </div>
                  <div class="swiper-slide">
                        <picture>
                          <source srcset="{{ product.photo_upakovka.url }}, {{ product.photo_upakovka.url }} 1.5x" loading="lazy"><img src="{{ product.photo_upakovka.url }}" srcset="{{ product.photo_upakovka.url }} 1.5x" alt=""  loading="lazy">
                        </picture>
                      </div>
                  <div class="swiper-slide">
                        <picture>
                          <source srcset="{{ product.lensePhoto.url }}, {{ product.lensePhoto.url }} 1.5x" loading="lazy"><img src="{{ product.lensePhoto.url }}" srcset="{{ product.lensePhoto.url }} 1.5x" alt=""  loading="lazy">
                        </picture>
                      </div>



                    </div>
                  </div>
                  <div class="product__left-pagination"> </div>
                </div>
                <div class="product__right">
                  <h2 class="heading">NEO COSMO {{ product.brand_name }} {{ product.productname }}</h2>
                  <div class="product__characteristic">
                    <ul>
                      <li>{% blocktrans %} Diametri {% endblocktrans %}</li>
                      <li>{% blocktrans %} Linzaning egrilik radiusi {% endblocktrans %}</li>
                      <li>{% blocktrans %} Tarkibidagi namlik {% endblocktrans %}</li>
                      <li>{% blocktrans %} Material / material turi {% endblocktrans %}</li>
                      <li>{% blocktrans %} Linza dizayni {% endblocktrans %}</li>
                      <li>{% blocktrans %} Taqish vaqti {% endblocktrans %}</li>
                      <li>{% blocktrans %} Almashtirish vaqti {% endblocktrans %}</li>
                      <li>{% blocktrans %} Paketdagi blisterlar soni {% endblocktrans %}</li>
                      <li>{% blocktrans %} Ishlab chiqaruvchi {% endblocktrans %}</li>
                    </ul>
                    <ul>
                      <li>{{ product.diameter }}</li>
                      <li>{{ product.radius }}</li>
                      <li>{{ product.humidity }}</li>
                      <li>{{ product.material_type }}</li>
                      <li>{{ product.design }}</li>
                      <li>{{ product.time_of_use }}</li>
                      <li>{{ product.time_to_change }} </li>
                      <li>{{ product.number_of_blisters }}</li>
                      <li>{{ product.country }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="virtual">
            <div class="container">
              <div class="virtual__inner">
                <div class="virtual__left">
                  <picture>
                    <source srcset="{% static './images/virtual.webp' %}, {% static './images/virtual@2x.webp' %} 1.5x"  loading="lazy"><img src="{% static './images/virtual.png' %}" srcset="{% static './images/virtual@2x.png' %} 1.5x" loading="lazy" alt="">
                  </picture><div class="virtual__left1"></div><div class="virtual__left2"></div><div class="virtual__left3"></div>
                </div>
                <div class="virtual__right">
                  <div class="section-header">
                    <h2 class="heading">{% blocktrans %} Linzani instagram filter orqali sinab ko’ring {% endblocktrans %}</h2>
                    <div class="section-header__description"></div>
                    <div class="section-header__actions"><a class="btn" href="https://www.instagram.com/ar/1369517790183654">
                        <svg class="svgSymb svgSymb-sprite_camera">
                          <use href="#sprite_camera"></use>
                        </svg><p>{% blocktrans %} LINZANI VIRTUAL TAQIB  KO‘RISH {% endblocktrans %}</p></a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>


{% endblock %}