.footer
    background: $clr-bg-footer
    +xs-block()
        padding-bottom: 52px
    +xxs-block()
        border-top: 1px solid rgba(196, 196, 236, 0.4)

    &__desktop
        display: flex
        align-items: center
        padding: 64px 0 88px
        +md-block()
            flex-wrap: wrap
            justify-content: center
        +sm-block()
            padding: 30px
        +xxs-block()
            justify-content: flex-start
            padding: 33px 0 0 0

    &__content
        flex: 0 0 auto
        +md-block()
            text-align: center
            margin-bottom: 35px
        +xxs-block()
            order: 1
            display: flex
            flex-direction: column-reverse
            text-align: left
            width: 100%
            margin: 0

    &__logo
        display: inline-block
        margin-bottom: 32px
        +sm-block()
            margin-bottom: 15px
        +xxs-block()
            display: none
        picture
            &:first-child
                +md-block()
                    display: none
            &:last-child
                display: none
                +md-block()
                    display: inline-block

    &__mobile-logo
        display: none
        +xxs-block()
            display: block
            max-width: 133px
            width: 100%
            margin-bottom: 12px

    &__copyright
        font-size: 14px
        margin-bottom: 32px
        position: relative
        +sm-block()
            margin-bottom: 15px
        +xxs-block()
            font-size: $fz-xxs
            margin: 0
            padding: 22px 0 5px

            br
                display: none

            &::before
                content: ''
                display: block
                width: 150%
                height: 1px
                background: rgba(196, 196, 196, 0.43)
                position: absolute
                top: 0
                transform: translateX(-20%)


        p
            margin: 0

    &__social
        display: flex
        align-items: center
        list-style: none
        margin: -8px
        +md-block()
            justify-content: center
        +xs-block()
            justify-content: space-between
            margin: 0 0 16px 0

        li
            margin: 8px
            +xxs-block()
                margin: 0

            a
                display: inline-block
                width: 32px
                height: 32px
                border-radius: 50%
                background: rgba($clr-burger, 0.1)
                display: flex
                align-items: center
                justify-content: center
                color: #616267
                transition: 0.3s
                +xxs-block()
                    width: 40px
                    height: 40px
                
                &:hover
                    background: $clr-main
                    color: $clr-white

        .svgSymb-sprite_instagram
            width: 17px
            +xxs-block()
                width: 21px
        .svgSymb-sprite_facebook
            width: 10px
            +xxs-block()
                width: 12px
        .svgSymb-sprite_telegram
            width: 19px
            +xxs-block()
                width: 24px
        .svgSymb-sprite_youtube
            width: 17px
            +xxs-block()
                width: 21px


    &__nav
        flex: 1 1 100%
        display: flex
        align-items: center
        justify-content: space-evenly
        +md-block()
            width: 100%
            flex-wrap: wrap
            justify-content: space-around
        +xxs-block()
            justify-content: flex-start
            margin-bottom: 24px
            align-items: stretch

    &__menu
        +sm-block()
            text-align: center
            width: 50%
            margin-bottom: 35px
            &:last-child
                margin-bottom: 0
        +xs-block()
            width: 100%
        +xxs-block()
            width: 50%
            text-align: left
            &:last-child
                width: 100%

        &-title
            margin: 0
            margin-bottom: 24px
            font-size: 20px
            font-weight: 500
            +sm-block()
                margin-bottom: 15px
            +xxs-block()
                font-size: $fz-base

        ul
            list-style: none
            margin: 0
            padding: 0

            li
                margin: 8px 0
                +first-last-margin()

            a
                text-decoration: none
                transition: color 0.3s
                &:hover
                    color: $clr-main
                +xxs-block()
                    font-size: 14px

    &__mobile-bottom
        display: none
        background: $clr-main
        color: $clr-white
        padding: 14px 0
        text-align: center
        font-size: $fz-xs
        position: fixed
        bottom: 0
        width: 100%
        z-index: 1000
        +xxs-block()
            display: block

        a 
            text-decoration: none
