.header
    position: fixed
    z-index: 10
    width: 100%
    background: $clr-white
    box-shadow: 0px 4px 43px rgba(213, 212, 212, 0.3)
    &__inner
        display: flex
        align-items: center
        padding: 18px 0 10px
        +lg-block()
            justify-content: space-between

    &__left

        img
            +sm-block()
                width: 200px

    &__center
        flex: 1 1 auto
        +lg-block()
            display: none

    &__right
        display: flex
        align-items: center
        justify-content: flex-end
        margin: -16px
        +sm-block()
            margin: -10px

        div,
        .burger
            margin: 16px
            +sm-block()
                margin: 10px

    &__menu
        
        ul
            display: flex
            align-items: center
            list-style: none
            justify-content: space-evenly

            li 

                a
                    text-decoration: none
                    font-size: $fz-xs
                    transition: color 0.3s
                    &:hover
                        color: $clr-main

                &:last-child
                    display: flex
                    align-items: center
                    position: relative
                    overflow: hidden

                    a
                        margin-right: 8px

                    &>svg
                        transition: 0.3s
                        transform: rotate(90deg)
                        width: 15px
                    &:hover
                        overflow: visible
                        svg
                            transform: rotate(-90deg)
                            color: $clr-main

    &__toggle-lang

        +xs-block()
            display: none
        ul
            display: flex
            align-items: center
            list-style: none
            margin: -10px

            li
                margin: 10px
                position: relative

                button
                    text-decoration: none
                    text-transform: uppercase
                    transition: color 0.3s
                    color: $clr-text-gray
                    background: none
                    border: none
                    cursor: pointer


                    &:hover
                        color: $clr-main
                    &.active
                        color: $clr-main

                &:not(:last-child)
                    &::after
                        content: "/"
                        display: block
                        position: absolute
                        font-size: $fz-xs
                        font-weight: 400
                        color: $clr-text-gray
                        bottom: 0
                        right: -14px


    &__action

        +xxs-block()
            display: none

        .btn
            padding: 10px 12px
            +sm-block()
                font-size: $fz-xs


    &__submenu
        position: absolute
        top: 100%
        left: 0
        right: 0
        background: #fff
        transition: 0.3s
        width: max-content
        max-width: 500px
        ul
            padding: 12px
            display: flex
            flex-direction: column
            align-items: flex-start
            li
                a
                    font-size: 14px
