html,
body
	min-width: 320px
	min-height: 100vh

html
	overflow: auto

body
	overflow: hidden
	min-width: 320px
	line-height: 1.5

*,
*:before,
*:after
	box-sizing: border-box
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	-moz-tap-highlight-color: rgba(0, 0, 0, 0)

svg
	fill: currentColor !important
	pointer-events: none

img
	display: block
	max-width: 100%
	height: auto

.wrapper
	display: flex
	position: relative
	min-height: 100vh
	min-width: 320px
	background: #ffffff
	overflow: hidden

	&__inner
		display: flex
		flex-direction: column
		width: 100%
		min-height: 100vh

	&__content
		flex-grow: 1
		flex-shrink: 1
		flex-basis: auto

.overflow-hidden
	overflow: hidden

.container
	position: relative
	max-width: 1340px
	min-width: 320px
	padding: 0 30px
	margin: 0 auto
	@include lg-block
		width: 970px
	@include md-block
		width: 100%
		padding: 0 15px

.svgSprite
	position: absolute
	left: 0
	top: 0
	height: 0
	width: 0
	visibility: hidden

a
	text-decoration: underline
	color: inherit
	transition: all 0.2s

	&:hover
		text-decoration: none

	.svgSymb
		display: block
