.mobile-menu
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	right: 0
	background-color: #fff
	width: 100%
	height: 100%
	transition: all 0.2s

	.container
		+xs-block()
			padding: 0
	+xs-block()
		background: rgba(0, 0, 0, .25)

	&__inner
		padding: 85px 0
		position: relative
		+xs-block()
			padding-top: 0

	&__content
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: relative

		+xs-block()
			background: #fff
			height: 100%
			width: 72%
			position: fixed
			right: 0
			transition: 1s
			align-items: flex-start
			text-align-last: left

		&>a
			margin: auto 0 15px

	&__menu
		display: flex
		align-items: center
		padding-left: 16px
		text-decoration: none
		svg
			transform: rotate(180deg)
			margin-right: 15px
	&__list
		list-style-type: none
		padding: 0
		margin: 0
		text-align: center
		margin-bottom: 25px
		+xs-block()
			margin-bottom: 32px
			margin-top: auto

		li
			margin: 16px 0
			@include first-last-margin
			position: relative
			+xs-block()
				padding-left: 16px

				&:not(:last-child)
					&::after
						content: ''
						display: block
						width: 200%
						height: 1px
						background: rgba(196, 196, 236, 0.4)
						margin-left: -20px



		a
			font-size: $fz-sm
			text-decoration: none
			font-weight: 500
			transition: color 0.3s
			display: flex
			align-items: center
			justify-content: center
			+xs-block()
				font-size: $fz-xs
				justify-content: flex-start
				flex-wrap: wrap
			+xxs-block()
				font-size: 14px

			&:hover
				color: $clr-main

			svg
				margin-left: 20px
				+xs-block()
					margin-left: 5px

	&__toggle-lang
		align-items: center
		list-style: none
		margin: -12px
		margin-bottom: 25px
		display: none
		+xs-block()
			display: flex
		+xs-block()
			padding-left: 16px
			margin-bottom: auto

		li
			margin: 12px

		button
			width: 48px
			height: 48px
			display: inline-block
			text-decoration: none
			text-transform: uppercase
			display: flex
			align-items: center
			justify-content: center
			background: $clr-bg-gray
			border-radius: 50%
			color: $clr-burger
			font-weight: 500
			transition: 0.3s
			border: none
			cursor: pointer

			&:hover
				color: $clr-white
				background: $clr-main

			&.active
				color: $clr-white
				background: $clr-main

	&__social
		display: flex
		align-items: center
		list-style: none
		margin: -16px
		padding: 16px 0
		position: relative
		justify-content: center
		flex-wrap: wrap
		&::before
			content: ''
			display: none
			width: 100%
			height: 1px
			background: rgba(196, 196, 236, 0.4)
			position: absolute
			left: 0
			top: 0
			+xs-block()
				width: 200%
				display: block
		+xs-block()
			padding: 16px 10px
			margin: 0
			width: 100%
			justify-content: space-between

		li
			margin: 16px
			+xs-block()
				margin: 0

			a
				width: 40px
				height: 40px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				background: $clr-bg-gray
				color: #616267
				transition: 0.3s
				&:hover
					color: $clr-white
					background: $clr-main

	&__action
		text-align: center
		margin-bottom: 30px
		display: none
		@include xs-block
			display: block


	.burger
		position: absolute
		right: 30px
		top: 45px
		@include md-block
			right: 20px
			top: 34px
		// @include xs-block
		// 	top: 19px

.mobile-menu.open
	opacity: 1
	visibility: visible
	transition: all 0.2s
	z-index: 1001

	.mobile-menu__content
		right: 0

	@include from(1200px)
		opacity: 0
		visibility: hidden
