footer.footer 
  .container 
    .footer__desktop
      .footer__mobile-logo 
        picture
          source(srcset="./images/logo-mobile.webp, ./images/logo-mobile@2x.webp 1.5x" width="261" height="52" loading="lazy")
          img(src="./images/logo-mobile.png" srcset="./images/logo-mobile@2x.png 1.5x" width="261" height="52" loading="lazy" alt="Company logo")
      .footer__content
        a.footer__logo(href="/") 
          picture 
            source(srcset="./images/logo.webp, ./images/logo@2x.webp 1.5x" width="261" height="52" loading="lazy")
            img(src="./images/logo.png" srcset="./images/logo@2x.png 1.5x" width="261" height="52" loading="lazy" alt="Company logo")
          picture
            source(srcset="./images/logo-mobile.webp, ./images/logo-mobile@2x.webp 1.5x" width="261" height="52" loading="lazy")
            img(src="./images/logo-mobile.png" srcset="./images/logo-mobile@2x.png 1.5x" width="261" height="52" loading="lazy" alt="Company logo")
        .footer__copyright
          p Copyright © 
            script document.write(new Date().getFullYear())
            |  NEO COSMO <br> All rights reserved
        ul.footer__social 
          li
            a(href="#") 
              +icon('sprite_instagram')
          li
            a(href="#") 
              +icon('sprite_facebook')
          li
            a(href="#") 
              +icon('sprite_telegram')
          li
            a(href="#") 
              +icon('sprite_tik-tok')
          li
            a(href="#") 
              +icon('sprite_youtube')
      .footer__nav
        .footer__menu 
          h4.footer__menu-title Mahsulotlar
          ul
            li
              a(href="#") Rangli linzalar
            li
              a(href="#") Sferik linzalar
            li
              a(href="#") Karnaval linzalar
            li
              a(href="#") Astigmat linzalar
        .footer__menu 
          h4.footer__menu-title NEO COSMO
          ul
            li
              a(href="#") Kompaniya haqida
            li
              a(href="#") Shartnoma taklifi
            li
              a(href="#") Biz bilan bog’lanish
            li
              a(href="#") Sertefikatlar
        .footer__menu 
          h4.footer__menu-title Xizmat ko’rsatish markazi
          ul
            li
              a(href="#") Tez-tez so’raladigon savollar
            li
              a(href="#") Linzalar kalkulyatori
            li
              a(href="#") Biz bilan bog’lanish
            li
              a(href="#") Do’konni aniqlash
  .footer__mobile-bottom 
    a(href="https://t.me/neocosmo_uz")  Eng yaqin optikadan qidiring