header.header
  .container
    .header__inner
      .header__left
        a(href="/") 
          picture 
            source(srcset="./images/logo.webp, ./images/logo@2x.webp 1.5x" width="261" height="52" loading="lazy")
            img(src="./images/logo.png" srcset="./images/logo@2x.png 1.5x" width="261" height="52" loading="lazy" alt="Company logo")
      .header__center
        nav.header__menu
          ul
            - for (var i = 0; i < menu.length; i++)
              li
                a(href=menu[i].link)=menu[i].text
            li 
              a(href="#") Xizmat ko’rsatish markazi
              +icon("sprite_arrow-right")
              .header__submenu 
                ul 
                  li 
                    a(href="./faq.html") Tez-tez so’raladigon savollar
                  li 
                    a(href="./lens-calculator.html") Linzalar kalkulyatori
                  li 
                    a(href="./contact-us.html") Biz bilan bog’lanish
                  li 
                    a(href="./store.html") Do’konni aniqlash
      .header__right
        .header__toggle-lang 
          ul 
            li
              button.active uz
            li
              button ru
            li
              button en
        a(href='#').burger.js-mobile-menu-toggle