-
    var mobileMenu = [
        {
            link: './',
            text: 'Asosiy sahifa',
        },
        {
            link: './katalog.html',
            text: 'Maxsulotlar',
        },
        {
            link: './about.html',
            text: 'Linzalar haqida',
        },
        {
            link: './why.html',
            text: 'Nima uchun neo cosmo',
        },
    ]

.mobile-menu
    .container
        .mobile-menu__inner
            .mobile-menu__content 
                a(href="#").js-mobile-menu__button.mobile-menu__menu
                    +icon("sprite_arrow-right")
                    | Menu
                ul.mobile-menu__list
                    - for(var i = 0; i < mobileMenu.length; i++)
                        li 
                            a(href=mobileMenu[i].link)=mobileMenu[i].text 
                    li 
                        a(href="#").js-open-mobileSubMenu
                            | Xizmat ko’rsatish markazi
                            +icon("sprite_arrow-right")
                ul.mobile-menu__list
                    li 
                        a(href="./faq.html") Tez-tez so’raladigon savollar
                    li 
                        a(href="./lens-calculator.html") Linzalar kalkulyatori
                    li 
                        a(href="./contact-us.html") Biz bilan bog’lanish
                    li 
                        a(href="./store.html") Do’konni aniqlash
                ul.mobile-menu__toggle-lang 
                    li
                        button.active uz
                    li
                        button ru
                    li
                        button en 
                ul.mobile-menu__social 
                    li
                        a(href="#") 
                            +icon('sprite_instagram')
                    li
                        a(href="#") 
                            +icon('sprite_facebook')
                    li
                        a(href="#") 
                            +icon('sprite_telegram')
                    li
                        a(href="#") 
                            +icon('sprite_tik-tok')
                    li
                        a(href="#") 
                            +icon('sprite_youtube')
            a(href='#').burger.js-mobile-menu-toggle
