.about-grid

    &__inner
        +row-flex()
        align-items: flex-start
        justify-content: space-between

    &__item
        +col()
        +size(5.9)
        +size-sm(12)
        padding: 30px 15px 
        background: $clr-main
        border-radius: 16px
        margin-bottom: 60px
        +xs-block()
            padding-bottom: 32px

    &__video
        position: relative
        overflow: hidden
        border-radius: 16px
        border: 2px solid #fff
        margin-bottom: 24px

        &-img
            position: relative
            top: 0
            left: 0
            z-index: 0
            +sm-block()
                width: 100%

            img
                width: 100%
                object-fit: cover

        &-grad
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            background: linear-gradient(0deg, #00000020, #00000020)

        &-play
            position: absolute
            z-index: 2
            top: 50%
            left: 50%
            width: 80px
            height: 80px
            display: flex
            justify-content: center
            align-items: center
            border: 2px solid #fff
            border-radius: 50%
            transform: translate(-50%, -50%)

            svg
                color: $clr-white

    &__title
        .heading
            font-size: 24px
            margin-bottom: 36px
            color: $clr-white
            letter-spacing: 0.02em
            position: relative

        &.active
            .heading
                &::after
                    content: ''
                    display: block
                    height: 1px
                    width: 80%
                    background: $clr-white
                    position: absolute
                    bottom: -18px
                    left: 0
                    +xs-block()
                        width: 100%

    &__description
        letter-spacing: 0.02em
        color: $clr-white

        p
            +first-last-margin()

    &__content
        margin-bottom: 32px

    &__btn
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        background: #fff
        padding: 9px 0
        border-radius: 6px
        text-decoration: none
        color: $clr-main
        font-weight: 500
        transition: 0.3s
        font-size: 20px


        svg
            margin-left: 12px
            transform: rotate(90deg)
            transition: 0.3s

        &.active
            svg
                transform: rotate(-90deg)
