.product
    &__inner
        border-radius: 16px
        box-shadow: 0px 4px 76px rgba(128, 128, 128, 0.1)
        padding: 32px
        +row-flex()
        align-items: stretch
        +lg-block()
            margin-left: 0
            margin-right: 0
        +xs-block()
            padding: 12px

    &__left
        +col()
        +size(6)
        padding-top: 10px
        +lg-block()
            margin-bottom: 25px
            margin-right: 0
            margin-left: 0
            width: 100%
            padding-top: 0

        &-slider
            overflow: hidden
            height: 100%
            margin-bottom: 10px

            .swiper-slide
                height: auto
                max-height: 430px

                img
                    height: 100%
                    width: 100%
                    object-fit: cover
                    margin: 0 auto
                    border-radius: 16px

                    +lg-block()
                        width: auto

        &-pagination
            display: flex
            justify-content: center
            margin: -5px
            +xs-block()
                margin: -4px

            span
                width: 10px
                height: 10px
                margin: 5px
                transition: 0.3s
                +xs-block()
                    width: 8px
                    height: 8px
                    margin: 4px

                &.swiper-pagination-bullet-active
                    background: $clr-main
                    border-radius: 8px
                    width: 24px
                    +xs-block()
                        border-radius: 4px

    &__right
        +col()
        +size(6)
        +size-lg(12)
        +lg-block()
            margin-right: 0
            margin-left: 0
            width: 100%
        .heading
            font-size: 36px
            font-weight: 600
            margin-bottom: 24px
            +lg-block()
                text-align: center
            +xs-block()
                font-size: 16px
                text-align: left

    &__characteristic
        display: flex
        align-items: center
        +lg-block()
            justify-content: space-between
        +xs-block()
            align-items: stretch

        ul
            list-style: none

            &:first-child
                margin-right: 68px
                +xs-block()
                    margin-right: 15px
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                li
                    color: $clr-text-gray

            &:last-child
                +xs-block()
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                li
                    font-weight: 600
                    +xs-block()
                        text-align: right

            li
                margin: 12px 0
                +first-last-margin()
                letter-spacing: 0.02em
                +xs-block()
                    font-size: 14px
