.address

    .section-header
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        margin-bottom: 56px

        .heading
            font-weight: 600
            margin-bottom: 24px

        &__description
            max-width: 443px
            width: 100%
            margin-bottom: 32px

        &__actions
            background: $clr-bg-gray
            padding: 4px
            display: flex
            justify-content: space-between
            border-radius: 12px
            max-width: 408px
            width: 100%
            +xs-block()
                padding: 0
                max-width: 343px
                width: 100%
                border-radius: 6px

            a
                padding: 8px 0
                width: 50%
                border-radius: 10px
                color: $clr-main
                transition: 0.5s
                text-decoration: none
                font-size: $fz-md
                font-weight: 500
                +xs-block()
                    font-size: $fz-base
                    border-radius: 6px
                    padding: 7px 0 6px
                    width: 50%
                &.active
                    background: $clr-main
                    color: $clr-white

    &__choose
        +row-flex()
        align-items: center
        justify-content: space-between
        margin-bottom: 40px
        +xs-block()
            justify-content: center

        .field
            +col()
            +size(4)
            +xs-block()
                +size(12)
                margin: 4px 0
                +first-last-margin()
                &:first-child
                    display: none

            a
                display: flex
                align-items: center
                width: 100%
                justify-content: space-between
                padding: 0 6px 0 16px
                height: 48px
                text-decoration: none
                background: #F8F8FA
                border-radius: 8px
                color: #999

    &__item
        +col()
        +size(4)
        border-radius: 12px
        box-shadow: 0px 4px 34px rgba(0, 0, 6, 0.1)
        padding: 24px 17px 24px 32px
        overflow: hidden
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        background: #fff
        margin-top: 15px
        margin-bottom: 15px
        +md-block()
            +size(6)
            margin: 15px 0
        +sm-block()
            +size(12)
            +first-last-margin()
        +xs-block()
            margin: 0
            padding: 12px

        // &::before
        //     content: ''
        //     display: block
        //     width: 100%
        //     height: 1px
        //     position: absolute
        //     bottom: 64px
        //     left: 0
        //     background: rgba(196, 196, 236, 0.4)
        //     +xs-block()
        //         bottom: 44px

        &-list
            &-cards
                +row-flex()
                align-items: stretch
                flex-wrap: wrap
                margin-top: -15px
                margin-bottom: -15px
                justify-content: space-between
                +sm-block()
                    justify-content: center
                +xs-block()
                    justify-content: flex-start
                    flex-wrap: nowrap
                    width: 100%
                    margin: 0

            &-map
                display: none

        &-list-online
            display: flex
            align-items: center
            justify-content: space-evenly
            flex-wrap: wrap
            margin: 0 auto
            max-width: 795px
            width: 100%
            +xs-block()
                +row-flex()
                justify-content: space-between
                width: auto

            a
                box-shadow: 4px 4px 44px -14px rgba(159, 165, 170, 0.25)
                overflow: hidden
                margin: 10px
                display: inline-block
                +xs-block()
                    +col()
                    +size(6)

                img
                    max-width: 233px
                    max-height: 90px
                    width: 100%
                    object-fit: cover

        &-title
            display: flex
            align-items: center
            margin-bottom: 24px
            +xs-block()
                font-weight: 600
                font-size: 24px
                color: #1E1E50
                margin-bottom: 12px

            svg
                color: $clr-main
                margin-right: 16px
                flex: 0 0 auto
                width: 20px
                height: 20px
                +xs-block()
                    margin-right: 4px
                    width: 15px
                    height: 15px

        &-location
            display: flex
            align-items: center
            color: $clr-text-gray
            margin-bottom: 16px
            p
                margin: 0
            +xs-block()
                font-weight: 600
                color: #1E1E50
                font-size: 14px
                align-items: flex-start
                margin-bottom: 12px

            svg
                color: $clr-main
                margin-right: 16px
                flex: 0 0 auto
                width: 18px
                height: 23px
                +xs-block()
                    margin-right: 4px
                    margin-top: 3px
                    width: 14px
                    height: 17px

        &-phone
            display: flex
            align-items: center
            padding-top: 16px
            position: relative

            &:hover
                cursor: pointer

            &::after
                content: ''
                display: block
                width: 150%
                height: 1px
                position: absolute
                top: 0
                left: -10%
                background: rgba(196, 196, 236, 0.4)

            a
                text-decoration: none
                color: $clr-text-gray
                +xs-block()
                    color: #1E1E50
                    font-weight: 600
                    font-size: 14px

            svg
                margin-right: 20px
                color: $clr-main
                flex: 0 0 auto
                width: 17px
                height: 17px
                +xs-block()
                    margin-right: 4px
                    width: 13px
                    height: 13px

    .select2-selection__rendered
        color: #999 !important

    &__actions
        display: none
        margin-top: 18px
        +xs-block()
            display: block
        .btn
            width: 100%
            padding: 10px
            text-align: center
            border-radius: 6px
            font-weight: 500
            font-size: 18px
