.breadcrumbs
    padding-top: 18px
    padding-bottom: 8px
    .container
        width: 100%
    ul
        display: flex
        align-items: center
        list-style: none
        +xs-block()
            flex-wrap: wrap

        li
            +xs-block()
                font-size: 13px
            a
                color: #4DA3A7
                +xs-block()
                    font-size: 13px

            svg
                color: #D4D3E0

            &:last-child
                color: #5F5F7D

            &:not(:last-child)
                margin-right: 13px