.calculator
    +xs-block()
        background: #F7F7FC

    &__inner
        border-radius: 24px
        padding: 48px 138px 64px
        background: #F7F7FC
        display: flex
        flex-direction: column
        align-items: center
        justify-content: stretch
        +lg-block()
            padding: 50px
        +xs-block()
            padding: 25px 0

        .select2-selection__rendered
            color: #999 !important

    &__title
        margin-bottom: 32px
        text-align: center
        +xs-block()
            margin-bottom: 16px
        .heading
            font-size: 48px
            font-weight: 500
            +xs-block()
                font-size: $fz-md

    &__tabs
        display: flex
        align-items: center
        justify-content: center
        max-width: 648px
        width: 100%
        text-align: center
        background: #EEF0F2
        border-radius: 12px
        margin-bottom: 52px
        +xs-block()
            max-width: none
            margin-bottom: 40px

        a
            padding: 14px 0
            width: 50%
            text-decoration: none
            color: $clr-main
            transition: 0.5s
            font-weight: 600
            font-size: $fz-md
            border-radius: 12px
            +xs-block()
                font-size: $fz-base
                border-radius: 6px
                padding: 8px 0

            &.active
                background: $clr-main
                color: $clr-white

    &__form
        width: 100%
        +row-flex()
        margin-bottom: 32px

        &-left,
        &-right
            +col()
            +size(6)
            margin-bottom: 48px
            +xs-block()
                +size(12)
                margin-bottom: 24px

            .field
                margin-bottom: 24px


        .heading
            font-size: 32px
            font-weight: 500
            margin-bottom: 16px
            +xs-block()
                    font-size: 20px

        .select2-container--default .select2-selection--single
            background: #EEF0F2

        .select2-selection__placeholder
            +xs-block()
                font-size: 14px

        &-button
            +col()
            +size(12)

            .btn
                max-width: 432px
                width: 100%
                padding: 19px 0
                margin: 0 auto
                display: block
                +xs-block()
                    font-size: 18px
                    max-width: 265px
                    padding: 10px 0

        &-answer
            width: 100%

            table
                width: 100%
                border: 1px solid #cdcdcd
                border-collapse: collapse;

            th,
            td
                width: 33.333333333333%
                font-size: 15px
                padding: 0.75rem
                text-align: center
                border-bottom: 1px solid #dee2e6

            &-desc
                padding: 16px 10px
                width: 100%
                margin: 0 auto
                text-align: center
                color: $clr-white
                background: $clr-main
                +xs-block()
                    font-size: 12px
