.certificates
    &__inner
        overflow: hidden

    &__title
        margin-bottom: 24px
        .heading
            text-transform: uppercase

    &__subtitle
        margin-bottom: 16px
        p
            margin: 0
            font-size: $fz-md

    &__uz
        display: flex
        align-items: center
        position: relative
        z-index: 1

        picture
            &:not(:last-child)
                margin-right: 24px

    &__other
        position: relative
        z-index: 1
        .swiper-wrapper
            margin-bottom: 40px

    &__pagination
        display: flex
        justify-content: center
        align-items: center

        span
            width: 12px
            height: 12px
            transition: 0.3s

            &.swiper-pagination-bullet-active
                width: 32px
                background: $clr-main
                border-radius: 12px

    &__bg1
        display: block
        width: 418px
        height: 531px
        border-radius: 0 139px
        background: rgba(166, 230, 239, 0.22)
        position: absolute
        top: 289px
        right: 337px
        z-index: 0

    &__bg2
        display: block
        width: 305px
        height: 372px
        border-radius: 0 133px
        background: rgba(255, 231, 221, 0.25)
        position: absolute
        top: 93px
        right: -80px
        z-index: 0

    &__bg3
        display: block
        width: 103px
        height: 103px
        border-radius: 50%
        background: rgba(205, 213, 242, 0.2)
        position: absolute
        top: 100px
        right: 324px
        z-index: 0

#magnify 
    display: none
    position: fixed
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    z-index: 9999

#magnify img
    

#overlay1
    display: none
    background: #000
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    opacity: 0.5
    z-index: 9990

#close-popup
    width: 30px
    height: 30px
    cursor: pointer
    position: absolute
    top: 15px
    right: 15px


    & i
        width: 30px
        height: 30px
        background: url(/images/svg/cross.svg) no-repeat center center;
        background-size: 16px 16px
        display: block

@keyframes rota 
    25% 
        transform: rotate(360deg)


#close-popup:hover
    animation: rota 4s infinite normal
    -webkit-animation-iteration-count: 1
    animation-iteration-count: 1
