.choose-lenses
    background: #e7bda7
    padding: 24px 0 64px

    +xs-block()
        padding: 24px 0 0

    .container
        +xs-block()
            padding: 0

    .section-header--center
        margin-bottom: 24px
        +xs-block()
            padding: 0 15px
        .heading
            color: #fff
            text-transform: capitalize
            text-align: center
            +xs-block()
                font-size: 24px

    &__select-color
        margin-bottom: 45px
        +lg-block()
            margin-bottom: 0
        +xs-block()
            padding: 0 15px
        ul
            display: flex
            list-style: none
            align-items: center
            max-width: 648px
            width: 100%
            margin: 0 auto
            border-radius: 12px
            margin-bottom: 33px
            background: #32323226
            backdrop-filter: blur(13px)
            +xs-block()
                border-radius: 6px
                flex-wrap: wrap
                margin-bottom: 24px

            li
                width: calc( 100% / 3 )

                a
                    text-decoration: none
                    display: block
                    width: 100%
                    text-align: center
                    padding: 14px 0
                    font-size: 24px
                    text-transform: capitalize
                    color: #fff
                    border-radius: 12px
                    font-weight: 600
                    transition: 0.4s

                    +md-block()
                        font-size: 20px
                    +xs-block()
                        font-size: 18px
                        font-weight: 500
                        padding: 7px 0
                        border-radius: 6px
                    // +xxs-block()
                    //     font-size: 16px

                    &.active
                        background: #2DB2BB
                        +xs-block()
                            font-weight: 600

        p
            margin: 0
            max-width: 587px
            width: 100%
            margin: 0 auto
            color: #F7F7F7
            text-align: center
            +xs-block()
                font-size: 16px

    &__title
        font-size: 20px
        font-weight: 500
        color: #1E1E50
        margin-bottom: 8px

    &__purpose,
    &__color,
    &__feature
        margin-bottom: 24px
        font-size: 16px
        +xs-block()
            margin-bottom: 16px
            font-size: 14px

    &__color-circle
        width: 10px
        height: 10px
        border-radius: 50%
        margin-right: 8px

    &__img
        position: relative
        min-height: 520px
        bottom: 0

        +md-block()
            display: inline-flex

        +xs-block()
            min-height: 0

        .js-bg-img
            max-width: none
            margin: 0 auto

            +md-block()
                max-width: 100%

            +sm-block()
                max-width: none

            +xs-block()
                height: 339px
                object-fit: contain

    &__content
        display: flex
        align-items: stretch
        justify-content: space-between
        margin: 0 -20px

        +lg-block()
            flex-direction: column-reverse
            margin: 0

    &__left,
    &__right
        flex: 1 1 50%
        margin: 0 20px
        display: flex
        flex-direction: column

        +lg-block()
            margin: 0
            flex: 1 1 100%

    &__left
        +xs-block()
            background: rgb(246, 251, 254)
            padding: 0 0 40px

        &-top
            flex: 1 1 100%
            display: flex
            flex-direction: column
            justify-content: center
            margin-bottom: 24px
            padding: 30px 129px 30px 56px
            border-radius: 16px
            background: #EDF9FA
            +xs-block()
                padding: 45px 15px 0
                border-radius: 0
                background: transparent

            &>.choose-lenses__title
                margin-bottom: 24px
                +xs-block()
                    font-size: 16px

            ul
                list-style: none

                li
                    display: flex
                    align-items: center

                    span
                        margin: 7px 0

        &-bottom
            +xs-block()
                padding: 0 15px
            .btn
                width: 100%
                display: flex
                align-items: center
                justify-content: center
                padding: 17px
                font-size: 24px
                border-radius: 12px

                +md-block()
                    font-size: 20px
                +xs-block()
                    font-size: 18px
                    padding: 12px
                    border-radius: 6px
                +xxs-block()
                    font-size: 18px
                    text-transform: lowercase
                +to(400px)
                    font-size: 16px

                svg
                    width: 26px
                    height: 28px
                    margin-right: 14px

                    +xs-block()
                        margin-right: 10px
                        width: 21px
                        height: 18px
                    +xxs-block()
                        margin-right: 5px
                        width: 16px
                        height: 14px

                p
                    margin: 0
                    font-weight: 500
                    &::first-letter
                        text-transform: uppercase

    &__right
        +lg-block()
            margin-bottom: 25px

        +xs-block()
            padding: 0 15px
            margin-bottom: 0

        &-top
            flex: 1 1 100%
            margin-bottom: 24px
            position: relative
            display: flex
            flex-direction: column
            justify-content: flex-end

            +md-block()
                align-items: center
            +xs-block()
                margin-bottom: 0

        &-bottom
            +xs-block()
                display: none
            ul
                display: flex
                align-items: center
                max-width: 477px
                width: 100%
                list-style: none
                margin: 0 auto
                border-radius: 12px
                background: #32323226
                backdrop-filter: blur(13px)

                li
                    width: calc( 100% / 2 )

                a
                    text-decoration: none
                    display: block
                    text-align: center
                    padding: 14px 0
                    font-size: 24px
                    font-weight: 600
                    transition: 0.4s
                    border-radius: 12px
                    color: #FCFFFF

                    +md-block()
                        font-size: 20px

                    &.active
                        background: #2DB2BB

    &__select-lenses
        position: absolute
        bottom: 12px
        width: 100%
        overflow: hidden
        height: 75px
        display: flex
        align-items: center
        +xs-block()
            width: 600px
            bottom: 0
            transform: translateY(50%)
            z-index: 2

        .lens-slider
            flex: 1 1 100%

        .swiper-slide

            img
                cursor: pointer
                transition: 0.3s
                border-radius: 50%
                border: 2px solid #fff
                background: #fff

                +xs-block()
                    max-width: none

            &-active
                img
                    transform: scale(1.7)

    &__lens
        position: absolute
        top: 0
        right: 0

        &.female
            opacity: 0.5
            top: 44.4%
            right: 34.5%
            clip-path: ellipse(132% 85% at 93% 100%)
            width: 22px
            height: 22px

            +lg-block()
                right: 39.5%
            +md-block()
                right: 34.5%
            +xs-block()
                top: 44.3%
                right: 39.8%
                width: 16px
                height: 16px

        &.male
            opacity: 0.6
            top: 41%
            right: 42.6%
            clip-path: ellipse(60% 33% at center)
            width: 18px
            height: 18px

            +lg-block()
                right: 44.9%
                width: 19px
                height: 19px
            +md-block()
                right: 42.6%
            +xs-block()
                top: 40.8%
                right: 45.1%
                width: 13px
                height: 13px
