.success
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    img
        margin-bottom: 96px
        +sm-block()
            margin-bottom: 64px
        +xs-block()
            width: 234px
            height: 234px

    .heading
        text-transform: uppercase
        max-width: 1000px
        width: 100%
        margin: 0 auto
        text-align: center
        margin-bottom: 21px
        +xs-block()
            font-size: 20px

    &__description
        font-size: 17px
        color: $clr-text-gray
        margin-bottom: 41px
        +xs-block()
            font-size: 16px

    .btn
        padding: 16px 24px
        +xxs-block()
            padding: 13px 0
            width: 100%