.faq

    &__list
        max-width: 912px
        width: 100%
        margin: 0 auto

    &__item
        border-radius: 12px
        background: #EEF0F2
        overflow: hidden

        &:not(:last-child)
            margin-bottom: 8px

        &-title
            display: flex
            justify-content: space-between
            align-items: center
            padding: 28px 24px
            cursor: pointer
            transition: 0.3s
            +xs-block()
                padding: 8px 12px

            .heading
                margin-right: 1rem
                font-size: 20px
                font-weight: 500
                letter-spacing: 0.02em
                +xs-block()
                    font-size: 14px

            a
                transform: rotate(90deg)
                transition: 0.3s
                height: 24px
                width: 12px
                +xs-block()
                    height: 12px
                    width: 6px

                svg
                    height: 24px
                    width: 12px
                    color: #5F5F7D
                    +xs-block()
                        height: 12px
                        width: 6px

        &-content
            display: none
            opacity: 0
            visibility: hidden

            p
                margin: 0
                letter-spacing: 0.01em
                +xs-block()
                    font-size: 12px

        &.active
            padding: 0

            .faq__item

                &-content
                    opacity: 1
                    visibility: visible
                    padding: 0 84px 32px 51px

                    +md-block()
                        padding: 0 32px 51px
                    +xs-block()
                        padding: 0 26px 14px

                &-title

                    a
                        transform: rotate(-90deg)
