.feature
    background: $clr-main

    &__inner
        padding: 35px 0
        text-align: center
        +xs-block()
            padding: 24px 0

    .heading
        color: $clr-white
        margin-bottom: 48px
        +xs-block()
            font-weight: 500
            font-size: 20px
            max-width: 304px
            width: 100%
            margin: 0 auto 32px

    &__desktop-list
        +row-flex()
        align-items: stretch
        justify-content: space-evenly
        +xs-block()
            flex-wrap: nowrap
            margin-left: 0
            margin-right: 0
            justify-content: start

    &__item
        +col()
        +size(4)
        +sm-block()
            +size(5)
            &:not(:last-child)
                margin-bottom: 15px
        +xs-block()
            margin-left: 0
            &:not(:last-child)
                margin-bottom: 0
            margin-bottom: 0
        &-inner
            display: flex
            flex-direction: column
            align-items: center

        &-img
            width: 196px
            height: 196px
            background: $clr-white
            display: flex
            align-items: center
            justify-content: center
            border-radius: 16px
            margin-bottom: 24px
            +xs-block()
                background: transparent
                width: auto
                height: auto
                margin-bottom: 16px

            img
                &:first-child
                    +xs-block()
                        display: none
                &:last-child
                    display: none
                    +xs-block()
                        display: block

        &-desc
            color: $clr-white
            font-size: 24px
            +lg-block()
                font-size: $fz-base
            +xs-block()
                max-width: 231px
                width: 100%
                font-size: $fz-xs

    &__mobile

        &-next,
        &-prev
            position: absolute
            top: 50%
            transform: translateY(-50%)
            z-index: 2
            width: 48px
            height: 48px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            background: rgba(255, 255, 255, 0.2)
            display: none
            +xs-block()
                display: flex

        &-next
            right: 16px
        &-prev
            left: 16px
            img
                transform: rotate(180deg)