.form

    &__title
        margin-bottom: 24px
        text-align: center
        text-transform: uppercase
        +xs-block()
            text-align: left
            .heading
                font-size: 24px
                font-weight: 500

    &__content
        +row-flex()
        align-items: stretch
        margin-bottom: 40px

    &__left,
    &__right
        +col()
        +size(6)
        +sm-block()
            +size(12)

        .field
            &:not(:last-child)
                margin-bottom: 40px
            display: flex
            flex-direction: column-reverse


    &__right

        .field
            height: 100%
            min-height: 200px

        .textarea
            flex: 1 1 100%

    &__btn
        display: flex
        justify-content: center
        align-items: center

        .btn
            border-radius: 12px
            font-size: $fz-md
            color: $clr-white
            padding: 19px 61px

            +xs-block()
                font-size: 18px
                padding: 10px 0
                width: 100%
                text-align: center
                border-radius: 6px

    &__description
        margin-bottom: 42px
        p
            max-width: 522px
            width: 100%
            color: $clr-text-gray
            text-align: center
            margin: 0 auto
            +xs-block()
                text-align: left
                font-size: 14px

    &__contact
        display: flex
        justify-content: space-evenly
        align-items: stretch
        margin-bottom: 94px
        +md-block()
            margin-bottom: 40px
            flex-wrap: wrap
        +xs-block()
            justify-content: flex-start


        &-item
            max-width: 275px
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            text-align: center
            background: rgba(228, 251, 244, 0.5)
            border-radius: 16px
            padding: 12px
            min-height: 142px

            +md-block()
                margin-bottom: 25px
            +xs-block()
                flex-direction: row
                max-width: none
                justify-content: flex-start
                background: #fff
                min-height: 0
                text-align: left

            &>div
                margin-bottom: 16px
                +xs-block()
                    margin-bottom: 0
                    width: 56px
                    height: 56px
                    border-radius: 50%
                    background: rgba(228, 251, 244, 0.5)
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-right: 16px
                    flex: 0 0 auto

            svg
                width: 34px
                height: 34px
                color: $clr-main
                +xs-block()
                    width: 23px
                    height: 23px

            &:first-child
                svg
                    width: 32px
                    height: 42px
                    +xs-block()
                        width: 22px
                        height: 28px

            &:last-child
                svg
                    width: 36px
                    height: 28px
                    +xs-block()
                        width: 24px
                        height: 19px

            a
                text-decoration: none
                font-size: 20px
                font-weight: 500
                color: $clr-text-gray
                word-break: break-all