.katalog-grid
    &__select
        display: flex
        align-items: center
        justify-content: center
        margin: -8px
        margin-bottom: 24px
        +xs-block()
            flex-wrap: wrap
            padding: 24px 0 40px
            background: #F7F7FC
            margin: 0 -15px 0

        &-item
            flex: 0 0 37%
            margin: 8px
            +xs-block()
                flex: 1 1 100%

            &>span
                margin-bottom: 8px
                display: block
                font-size: 20px
                font-weight: 500
                color: $clr-text-gray
                +xxs-block()
                    font-size: $fz-xs

            .select2-selection.select2-selection--single
                background: $clr-main
            .select2-selection__placeholder
                color: $clr-white !important
                +xxs-block()
                    font-size: $fz-xs
            .select2-selection__arrow
                b
                    border-color: #fff transparent transparent transparent !important
            .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
                border-color: transparent transparent #fff transparent !important

    &__inner
        padding: 40px 0
        background: #F7F7FC
        +xxs-block()
            padding-top: 0

    &__list
        +row-flex()
        align-items: stretch

    &__item
        +col()
        +size(4)
        +size-md(6)
        +size-xs(12)
        padding: 16px 16px 24px
        display: flex
        flex-direction: column
        align-items: stretch
        justify-content: space-between
        border-radius: 16px
        background: $clr-white
        box-shadow: 0px 4px 76px rgba(128, 128, 128, 0.1)
        margin-bottom: 32px
        overflow: hidden

        +xs-block()
            padding: 12px

        &-image
            margin-bottom: 25px
            position: relative

        .swiper-slide
            img
                margin: 0 auto
                border-radius: 25px
                width: 100%

        &-title
            margin-bottom: 24px
            h4
                margin-bottom: 12px
                +xxs-block()
                    font-size: $fz-xs
            p
                overflow: hidden
                text-overflow: ellipsis
                display: -moz-box
                -moz-box-orient: vertical
                display: -webkit-box
                -webkit-line-clamp: 4
                -webkit-box-orient: vertical
                line-clamp: 4
                box-orient: vertical
                margin: 0
                +xxs-block()
                    font-size: 12px
            +xxs-block()
                margin-bottom: 12px

        &-time,
        &-age,
        &-price
            display: flex
            align-items: center
            margin: 6px 0
            color: #4C4C63
            +xxs-block()
                font-size: $fz-xs

            svg
                margin-right: 12px
                color: #2C3E50
                +xxs-block()
                    width: 24px
                    height: 24px

        &-price
            margin-bottom: 30px

        &-actions
            .btn
                width: 100%
                padding: 13px 0
                align-items: center
                border-radius: 6px
                +xs-block()
                    padding: 10px 10px
                    font-size: 18px

    &__slider
        &-pagination
            position: absolute
            bottom: -18px !important
            display: flex
            align-items: center
            justify-content: center
            z-index: 1
            span
                width: 8px
                height: 8px
                background: rgba(30, 30, 80, 0.1)
                transition: 0.3s

                &.swiper-pagination-bullet-active
                    background: $clr-main
                    width: 24px
                    border-radius: 4px

        &-next,
        &-prev
            position: absolute
            top: 50%
            z-index: 2
            width: 52px
            height: 52px
            border-radius: 50%
            background: rgba(255, 255, 255, 0.5)
            box-shadow: 0px 5.33333px 106.667px rgba(60, 60, 75, 0.15)
            display: flex
            align-items: center
            justify-content: center
            color: #fff
            +xs-block()
                display: none
            svg
                width: 14px
                height: 29px

        &-next
            right: 0
            transform: translateY(-50%)

        &-prev
            left: 0
            transform: rotate(180deg) translateY(50%)

    &__pagination
        display: flex
        align-items: center
        justify-content: center
        margin-top: 22px

        &>a
            width: 48px
            height: 48px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            min-width: auto

            svg
                color: $clr-white
                font-size: 18px
                +xs-block()
                    font-size: 14px

            &:first-child
                transform: rotate(180deg)

            +xxs-block()
                width: 30px
                height: 30px

        ul
            display: flex
            align-items: center
            list-style: none
            margin: 0 16px

            +xs-block()
                margin: 0 8px

            li
                &:not(:last-child)
                    margin-right: 8px

                a
                    font-size: 20px
                    padding: 7px 18px
                    display: block
                    border-radius: 12px
                    text-decoration: none
                    transition: 0.2s
                    &:hover
                        outline: 2px solid #2db2bb

                    &.active
                        outline: 2px solid #2db2bb

                    +xxs-block()
                        font-size: 14px
                        padding: 3px 10px
