.lead.lead--main
    position: relative
    overflow: hidden
    background: #FBDAD3
    .lead
        &__bg
            position: absolute
            top: 0
            bottom: 0
            right: 0
            z-index: 0
            height: 100%
            video
                width: 57vw
                object-fit: cover
                position: relative
                height: 100%
                +xs-block()
                    width: 100%

        &__grad1
            background: linear-gradient(90.79deg, #fbdad3 55%, #fbdad300 75%, #fbdad300 100%)
            position: absolute
            top: 0
            left: 0
            z-index: 0
            display: block
            width: 100%
            height: 100%
            +sm-block()
                width: 80%
            +xs-block()
                display: none

        &__inner
            position: relative
            z-index: 1
            padding: 40px 56px 44px
            +sm-block()
                padding: 40px 0 44px
            +xxs-block()
                padding: 36px 0 50px

            .section-header
                &__title
                    .heading
                        font-weight: 400
                        +xs-block()
                            font-size: 24px

                    &>div
                        display: flex
                        width: 60%
                        // overflow: hidden
                        +lg-block()
                            width: 100%

                        .swiper-slide
                            opacity: 0
                            transition: 0.3s

                        .swiper-slide-active
                            opacity: 1

                    span
                        font-size: 64px
                        font-weight: 600
                        flex: 0 0 100%
                        +md-block()
                            font-size: 36px
                        +xs-block()
                            font-size: 22px

                &__description
                    margin-bottom: 47px
                    letter-spacing: 0.02em
                    font-weight: 300
                    +sm-block()
                        margin-bottom: 25px
                        padding-right: 300px
                    +xs-block()
                        padding-right: 250px
                    +xxs-block()
                        padding-right: 55vw
                        font-size: $fz-xxs
                        margin-bottom: 0
                &__actions
                    +xs-block()
                        display: none
                    .btn
                        padding: 19px 24px
                        +md-block()
                            font-size: $fz-base

.lead.lead--katalog
    position: relative
    overflow: hidden
    background: #F7F7F7
    .lead
        &__inner
            min-height: 338px
            position: relative
            z-index: 2
            +xxs-block()
                padding: 0
                min-height: 192px

            .section-header
                .heading
                    margin-bottom: 32px
                &__description
                    max-width: 470px
                +xxs-block()
                    display: none

        &__bg
            width: 100%
            display: flex
            justify-content: flex-end
            max-height: 440px
            video
                object-fit: cover
                height: 100%
                max-height: 440px
                width: 70%
                +xxs-block()
                    width: 100%

        &__grad
            position: absolute
            display: block
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(90.23deg, #FFFFFF 37.94%, #ffffffba 53%, #ffffff1a 100%)
            z-index: 1
            +xxs-block()
                background: linear-gradient(90.2deg, #FFFFFF -7.15%, rgba(255, 255, 255, 0.73) 5.17%, rgba(255, 255, 255, 0.1) 99.81%)

.lead.lead--product-page
    position: relative
    min-height: 440px
    display: block
    background: url(/images/lead/product-page.png) no-repeat right top /cover
    +retina()
        background: url(/images/lead/product-page@2x.png) no-repeat right top /cover

    +md-block()
        min-height: 360px
    +sm-block()
        min-height: 300px
    +xs-block()
        min-height: 192px

.lead.lead--about
    position: relative
    min-height: 440px
    display: block
    background: url(/images/lead/about.jpg) no-repeat right top /cover
    +retina()
        background: url(/images/lead/about@2x.jpg) no-repeat right top /cover

    +md-block()
        min-height: 360px
    +sm-block()
        min-height: 300px
    +xs-block()
        min-height: 192px

    .lead
        &__grad
            background: linear-gradient(90.23deg, #FFFFFF 32.51%, rgba(255, 255, 255, 0.73) 47.46%, rgba(255, 255, 255, 0.1) 99.79%)
            width: 100%
            height: 100%
            display: block
            position: absolute
            top: 0
            left: 0
            z-index: 1
            +xs-block()
                display: none

.lead.lead--why
    position: relative
    min-height: 440px
    display: block
    background: url(/images/lead/why.jpg) no-repeat center center /cover
    +retina()
        background: url(/images/lead/why@2x.jpg) no-repeat center center /cover

    +md-block()
        min-height: 360px
    +sm-block()
        min-height: 300px
    +xs-block()
        min-height: 192px