.page-title
    &__description
        text-align: center
        +xxs-block()
            display: block
        .heading
            font-weight: 700
            margin-bottom: 11px
            text-transform: uppercase
            +xxs-block()
                font-size: 22px
        p
            color: $clr-text-gray
            max-width: 700px
            margin: 0 auto
            font-size: $fz-md
            +md-block()
                font-size: 20px
            +sm-block()
                font-size: 18px
            +xxs-block()
                font-size: 12px