.product-slider
    background: #2DB2BB
    padding: 105px 0
    +xs-block()
        padding: 48px 0

    &__inner
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

    &__swiper
        display: flex
        align-items: center
        justify-content: space-evenly
        width: 100%
        +xs-block()
            justify-content: flex-start

    &__item
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        +xs-block()
            background: $clr-white
            border-radius: 12px
            box-shadow: 0px 4px 34px rgba(0, 0, 6, 0.1)
            padding: 12px 0 35px

    &__image
        width: 100px
        height: 100px
        display: flex
        align-items: center
        justify-content: center
        background: $clr-white
        border-radius: 50%
        margin-bottom: 16px
        +xs-block()
            background: $clr-main
            margin-bottom: 24px

        svg
            color: $clr-main
            +xs-block()
                color: $clr-white

    &__desc
        p
            max-width: 345px
            margin: 0
            color: $clr-white
            font-size: $fz-md
            font-weight: 500
            letter-spacing: 0.02em

            +xs-block()
                color: $clr-main
                font-size: $fz-base

    &__pagination
        padding-top: 16px
        display: flex
        justify-content: center
        align-items: center
        margin: -4px

        span
            width: 8px
            height: 8px
            margin: 4px

            &.swiper-pagination-bullet-active
                background: $clr-main


