.reviews
    padding: 96px 0
    background: #F4EEF4
    +xxs-block()
        padding: 32px 0 56px

    &__inner 
        text-align: center
        overflow: hidden
        
    .heading
        margin-bottom: 44px

    .swiper-wrapper
        margin-bottom: 62px
        align-items: center
        +xxs-block()
            margin-bottom: 16px

    &__item
        border-radius: 16px
        overflow: hidden
        background: linear-gradient(90.63deg, #C0BEBF 0.49%, #B6B5BA 99.43%)
        display: flex
        align-items: center
        justify-content: center
        position: relative
        +xxs-block()
            height: 180px
            border-radius: 8px

        &-img
            height: 100%

            img
                object-fit: cover
                max-width: none
                max-height: 418px
                height: 100%
                +xxs-block()
                    max-height: 180px
                    max-width: 100%

            &-bg
                width: 100%
                height: 100%
                background: #000
                opacity: 0.3
                position: absolute
                top: 0
                left: 0

        &-play
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 80px
            height: 80px
            background: linear-gradient(121.21deg, rgba(249, 249, 249, 0.414) 9.84%, rgba(249, 249, 249, 0.156) 88.88%)
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50%
            +xs-block()
                width: 56px
                height: 56px

            svg
                color: $clr-white
                transform: translate(15%)

    .swiper-pagination-bullet
        width: 12px
        height: 12px
        transition: 0.3s
        background: rgba(196, 196, 196, 0.66)

        &-active
            width: 32px
            background: $clr-main
            border-radius: 12px