.virtual
    background: rgba(228, 251, 244, 0.5)
    padding: 52px 0 38px
    +xxs-block()
        position: relative
        padding: 12px 0 24px

    &__inner
        +row-flex()
        align-items: center
        +sm-block()
            justify-content: center
            text-align: center

    &__left,
    &__right
        +col()
        +size(6)
        +sm-block()
            +size(12)

    &__left
        position: relative
        img
            position: relative
            z-index: 2
            margin: 0 auto
        +xxs-block()
            padding-top: 76px

    &__left1
        max-width: 418px
        max-height: 531px
        width: 100%
        height: 100%
        background: rgba(166, 230, 239, 0.22)
        border-radius: 0px 139.5px
        position: absolute
        z-index: 1
        left: 0
        top: 55px

        +lg-block()
            top: 0
        +xs-block()
            max-width: 224px
            max-height: 285px
            border-radius: 0px 75px
            top: auto
            bottom: 15px

    &__left2
        max-width: 305px
        max-height: 372px
        width: 100%
        height: 100%
        background: rgba(255, 231, 221, 0.25)
        border-radius: 0px 132.857px
        bottom: 0
        right: 0
        position: absolute
        z-index: 1
        transform: rotateX(180deg)

        +xs-block()
            max-width: 164px
            max-height: 200px
            border-radius: 0px 71px

    &__left3
        max-width: 103px
        max-height: 103px
        width: 100%
        height: 100%
        border-radius: 50%
        background: rgba(205, 213, 242, 0.2)
        position: absolute
        top: 87px
        right: 72px

        +xs-block()
            max-width: 55px
            max-height: 55px

    .section-header
        .heading
            margin-bottom: 32px
            +lg-block()
                font-size: 35px
                margin-bottom: 30px
            +xxs-block()
                font-size: 24px
                font-weight: 500
                position: absolute
                top: 0
                right: 0
                left: 0
                display: inline-block
                max-width: 343px
                width: 100%
                margin: 0 auto

        &__description
            margin-bottom: 90px
            font-size: $fz-md
            +md-block()
                margin-bottom: 30px
                font-size: $fz-base
            +xxs-block()
                display: none

        &__actions
            a
                padding: 16px
                text-align: center
                display: flex
                align-items: center
                justify-content: center
                border-radius: 16px
                margin: 0 auto
                font-size: $fz-md
                +md-block()
                    font-size: $fz-base
                    padding: 15px
                +xs-block()
                    border-radius: 6px
                    padding: 12px 8px
                +xxs-block()
                    font-size: 18px
                    text-transform: lowercase
                +to(400px)
                    font-size: 16px

                p
                    margin: 0
                    &::first-letter
                        text-transform: uppercase

                svg
                    width: 30px
                    height: 30px
                    margin-right: 10px
                    +xs-block()
                        width: 21px
                        height: 18px
                    +xxs-block()
                        margin-right: 5px
                        width: 16px
                        height: 14px
