.why-feature
    background: #2DB2BB
    padding: 48px 0
    position: relative
    z-index: 1

    &__list
        display: flex
        align-items: stretch
        justify-content: space-evenly
        margin: -24px
        +md-block()
            flex-wrap: wrap
        +xs-block()
            flex-wrap: nowrap
            justify-content: flex-start
            margin: 0
            align-items: flex-start

    &__item
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        max-width: 320px
        width: 100%
        border-radius: 12px
        background: #fff
        box-shadow: 0px 4px 34px rgba(0, 0, 6, 0.1)
        padding: 20px 12px
        margin: 24px
        +xs-block()
            margin: 0
            max-width: none
            // min-height: 339px
            // max-height: 339px

    &__title
        margin-bottom: 8px
        .heading
            font-size: 20px
            font-weight: 500

    &__description
        p
            margin: 0
            font-size: 14px
            color: $clr-text-gray
            letter-spacing: 0.02em

    &__img
        margin-bottom: 16px
        width: 120px
        height: 110px
        display: flex
        align-items: center
        justify-content: center
        svg
            color: $clr-main
