.pg--about
    background: #F7F7FC
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 16px

    .page-title
        margin-bottom: 48px
        +md-block()
            margin-bottom: 40px


    .address
        background: #fff
        padding: 96px 0
        +md-block()
            padding: 40px 0

    .about-grid
        margin-bottom: 48px
        +md-block()
            margin-bottom: 40px
        +xs-block()
            margin-bottom: 0