.pg--faq
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 64px
        +md-block()
            margin-bottom: 40px

    .page-title
        margin-bottom: 58px
        +md-block()
            margin-bottom: 40px
        .heading
            font-size: 48px
            font-weight: 600
            +xs-block()
                font-size: 20px
                text-align: left

        p
            font-size: 17px
            max-width: 500px
            +xs-block()
                text-align: left
                font-size: 14px

    .faq
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px