.pg--katalog
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 16px

    .page-title
        margin-bottom: 32px
        &__description
            p
                max-width: none
            +xxs-block()
                text-align: left

    .katalog-grid
        margin-bottom: 56px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .form
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px
