.pg--lens-calculator
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 66px
        +md-block()
            margin-bottom: 40px

    .page-title
        margin-bottom: 28px

        &__description
            .heading
                max-width: 674px
                margin: 0 auto 24px

            p
                margin: 0 auto
                font-size: 17px
                letter-spacing: 0.02em

    .calculator
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .virtual
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px