.pg--main
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .lead
        margin-bottom: 64px
        +md-block()
            margin-bottom: 40px
        +xs-block()
            margin-bottom: 32px

    .page-title
        &__description
            +xxs-block()
                margin-bottom: 24px
            .heading
                max-width: 1000px
                margin: 0 auto 24px
                +xs-block()
                    margin: 0 auto 8px
        margin-bottom: 64px
        +xs-block()
            margin-bottom: 40px

        .choose-sex
            display: none
            +xs-block()
                display: block
            .heading
                color: #1E1E50
                font-weight: 500
                text-align: center
                margin-bottom: 25px
                +xxs-block()
                    font-size: 24px
            &__toggle
                max-width: 343px
                margin: 0 auto
                display: flex
                list-style: none
                background: #F8F8FA
                border-radius: 6px

                li
                    width: 50%

                    a
                        display: block
                        text-decoration: none
                        color: $clr-main
                        padding: 7px 0
                        text-align: center
                        border-radius: 6px
                        transition: 0.4s
                        font-weight: 600

                        &.active
                            color: white
                            background: $clr-main

    .choose-lenses
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px
        +xs-block()
            margin-bottom: 0

    .virtual
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .form
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px