.pg--product-page
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 16px


    .page-title
        margin-bottom: 40px
        &__description
            p
                max-width: 1020px
                font-size: $fz-base

            +xs-block()
                text-align: left
                .heading
                    font-size: 16px
                    font-weight: 500
                p
                    font-size: 14px

    .product-slider__pagination
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .virtual
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .form
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .product
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px