.pg--store
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 66px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

        &__choose
            +xs-block()
                .field
                    display: block

        &__item
            width: auto
            min-height: 229px
            margin: 12px 0
            +first-last-margin()
            +md-block()
                min-height: 200px
                display: flex
                flex-direction: column
                justify-content: space-between
            +sm-block()
                margin-top: 12px !important
                margin-bottom: 12px !important
                +col()
                +size(12)
            +xs-block()
                margin: 0
                min-height: 0
                width: 100%

            &-list
                min-height: 502px
                +row-flex()
                align-items: stretch
                +xs-block()
                    align-items: flex-start
                    min-height: auto
                    margin: 0

                &-map
                    display: block
                    border-radius: 16px
                    overflow: hidden
                    +col()
                    +size(7)
                    +size-lg(6)
                    +size-md(12)
                    +md-block()
                        margin-bottom: 25px
                    +xs-block()
                        display: none

                    iframe
                        width: 100%
                        min-height: 502px
                        border-radius: 16px

                &-cards
                    +col()
                    +size(5)
                    +size-lg(6)
                    +size-md(12)
                    max-height: 570px
                    overflow-y: auto
                    box-shadow: 0px 4px 34px rgba(0, 0, 6, 0.1)
                    border-radius: 12px
                    align-items: flex-start
                    +md-block()
                        box-shadow: none
                    +sm-block()
                        max-height: none
                        border-radius: 0
                        overflow: visible
                    +xs-block()
                        width: 100%
                        margin: 0

                    &::-webkit-scrollbar
                        width: 8px

                    &::-webkit-scrollbar-thumb
                        border-radius: 16px
                        width: 8px
                        height: 80px
                        background: $clr-main
