.pg--why
    margin-top: 80px
    // +md-block()
    //     margin-top: 96px
    +sm-block()
        margin-top: 68px

    .breadcrumbs
        margin-bottom: 32px

    .page-title
        margin-bottom: 48px
        &__description
            position: relative
            z-index: 1
            text-align: left
            p
                max-width: none
                margin-bottom: 40px
                letter-spacing: 0.02em
                +first-last-margin()
                +md-block()
                    font-size: 20px
                +xs-block()
                    font-size: 16px
                    margin-bottom: 20px

            .heading
                +xs-block()
                    font-size: 20px

        &__bg1
            display: block
            width: 372px
            height: 472px
            background: rgba(166, 230, 239, 0.22)
            border-radius: 0 137px 0 124px
            position: absolute
            top: 116px
            left: -80px
            z-index: 0
            +xs-block()
                width: 162px
                height: 206px
                left: -16px
                border-radius: 0 54px

        &__bg2
            display: block
            width: 305px
            height: 372px
            background: rgba(255, 231, 221, 0.25)
            border-radius: 0px 132px
            position: absolute
            top: 394px
            right: 0px
            z-index: 0
            +xs-block()
                display: none

        &__bg3
            display: block
            width: 103px
            height: 103px
            border-radius: 50%
            position: absolute
            top: 117px
            right: 18px
            z-index: 0
            background: rgba(205, 213, 242, 0.2)
            +xs-block()
                width: 55px
                height: 55px
                right: -22px

    .why-feature
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .certificates
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px

    .address
        margin-bottom: 96px
        +md-block()
            margin-bottom: 40px
