section.breadcrumbs 
    .container 
        ul 
            li 
                a(href="/") Asosiy sahifa
            li 
                +icon("sprite_breadcrumbs-arrow")
            li 
                a(href="./katalog.html") Maxsulotlar
            li 
                +icon("sprite_breadcrumbs-arrow")
            li 
                | AMORE BLUE N221
