section.breadcrumbs 
    .container 
        ul 
            li 
                a(href="/") Asosiy sahifa
            li 
                +icon("sprite_breadcrumbs-arrow")
            li Nima uchun neo cosmo
