<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    <link href="{% static 'cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <link href="{% static 'css/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">

    <style>
        #div_id_region_uz, #div_id_district_uz,#div_id_region_en, #div_id_district_en{
	        display: none;
}
    </style>



</head>
<body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">


            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{% static 'images/icon.png' %}" alt="logo" class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Ассалому Алейкум,</span>
                <h2>admin</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Панель управления</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-users"></i> Категории <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'dashboardAllCategory' %}">Все категории</a></li>
                      <li><a href="{% url 'dashboardAddCategory' %}">+ Добавить категорию</a></li>
                    </ul>
                  </li>
                <li><a><i class="fa fa-umbrella"></i> Називание бренд <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'dash_brand_all' %}">Все бренды</a></li>
                      <li><a href="{% url 'dash_brand_add' %}">+ Добавить бренд</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-times-circle-o"></i> Срок замены <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'ChangtingTime' %}">Срок замены</a></li>
                      <li><a href="{% url 'changing_time_add' %}">+ Добавить вариант </a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-cubes"></i> Продукты <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'productList' %}"> Все продукты </a></li>
                      <li><a href="{% url 'productAdd' %}"> + Добавить продукт</a></li>
                    </ul>
                  </li>
               <li><a><i class="fa fa-clock-o"></i> Хорошо сочетается<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'good_with_list' %}">Все элементы</a></li>
                      <li><a href="{% url 'good_with_add' %}">+ Добавить элемент </a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-list"></i> Магазины <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'dashStore_all' %}">Все магазины</a></li>
                      <li><a href="{% url 'dashStore_add' %}">+ Добавить магазины</a></li>
                    </ul>
                  </li>


                  <li><a><i class="fa fa-envelope-o"></i> Сообщения <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'all_messages' %}">Все сообщения</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-id-card" style="font-size:20px"></i> Онлайн магазины для тг <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'all_online_magazines' %}">Все магазины</a></li>
                <li><a href="{% url 'online_magazine_create' %}">+ Добавить магазин</a></li>
                    </ul>
                  </li>

                    <li><a><i class="fa fa-id-card" style="font-size:20px"></i> Онлайн магазины <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'all_store_online' %}">Все магазины</a></li>
                <li><a href="{% url 'add_store_online' %}">+ Добавить магазин</a></li>
                    </ul>
                  </li>

                 <li><a><i class="fa fa-id-card" style="font-size:20px"></i> Отзывы покупателей <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'dash_review_all' %}">Все Отзывы</a></li>
                <li><a href="{% url 'dash_review_add' %}">+ Добавить Отзывы</a></li>
                    </ul>
                  </li>

                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                  <li class="nav-item dropdown" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                      <img src="{% static 'images/icon.png' %}" alt="">
                        Admin
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item"  href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        <!-- /top navigation -->

        {% block content %}

        {% endblock content %}

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright | <a href="#">Mukhammad Ermatov</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
</body>
</html>



