{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} Онлайн интернет магазины {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Интернет магазины</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>

              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="overflow: hidden;">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="card-box table-responsive">
            <table id="datatable-responsive" class="table table-striped table-bordered table-responsive-sm" cellspacing="0" width="100%" >
              <thead>
                <tr>
                  <th>№</th>
                  <th>Название веб-сайта</th>
                  <th>Ссылка на Facebook</th>
                    <th>Телефонный номер</th>
                    <th>*****</th>

                </tr>
              </thead>
              <tbody>
            {% for online_magazin in all_online_magazines%}
                <tr>
                  <td class="col-1">{{ forloop.counter }}</td>
                  <td class="col-2"><h4>{{ online_magazin.website }}</h4></td>
                  <td class="col-2"><h4>{{ online_magazin.facebook }}</h4></td>

                    <td class="col-2">{{ online_magazin.phoneNumber }}</td>
                    <td class="col-5 text-center">
                    <a href="/dashboard/onlinemagazin/edit/{{ online_magazin.id }}"><span class="btn btn-sm btn-success">Изменить</span> </a>
                    <a href="/dashboard/onlinemagazin/delete/{{ online_magazin.id }}" onclick="return confirm('Вы уверены, что хотите удалить это?')">
                        <span class="btn btn-sm btn-danger">Удалить</span>
                    </a>
                    </td>
                  </tr>
            {% endfor %}
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>


            <!-- jQuery -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
           <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <!-- FastClick -->
            <script src="{% static 'js/fastclick.js' %}"></script>
            <!-- NProgress -->
            <script src="{% static 'js/nprogress.js' %}"></script>
            <!-- iCheck -->
            <script src="{% static 'js/iCheck/icheck.min.js' %}"></script>
            <!-- Datatables -->
            <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
            <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
            <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
            <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
            <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>

            <!-- Custom Theme Scripts -->
            <script src="{% static 'js/custom.min.js' %}"></script>
                <!-- jQuery custom content scroller -->
            <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

</body>
{% endblock content %}

