{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} Список всех магазинов {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Список всех магазинов</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>

              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="overflow: hidden;">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="card-box table-responsive">
            <table id="table-responsive" class="table table-striped table-bordered table-responsive-sm" cellspacing="0" width="100%" >
              <thead>
                <tr>
                    <th>№</th>
                  <th>Название магазина</th>
                  <th>Номер телефона магазина</th>
                    <th>Область</th>
                    <th>Район или город</th>
                    <th>Улица и номер дома</th>
                    <th>Latitude и Longitude</th>
                    <th>**********</th>

                </tr>
              </thead>
              <tbody>

              {% for store in allStore %}
                <tr>
                  <td class="col-1">{{ forloop.counter }}</td>
                  <td class="col-2">{{ store.store_name }}</td>
                    <td class="col-2">{{ store.store_phone}}</td>
                    <td class="col-2">
                        {{ store.region_ru}}
                    </td>
                    <td class="col-2">
                       {{ store.district_ru}}
                    </td>

                    <td class="col-2">{{ store.street}}</td>
                    <td class="col-2 ">{{ store.lat}}, {{ store.lang }}</td>
                    <td class="col-2"><a href="{% url 'dashStore_detail' store.pk %}" class="btn btn-primary">Подробнее</a> </td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>


          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>


            <!-- jQuery -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
           <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <!-- FastClick -->
            <script src="{% static 'js/fastclick.js' %}"></script>
            <!-- NProgress -->
            <script src="{% static 'js/nprogress.js' %}"></script>
            <!-- iCheck -->
            <script src="{% static 'js/iCheck/icheck.min.js' %}"></script>
            <!-- Datatables -->
            <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
            <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
            <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
            <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
            <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>

            <!-- Custom Theme Scripts -->
            <script src="{% static 'js/custom.min.js' %}"></script>
                <!-- jQuery custom content scroller -->
            <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

</body>
{% endblock content %}

