{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %} Информация о магазине{% endblock title %}

{% block content %}

<div class="right_col" role="main">
  <div class="">
      <div class="clearfix"></div>

      <div class="row">
          <div class="col-md-12 col-sm-12">


              <div class="x_panel mt-2">
                  <div class="x_title">
                      <h2>Информация о магазине </h2>
                      <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <form class="" action="" method="post" novalidate>
                        <div class="col-sm-4">

                          </div>

                          <div class="col-sm-8 text-left">
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Название магазина<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" placeholder="{{ store.store_name }}" name="name" required="required" disabled/>
                              </div>
                          </div>

                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Номер телефона магазина<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" placeholder="{{ store.store_phone }}" class='optional' type="text" disabled/></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Область<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
              <input class="form-control" placeholder="{{ store.region }} сум" class='optional' required="required" type="text" disabled /></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Район или город<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" name="text" class='text' required="required" type="text" placeholder="{{ store.district }}" disabled /></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Улица и номер дома<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" placeholder="{{ store.street }}" type="text" class='text' required='required'  disabled/></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Latitude(широта)<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" type="text" class='tel' placeholder="{{ store.lat }}" disabled></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Longitude (долгота)<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" type="text" class='tel' placeholder="{{ store.lang }}" disabled></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Время создания<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" type="text" class='tel' placeholder="{{ store.create_at }}" disabled></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Время редактирования<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" type="text" class='tel' placeholder="{{store.update_at }}" disabled></div>
                          </div>

                          </div>
                      </form>
                  </div>
                </div>
            <a href="{% url 'dashStore_delete' store.pk %}" class="btn btn-danger float-md-right">Удалить</a>
              <a href="{% url 'dashStore_edit' store.pk %}" class="btn btn-primary float-md-right">Изменить</a>
            </div>


      </div>

  </div>

</div>

</div>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'js/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'js/nprogress.js' %}"></script>
<!-- jQuery custom content scroller -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script src="{% static 'js/raphael/raphael.min.js"></script>
<script src="{% static 'js/morris.js/morris.min.js' %}"></script>

<script src="{% static 'js/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'js/moment/min/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'js/custom.min.js' %}"></script>

{% endblock content %}