{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Админ панель - База данных {% endblock title %}

{% block content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Добро пожаловать! <small> выберите категорию!</small></h3>
              </div>
            </div>
          </div>
        <p style="margin-top: 1000px;">.</p>

        </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'js/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'js/nprogress.js' %}"></script>
    <!-- jQuery custom content scroller -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'js/custom.min.js' %}"></script>

{% endblock content %}

