{% extends 'dashboard/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Изменить информацию о магазине {% endblock title %}

{% block content %}
    <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" type="text/css" href="{% static './css/googlemaps.css' %}" />
{#<script type="module" src="{% static './js/google_maps.js' %}"></script>#}
    <style>
        #map{
          height: 70%;
          width: 100%;
}
    </style>

    </head>
<div class="right_col" role="main">
  <div class="">



    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Изменить информацию о магазине</h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content" >

              <div class="row">
                  <div class="col-sm-6">


 <form method="post" id="storeForm_ru" districts-url-ru="{% url 'ajax_load_districts_ru' %}" fill-region-uz="{% url 'fill_region_uz' %}" fill-district-uz="{% url 'fill_district_uz' %}" enctype="multipart/form-data" novalidate>{% csrf_token %}
                            {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Изменить</button>
                    </form>
                     </div>
                      <div class="col-sm-6">
                      <h4 class="text-danger">Отметьте нужное место, чтобы получить координаты магазин</h4>
                      <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>
                        <div id="map"></div>
                  </div>
      </div>
    </div>
        </div>

      </div>
    </div>
  </div>
</div>
{#            <script#}
{#      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT8ocgk82Uqf_fTioKBJo_jNyNTQlfjUQ&callback=initMap&v=weekly&region=UZ&language=ru"#}
{#      async#}
{#    ></script>#}

        <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT8ocgk82Uqf_fTioKBJo_jNyNTQlfjUQ&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
<script>
function initMap() {
  const myLatlng = { lat: 41.30885652839861, lng: 69.25556369759003  };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 12,
    center: myLatlng,
    gestureHandling: 'greedy',
  });

  // Create the initial InfoWindow.
  let infoWindow = new google.maps.InfoWindow({
    {#content: "отметьте нужное место, чтобы получить координаты",#}
    position: myLatlng,
  });
  infoWindow.open(map);

  const input = document.getElementById("pac-input");
  const searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  // Bias the SearchBox results towards current map's viewport.
  map.addListener("bounds_changed", () => {
    searchBox.setBounds(map.getBounds());
  });

  let markers = [];

  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener("places_changed", () => {
    const places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

     // Clear out the old markers.
    markers.forEach((marker) => {
      marker.setMap(null);
    });
    markers = [];
    // For each place, get the icon, name and location.
    const bounds = new google.maps.LatLngBounds();
    places.forEach((place) => {
      if (!place.geometry || !place.geometry.location) {
        console.log("Returned place contains no geometry");
        return;
      }

      const icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25),
      };

      // Create a marker for each place.
      markers.push(
        new google.maps.Marker({
          map,
          icon,
          title: place.name,
          position: place.geometry.location,
        })
      );
      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });

  // Configure the click listener.
  map.addListener("click", (mapsMouseEvent) => {
    // Close the current InfoWindow.
    infoWindow.close();
    // Create a new InfoWindow.
    infoWindow = new google.maps.InfoWindow({
      position: mapsMouseEvent.latLng,
    });
    infoWindow.setContent( "📍"
      {#JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)#}
    );
    infoWindow.open(map);
    lat = mapsMouseEvent.latLng.toJSON()['lat']
    lng = mapsMouseEvent.latLng.toJSON()['lng']
    document.getElementById('id_lat').value = lat
    document.getElementById('id_lang').value = lng
  });

}

</script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_region_ru").change(function () {
      var url = $("#storeForm_ru").attr("districts-url-ru");  // get the url of the `load_cities` view
      var region_ru_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'region_ru': region_ru_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district_ru").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

         $("#id_region_ru").change(function () {
      var url = $("#storeForm_ru").attr("fill-region-uz");  // get the url of the `load_cities` view
      var region_id = $(this).val();  // get the selected country ID from the HTML input

        console.log(region_id)
      $.ajax({                       // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'region_uz': region_id, // add the region id to the GET parameters
          'region_ru':region_id,

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_region_uz").html(data);  // replace the contents of the city input with the data that came from the server
            console.log(data)

        }
      });

    });

    $("#id_district_ru").change(function () {
      var url = $("#storeForm_ru").attr("fill-district-uz");  // get the url of the `load_cities` view
      var district_id = $("#id_district_ru").val()
        console.log(district_id)
      $.ajax({                       // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
           'district_uz':district_id,// add the region id to the GET parameters
          'district_ru':district_id,

        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district_uz").html(data);  // replace the contents of the city input with the data that came from the server

            console.log(data)

        }
      });

    });



  </script>

            <!-- jQuery -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
           <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <!-- FastClick -->
            <script src="{% static 'js/fastclick.js' %}"></script>
            <!-- NProgress -->
            <script src="{% static 'js/nprogress.js' %}"></script>
            <!-- iCheck -->
            <script src="{% static 'js/iCheck/icheck.min.js' %}"></script>
            <!-- Datatables -->
            <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
            <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
            <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
            <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
            <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>

            <!-- Custom Theme Scripts -->
            <script src="{% static 'js/custom.min.js' %}"></script>
                <!-- jQuery custom content scroller -->
            <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

</body>
{% endblock content %}

