{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %} Информация о продукте{% endblock title %}

{% block content %}

<div class="right_col" role="main">
  <div class="">
      <div class="clearfix"></div>

      <div class="row">
          <div class="col-md-12 col-sm-12">


              <div class="x_panel mt-2">
                  <div class="x_title">
                      <h2>Информация о продукте </h2>
                      <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <form class="" action="" method="post" novalidate>
                        <div class="col-sm-4">
                          {% if object.productPhoto %}
                              <img src="{{ object.productPhoto.url }}"  class="w-100 img-responsive d-block m-auto img-fluid rounded">
                          {% endif %}
                        <h3>Фото упаковки</h3>
                        {% if object.photo_upakovka %}
                              <img src="{{ object.photo_upakovka.url }}"  class="w-70 img-responsive d-block m-auto img-fluid rounded" >
                          {% endif %}
                            <h3>Фото линза</h3>
                             {% if object.lensePhoto %}
                              <img src="{{ object.lensePhoto.url }}"  class="w-50 img-responsive d-block m-auto img-fluid rounded">
                          {% endif %}
                          </div>

                          <div class="col-sm-8 text-left">
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Категория продукта<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" placeholder="{{ product.category.categoryName }}" name="name" required="required" disabled/>
                              </div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Название продукта<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" placeholder="{{ product.productname }}" class='optional' type="text" disabled/></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Цена<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
              <input class="form-control" placeholder="{{ product.price }} сум" class='optional' required="required" type="text" disabled /></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">С какого возраста<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" name="text" class='text' required="required" type="text" placeholder="{{ product.ageGroup }}" disabled /></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Срок замены линза<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" placeholder="{{ product.time_to_change }}" type="text" class='text' required='required'  disabled/></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">время добавления продукта<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" type="text" class='tel' placeholder="{{ product.create_at }}" disabled></div>
                          </div>
                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">время изменения продукта<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                                  <input class="form-control" type="text" class='tel' placeholder="{{ product.update_at }}" disabled></div>
                          </div>

                          <div class="field item form-group">
                              <label class="col-form-label col-md-3 col-sm-3  label-align">Описание продукта<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6">
                         <textarea class="form-control" rows="6" disabled>{{ product.description|truncatewords:25 }}</textarea>
                          </div>

                        </div>
                          </div>
                      </form>
                  </div>
                </div>
            <a href="{% url 'productdelete' product.pk %}" class="btn btn-danger float-md-right">Удалить</a>
              <a href="{% url 'productedit' product.pk %}" class="btn btn-primary float-md-right">Изменить</a>
            </div>


      </div>

  </div>

</div>

</div>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'js/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'js/nprogress.js' %}"></script>
<!-- jQuery custom content scroller -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script src="{% static 'js/raphael/raphael.min.js"></script>
<script src="{% static 'js/morris.js/morris.min.js' %}"></script>

<script src="{% static 'js/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'js/moment/min/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'js/custom.min.js' %}"></script>

{% endblock content %}