{% extends 'dashboard/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %} Контактная информация компании{% endblock title %}

{% block content %}

<div class="right_col" role="main">
  <div class="">
      <div class="clearfix"></div>

      <div class="row">
          <div class="col-md-12 col-sm-12">


              <div class="x_panel mt-2">
                  <div class="x_title">
                      <h2>Онлайн магазины </h2>
                      <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <form method="post" enctype="multipart/form-data">{% csrf_token %}
                          {{ form|crispy }}
                         <br><button type="submit" class="btn btn-success">Изменять</button>
                       </form>
                        </div>

                  </div>


                  </div>
                </div>


            </div>


      </div>

  </div>

</div>

</div>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'js/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'js/nprogress.js' %}"></script>
<!-- jQuery custom content scroller -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script src="{% static 'js/raphael/raphael.min.js"></script>
<script src="{% static 'js/morris.js/morris.min.js' %}"></script>

<script src="{% static 'js/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'js/moment/min/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'js/custom.min.js' %}"></script>

{% endblock content %}