.breadcrumbs
	margin: 0
	padding: 0
	display: flex
	list-style-type: none
	flex-wrap: wrap

	li
		color: $clr-main
		font-size: $fz-xs
		font-weight: 400
		position: relative

	a
		color: transparentize($clr-main, 0.4)
		text-decoration: none
		transition: color 0.25s
		&:hover
			transition: color 0.25s
			color: $clr-main