.burger
	position: relative
	width: 26px
	height: 18px
	display: none
	flex: 0 0 auto
	@include lg-block
		display: block

	&:before
		content: ''
		display: block
		width: 100%
		height: 2px
		background: $clr-burger
		position: absolute
		left: 0
		top: 8px
		box-shadow: 0 -6px 0 0 $clr-burger
		transition: transform 0.2s

	&:after
		content: ''
		display: block
		width: 100%
		height: 2px
		background: $clr-burger
		position: absolute
		left: 0
		top: 14px
		transition: transform 0.2s

	&.open
		&:before
			box-shadow: none
			transform: rotate(45deg)

		&:after
			top: 8px
			transform: rotate(-45deg)
