.btn
	display: inline-block
	line-height: 1
	font-weight: 500
	text-align: center
	text-decoration: none
	border-radius: 8px
	min-width: 108px
	font-family: $font-family
	font-size: $fz-xs
	border-width: 1px
	border-style: solid
	transition: box-shadow 0.2s, background 0.2s, border-color 0.2s
	cursor: pointer
	@include button-state-color($clr-main, $clr-white)

	&--lg
		font-size: $fz-md
		@include xxs-block
			font-size: $fz-sm

	&--md
		font-size: $fz-sm

	&--full
		width: 100%

	&:disabled
		opacity: 0.5
		cursor: not-allowed

	&:hover,
	&:focus,
	&:active
		text-decoration: none
		outline: none

	&:hover,
	&:focus
		background: darken($clr-main, 10)
		border-color: darken($clr-main, 10)


.btn.btn--light
	@include button-state-color($clr-bg-gray, $clr-main)
