.clutch

	&-left
		margin-right: 12px

	&-widget
		display: flex

	&-rating
		.svgSymb
			color: $clr-clutch-star
			margin-right: 2px

	&-link
		a
			text-decoration: none
			letter-spacing: 0.16em
			font-size: 13px
