section.product 
  .container 
    .product__inner 
      .product__left 
        .product__left-slider 
          .swiper-wrapper 
            .swiper-slide
              picture 
                source(srcset="./images/katalog/N021.webp, ./images/katalog/N021@2x.webp 1.5x" loading="lazy")
                img(src="./images/lenses/N021.png" srcset="./images/lenses/N021@2x.png 1.5x" alt="" loading="lazy")
            .swiper-slide
              picture 
                source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .swiper-slide
              picture 
                source(srcset="./images/poster.webp, ./images/poster@2x.webp 1.5x" loading="lazy")
                img(src="./images/poster.jpg" srcset="./images/poster@2x.jpg 1.5x" alt="" loading="lazy")
            .swiper-slide
              picture 
                source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                img(src="./images/lead/about.jpg" srcset="./images/lead/about@2x.jpg 1.5x" alt="" loading="lazy")
        .product__left-pagination 
      .product__right 
        h2.heading NEO COSMO AMORE BLUE N221
        .product__characteristic
          ul
            li Diametri
            li Linzaning egrilik radiusi
            li Tarkibidagi namlik
            li Material / material turi
            li Linza dizayni
            li Taqish vaqti
            li Almashtirish vaqti
            li Paketdagi blisterlar soni
            li Ishlab chiqaruvchi
          ul 
            li 14.2
            li 8.6
            li 42%
            li 2-HEMO  / gidrogel
            li asferik
            li kunduzi
            li 3 oylik 
            li 2 dona
            li Janubiy Korea
