section.about-grid
    .container 
        .about-grid__inner 
            .about-grid__item 
                .about-grid__video
                    .about-grid__video-img
                        img(src="./images/reviews/item1.jpg", alt="")
                    .about-grid__video-play.mklbItem(data-video-src="./review.mp4")
                        +icon('sprite_play')
                    .about-grid__video-grad
                .about-grid__title 
                    h4.heading Linzalarni ishlatishdan oldin
                .about-grid__content
                    .about-grid__description 
                        p 1  Oynaga qarang va ko'zning shilliq qavati yoki ko'zning qizarishi yo'qligini tekshiring.
                        p 2  Ochishdan oldin, linzalarda, qadoqlarda va idishda g’ayritabiiy holat yo'qligini tekshiring. Agar g’ayritabiiy holat bo'lsa, ochmang. G’ayritabiiy holat ekanligiga shubha qilingan mahsulotlar uchun dileringizga murojaat qiling.
                        p 3  linzani yaroqlik muddatiga qarang , Yaroqlik muddati o’tmaganligiga ishonch xosil qiling.
                a(href="#").about-grid__btn.js-about-grid-btn Ko’proq bilish
                    +icon("sprite_breadcrumbs-arrow")
            .about-grid__item 
                .about-grid__video
                    .about-grid__video-img
                        img(src="./images/reviews/item1.jpg", alt="")
                    .about-grid__video-play.mklbItem(data-video-src="./review.mp4")
                        +icon('sprite_play')
                    .about-grid__video-grad
                .about-grid__title 
                    h4.heading Linzalarni ishlatishdan oldin
                .about-grid__content
                    .about-grid__description 
                        p 1  Oynaga qarang va ko'zning shilliq qavati yoki ko'zning qizarishi yo'qligini tekshiring.
                        p 2  Ochishdan oldin, linzalarda, qadoqlarda va idishda g’ayritabiiy holat yo'qligini tekshiring. Agar g’ayritabiiy holat bo'lsa, ochmang. G’ayritabiiy holat ekanligiga shubha qilingan mahsulotlar uchun dileringizga murojaat qiling.
                        p 3  linzani yaroqlik muddatiga qarang , Yaroqlik muddati o’tmaganligiga ishonch xosil qiling.
                a(href="#").about-grid__btn.js-about-grid-btn Ko’proq bilish
                    +icon("sprite_breadcrumbs-arrow")
            .about-grid__item 
                .about-grid__video
                    .about-grid__video-img
                        img(src="./images/reviews/item1.jpg", alt="")
                    .about-grid__video-play.mklbItem(data-video-src="./review.mp4")
                        +icon('sprite_play')
                    .about-grid__video-grad
                .about-grid__title 
                    h4.heading Linzalarni ishlatishdan oldin
                .about-grid__content
                    .about-grid__description 
                        p 1  Oynaga qarang va ko'zning shilliq qavati yoki ko'zning qizarishi yo'qligini tekshiring.
                        p 2  Ochishdan oldin, linzalarda, qadoqlarda va idishda g’ayritabiiy holat yo'qligini tekshiring. Agar g’ayritabiiy holat bo'lsa, ochmang. G’ayritabiiy holat ekanligiga shubha qilingan mahsulotlar uchun dileringizga murojaat qiling.
                        p 3  linzani yaroqlik muddatiga qarang , Yaroqlik muddati o’tmaganligiga ishonch xosil qiling.
                a(href="#").about-grid__btn.js-about-grid-btn Ko’proq bilish
                    +icon("sprite_breadcrumbs-arrow")
            .about-grid__item 
                .about-grid__video
                    .about-grid__video-img
                        img(src="./images/reviews/item1.jpg", alt="")
                    .about-grid__video-play.mklbItem(data-video-src="./review.mp4")
                        +icon('sprite_play')
                    .about-grid__video-grad
                .about-grid__title 
                    h4.heading Linzalarni ishlatishdan oldin
                .about-grid__content
                    .about-grid__description 
                        p 1  Oynaga qarang va ko'zning shilliq qavati yoki ko'zning qizarishi yo'qligini tekshiring.
                        p 2  Ochishdan oldin, linzalarda, qadoqlarda va idishda g’ayritabiiy holat yo'qligini tekshiring. Agar g’ayritabiiy holat bo'lsa, ochmang. G’ayritabiiy holat ekanligiga shubha qilingan mahsulotlar uchun dileringizga murojaat qiling.
                        p 3  linzani yaroqlik muddatiga qarang , Yaroqlik muddati o’tmaganligiga ishonch xosil qiling.
                a(href="#").about-grid__btn.js-about-grid-btn Ko’proq bilish
                    +icon("sprite_breadcrumbs-arrow")