section.address 
  .container 
    .address__inner 
      .section-header 
        h2.heading Qayerdan sotib olish mumkin
        .section-header__description Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        .section-header__actions 
          a(href="#").js-choose-address Online 
          a(href="#").active.js-choose-address Do‘kondan
      .address__content 
        form.address__choose
          .field 
            a(href="/store.html")#button Mening joylashuvim
              +icon("sprite_location1")
          .field
            select.address__choose-item.select2-single(data-placeholder="Shahringizni tanlang")
              option(value="#") Lorem, ipsum 3.
              option(value="#") Lorem, ipsum 1.
              option(value="#") Lorem, ipsum 2.
          .field
            select.address__choose-item.select2-single.js-choose-street(data-placeholder="Tumaningizni tanlang")
              option(value="#").js-choose-street Lorem, ipsum 3.
              option(value="#").js-choose-street Lorem, ipsum 1.
              option(value="#").js-choose-street Lorem, ipsum 2.
        .address__item-list.js-offline
          .address__item-list-map 
            #map(style="height: 100%")
          .address__item-list-cards
            .address__item.js-address-item(data-address-lat="41.266869562437904" data-address-lng="69.29174000616273") 
              .address__item-title 
                +icon('sprite_market')
                h3.heading.heading--md Optika.uz
              .address__item-location 
                +icon('sprite_location')
                p Toshkent shahar, Yashnaobod tumani, Farg’ona yoli ko’chasi, 2-uy, 37-xonadon
              .address__item-phone 
                +icon('sprite_phone')
                a(href="tel:+998998992288") +998 99 899 22 88
            .address__item.js-address-item(data-address-lat="41.2808119428245" data-address-lng="69.21047267535619") 
              .address__item-title 
                +icon('sprite_market')
                h3.heading.heading--md Optika.uz
              .address__item-location 
                +icon('sprite_location')
                p Toshkent shahar, Yashnaobod tumani, Farg’ona yoli ko’chasi, 2-uy, 37-xonadon
              .address__item-phone 
                +icon('sprite_phone')
                a(href="tel:+998998992288") +998 99 899 22 88
            .address__item.js-address-item(data-address-lat="41.34765240556995" data-address-lng="69.25295722215267") 
              .address__item-title 
                +icon('sprite_market')
                h3.heading.heading--md Optika.uz
              .address__item-location 
                +icon('sprite_location')
                p Toshkent shahar, Yashnaobod tumani, Farg’ona yoli ko’chasi, 2-uy, 37-xonadon
              .address__item-phone 
                +icon('sprite_phone')
                a(href="tel:+998998992288") +998 99 899 22 88
        .address__actions 
          a(href="#").js-address-actions.btn Qo‘ng‘roq qilish
        .address__item-list-online.js-online
          a(href="#") 
            picture
              source(srcset="./images/address/1.webp, ./images/address/1@2x.webp 1.5x" width="233" height="90")
              img(src="./images/address/1.png" srcset="./images/address/1@2x.png 1.5x" width="233" height="90" alt="")
          a(href="#") 
            picture
              source(srcset="./images/address/2.webp, ./images/address/2@2x.webp 1.5x" width="233" height="90")
              img(src="./images/address/2.png" srcset="./images/address/2@2x.png 1.5x" width="233" height="90" alt="")
          a(href="#") 
            picture
              source(srcset="./images/address/3.webp, ./images/address/3@2x.webp 1.5x" width="233" height="90")
              img(src="./images/address/3.png" srcset="./images/address/3@2x.png 1.5x" width="233" height="90" alt="")
          a(href="#") 
            picture
              source(srcset="./images/address/4.webp, ./images/address/4@2x.webp 1.5x" width="233" height="90")
              img(src="./images/address/4.png" srcset="./images/address/4@2x.png 1.5x" width="233" height="90" alt="")
          a(href="#") 
            picture
              source(srcset="./images/address/5.webp, ./images/address/5@2x.webp 1.5x" width="233" height="90")
              img(src="./images/address/5.png" srcset="./images/address/5@2x.png 1.5x" width="233" height="90" alt="")
          a(href="#") 
            picture
              source(srcset="./images/address/5.webp, ./images/address/5@2x.webp 1.5x" width="233" height="90")
              img(src="./images/address/5.png" srcset="./images/address/5@2x.png 1.5x" width="233" height="90" alt="")