section.calculator 
    .container 
        .calculator__inner 
            .calculator__title 
                h3.heading Ko’ z nuringiz darajasinni tanlang
            .calculator__tabs 
                a(href="#" data-tab="sferik").js-calculator-sferik.js-calculator-tab.active Sferik
                a(href="#" data-tab="torik").js-calculator-torik.js-calculator-tab Torik
            form(action="#" method="POST").calculator__form
                .calculator__form-left 
                    h4.heading Chap ko'z
                    .field.js-sferik
                        label Sphere(SPH)
                        select.select2-single(data-placeholder="Select Spherical" id="sphere-left")
                            option(value="-14.00") -14.00
                            option(value="-13.75") -13.75
                            option(value="-13.50") -13.50
                            option(value="-13.25") -13.25
                            option(value="-13.00") -13.00
                            option(value="-12.75") -12.75
                            option(value="-12.50") -12.50
                            option(value="-12.25") -12.25
                            option(value="-12.00") -12.00
                            option(value="-11.75") -11.75
                            option(value="-11.50") -11.50
                            option(value="-11.25") -11.25
                            option(value="-11.00") -11.00
                            option(value="-10.75") -10.75
                            option(value="-10.50") -10.50
                            option(value="-10.25") -10.25
                            option(value="-10.00") -10.00
                            option(value="-9.75") -9.75
                            option(value="-9.50") -9.50
                            option(value="-9.25") -9.25
                            option(value="-9.00") -9.00
                            option(value="-8.75") -8.75
                            option(value="-8.50") -8.50
                            option(value="-8.25") -8.25
                            option(value="-8.00") -8.00
                            option(value="-7.75") -7.75
                            option(value="-7.50") -7.50
                            option(value="-7.25") -7.25
                            option(value="-7.00") -7.00
                            option(value="-6.75") -6.75
                            option(value="-6.50") -6.50
                            option(value="-6.25") -6.25
                            option(value="-6.00") -6.00
                            option(value="-5.75") -5.75
                            option(value="-5.50") -5.50
                            option(value="-5.25") -5.25
                            option(value="-5.00") -5.00
                            option(value="-4.75") -4.75
                            option(value="-4.50") -4.50
                            option(value="-4.25") -4.25
                            option(value="-4.00") -4.00
                            option(value="-3.75") -3.75
                            option(value="-3.50") -3.50
                            option(value="-3.25") -3.25
                            option(value="-3.00") -3.00
                            option(value="-2.75") -2.75
                            option(value="-2.50") -2.50
                            option(value="-2.25") -2.25
                            option(value="-2.00") -2.00
                            option(value="-1.75") -1.75
                            option(value="-1.50") -1.50
                            option(value="-1.25") -1.25
                            option(value="-1.00") -1.00
                            option(value="-0.75") -0.75
                            option(value="-0.50") -0.50
                            option(value="-0.25") -0.25
                            option(value="0") 0
                            option(value="+0.25") +0.25
                            option(value="+0.50") +0.50
                            option(value="+0.75") +0.75
                            option(value="+1.00") +1.00
                            option(value="+1.25") +1.25
                            option(value="+1.50") +1.50
                            option(value="+1.75") +1.75
                            option(value="+2.00") +2.00
                            option(value="+2.25") +2.25
                            option(value="+2.50") +2.50
                            option(value="+2.75") +2.75
                            option(value="+3.00") +3.00
                            option(value="+3.25") +3.25
                            option(value="+3.50") +3.50
                            option(value="+3.75") +3.75
                            option(value="+4.00") +4.00
                            option(value="+4.25") +4.25
                            option(value="+4.50") +4.50
                            option(value="+4.75") +4.75
                            option(value="+5.00") +5.00
                            option(value="+5.25") +5.25
                            option(value="+5.50") +5.50
                    .field.js-torik
                        label Cylinder(CYL)
                        select.select2-single(data-placeholder="Select Cylinder" id="cyl-left")
                            option(value="-3.25") -3.25
                            option(value="-3.00") -3.00
                            option(value="-2.75") -2.75
                            option(value="-2.50") -2.50
                            option(value="-2.25") -2.25
                            option(value="-2.00") -2.00
                            option(value="-1.75") -1.75
                            option(value="-1.50") -1.50
                            option(value="-1.25") -1.25
                            option(value="-1.00") -1.00
                            option(value="-0.75") -0.75
                            option(value="-0.50") -0.50
                            option(value="-0.25") -0.25
                            option(value="0") 0
                    .field.js-torik
                        label AXIS(AXI)
                        select.select2-single(data-placeholder="Select AXIS" id="axi-left")
                            option(value="10") 10&#xb0
                            option(value="20") 20&#xb0
                            option(value="30") 30&#xb0
                            option(value="40") 40&#xb0
                            option(value="50") 50&#xb0
                            option(value="60") 60&#xb0
                            option(value="70") 70&#xb0
                            option(value="80") 80&#xb0
                            option(value="90") 90&#xb0
                            option(value="100") 100&#xb0
                            option(value="110") 110&#xb0
                            option(value="120") 120&#xb0
                            option(value="130") 130&#xb0
                            option(value="140") 140&#xb0
                            option(value="150") 150&#xb0
                            option(value="160") 160&#xb0
                            option(value="170") 170&#xb0
                            option(value="180") 180&#xb0
                .calculator__form-right
                    h4.heading O'ng ko'z
                    .field.js-sferik
                        label Sphere(SPH)
                        select.select2-single(data-placeholder="Select Spherical" id="sphere-right")
                            option(value="-14.00") -14.00
                            option(value="-13.75") -13.75
                            option(value="-13.50") -13.50
                            option(value="-13.25") -13.25
                            option(value="-13.00") -13.00
                            option(value="-12.75") -12.75
                            option(value="-12.50") -12.50
                            option(value="-12.25") -12.25
                            option(value="-12.00") -12.00
                            option(value="-11.75") -11.75
                            option(value="-11.50") -11.50
                            option(value="-11.25") -11.25
                            option(value="-11.00") -11.00
                            option(value="-10.75") -10.75
                            option(value="-10.50") -10.50
                            option(value="-10.25") -10.25
                            option(value="-10.00") -10.00
                            option(value="-9.75") -9.75
                            option(value="-9.50") -9.50
                            option(value="-9.25") -9.25
                            option(value="-9.00") -9.00
                            option(value="-8.75") -8.75
                            option(value="-8.50") -8.50
                            option(value="-8.25") -8.25
                            option(value="-8.00") -8.00
                            option(value="-7.75") -7.75
                            option(value="-7.50") -7.50
                            option(value="-7.25") -7.25
                            option(value="-7.00") -7.00
                            option(value="-6.75") -6.75
                            option(value="-6.50") -6.50
                            option(value="-6.25") -6.25
                            option(value="-6.00") -6.00
                            option(value="-5.75") -5.75
                            option(value="-5.50") -5.50
                            option(value="-5.25") -5.25
                            option(value="-5.00") -5.00
                            option(value="-4.75") -4.75
                            option(value="-4.50") -4.50
                            option(value="-4.25") -4.25
                            option(value="-4.00") -4.00
                            option(value="-3.75") -3.75
                            option(value="-3.50") -3.50
                            option(value="-3.25") -3.25
                            option(value="-3.00") -3.00
                            option(value="-2.75") -2.75
                            option(value="-2.50") -2.50
                            option(value="-2.25") -2.25
                            option(value="-2.00") -2.00
                            option(value="-1.75") -1.75
                            option(value="-1.50") -1.50
                            option(value="-1.25") -1.25
                            option(value="-1.00") -1.00
                            option(value="-0.75") -0.75
                            option(value="-0.50") -0.50
                            option(value="-0.25") -0.25
                            option(value="0") 0
                            option(value="+0.25") +0.25
                            option(value="+0.50") +0.50
                            option(value="+0.75") +0.75
                            option(value="+1.00") +1.00
                            option(value="+1.25") +1.25
                            option(value="+1.50") +1.50
                            option(value="+1.75") +1.75
                            option(value="+2.00") +2.00
                            option(value="+2.25") +2.25
                            option(value="+2.50") +2.50
                            option(value="+2.75") +2.75
                            option(value="+3.00") +3.00
                            option(value="+3.25") +3.25
                            option(value="+3.50") +3.50
                            option(value="+3.75") +3.75
                            option(value="+4.00") +4.00
                            option(value="+4.25") +4.25
                            option(value="+4.50") +4.50
                            option(value="+4.75") +4.75
                            option(value="+5.00") +5.00
                            option(value="+5.25") +5.25
                            option(value="+5.50") +5.50
                    .field.js-torik
                        label Cylinder(CYL)
                        select.select2-single(data-placeholder="Select Cylinder" id="cyl-right")
                            option(value="-3.25") -3.25
                            option(value="-3.00") -3.00
                            option(value="-2.75") -2.75
                            option(value="-2.50") -2.50
                            option(value="-2.25") -2.25
                            option(value="-2.00") -2.00
                            option(value="-1.75") -1.75
                            option(value="-1.50") -1.50
                            option(value="-1.25") -1.25
                            option(value="-1.00") -1.00
                            option(value="-0.75") -0.75
                            option(value="-0.50") -0.50
                            option(value="-0.25") -0.25
                            option(value="0") 0
                    .field.js-torik
                        label AXIS(AXI)
                        select.select2-single(data-placeholder="Select AXIS" id="axi-right")
                            option(value="10") 10&#xb0
                            option(value="20") 20&#xb0
                            option(value="30") 30&#xb0
                            option(value="40") 40&#xb0
                            option(value="50") 50&#xb0
                            option(value="60") 60&#xb0
                            option(value="70") 70&#xb0
                            option(value="80") 80&#xb0
                            option(value="90") 90&#xb0
                            option(value="100") 100&#xb0
                            option(value="110") 110&#xb0
                            option(value="120") 120&#xb0
                            option(value="130") 130&#xb0
                            option(value="140") 140&#xb0
                            option(value="150") 150&#xb0
                            option(value="160") 160&#xb0
                            option(value="170") 170&#xb0
                            option(value="180") 180&#xb0
                .calculator__form-button
                    a(id="calculator_btn").btn.btn--lg Yuborish
            .calculator__form-answer 
                .calculator__form-answer-desc Исходя из ваших требований, вот ваши возможности для контактных линз
                .calculator__form-answer-table 
                    table 
                        thead 
                            tr 
                                th(style="border-bottom:0 solid transparent")
                                th Left Eye
                                th Right Eye
                        tbody 
                            tr 
                                td(style="font-weight: 500") SPHERE(SPH)
                                td.js-answerSphereLeft
                                td.js-answerSphereRight
                            tr.js-torik
                                td(style="font-weight: 500") CYLINDER(CYL)
                                td.js-answerCylinderLeft
                                td.js-answerCylinderRight
                            tr.js-torik
                                td(style="font-weight: 500") Axis(AX)
                                td.js-answerAxisLeft
                                td.js-answerAxisRight