section.certificates#certificates
  .container 
    .certificates__inner 
      .certificates__title 
        h2.heading sErtifikatlar
      .certificates__subtitle 
        p O’zbekistonda ro’yhatga olish sertifikatlari
      .certificates__uz 
        picture
          source(srcset="./images/certificate/1.webp, ./images/certificate/1@2x.webp 1.5x" width="340" height="422" loading="lazy").minimized
          img(src="./images/certificate/1.png" srcset="./images/certificate/1@2x.png 1.5x" width="340" height="422" loading="lazy" alt="").minimized
        picture 
          source(srcset="./images/certificate/2.webp, ./images/certificate/2@2x.webp 1.5x" width="340" height="422" loading="lazy").minimized
          img(src="./images/certificate/2.png" srcset="./images/certificate/2@2x.png 1.5x" width="340" height="422" loading="lazy" alt="").minimized
    .certificates__bg1
    .certificates__bg2
    .certificates__bg3