section.choose-lenses 
  .container 
    .choose-lenses__inner 
      .section-header--center
        h2.heading O'z uslubingizni tanlang
      .choose-lenses__select-color 
        ul 
          li
            a(href="#" data-choose-color="0").js-choose-color Amore
          li
            a(href="#" data-choose-color="1").active.js-choose-color Brilliant
          li
            a(href="#" data-choose-color="2").js-choose-color Delight
        p(data-show="0") Siz ajralib turmasdan turishni xohlagan paytlar uchun juda mos keladi. Siz har doimgidek ajoyib bo’lib qolaverasiz.
        p(data-show="1") aaaaaa
        p(data-show="2") bbbbbbbb
      .choose-lenses__content 
        .choose-lenses__left 
          .choose-lenses__left-top(data-show="0")
            .choose-lenses__title NEO COSMO AMORE BLUE N2211111111
            .choose-lenses__purpose
              .choose-lenses__title BAYRAM MAVSUMI
              .choose-lenses__purpose-desc Barcha tadbirlar uchun juda mos keladi. Katta uzbek to’yi yoki bayram mavsumi bo’lsin. Bayram libosingiz uchun sevimli uslibdir.
            .choose-lenses__color 
              .choose-lenses__title BILAN YAXSHI KETADI:
              ul
                li 
                  .choose-lenses__color-circle
                  span To’q rangli bayram kiyimlari
                li 
                  .choose-lenses__color-circle
                  span To’g’irlangan sochlar
                li 
                  .choose-lenses__color-circle
                  span Jigarrang va kulrang ko’zlar
            .choose-lenses__feature 
              .choose-lenses__title MAVJUD XUSUSIYATLAR:
              .choose-lenses__feature-desc -0.50 to -6.00 (0.25 steps), <br> -6.50 to 10.00(0.50 steps)
          .choose-lenses__left-top(data-show="1")
            .choose-lenses__title NEO COSMO AMORE BLUE N22133333333
            .choose-lenses__purpose
              .choose-lenses__title BAYRAM MAVSUMI
              .choose-lenses__purpose-desc Barcha tadbirlar uchun juda mos keladi. Katta uzbek to’yi yoki bayram mavsumi bo’lsin. Bayram libosingiz uchun sevimli uslibdir.
            .choose-lenses__color 
              .choose-lenses__title BILAN YAXSHI KETADI:
              ul
                li 
                  .choose-lenses__color-circle
                  span To’q rangli bayram kiyimlari
                li 
                  .choose-lenses__color-circle
                  span To’g’irlangan sochlar
                li 
                  .choose-lenses__color-circle
                  span Jigarrang va kulrang ko’zlar
            .choose-lenses__feature 
              .choose-lenses__title MAVJUD XUSUSIYATLAR:
              .choose-lenses__feature-desc Plano, - 0.50 to -6.00 (0.25 steps), <br> -6.50 to 10.00(0.50 steps)
          .choose-lenses__left-top(data-show="2")
            .choose-lenses__title NEO COSMO AMORE BLUE N2212222222222
            .choose-lenses__purpose
              .choose-lenses__title BAYRAM MAVSUMI
              .choose-lenses__purpose-desc Barcha tadbirlar uchun juda mos keladi. Katta uzbek to’yi yoki bayram mavsumi bo’lsin. Bayram libosingiz uchun sevimli uslibdir.
            .choose-lenses__color 
              .choose-lenses__title BILAN YAXSHI KETADI:
              ul
                li 
                  .choose-lenses__color-circle
                  span To’q rangli bayram kiyimlari
                li 
                  .choose-lenses__color-circle
                  span To’g’irlangan sochlar
                li 
                  .choose-lenses__color-circle
                  span Jigarrang va kulrang ko’zlar
            .choose-lenses__feature 
              .choose-lenses__title MAVJUD XUSUSIYATLAR:
              .choose-lenses__feature-desc Plano, - 0.50 to -6.00 (0.25 steps), <br> -6.50 to 10.00(0.50 steps)
          .choose-lenses__left-bottom 
            a.btn(href="#") 
              +icon("sprite_camera")
              p Linzani virtual taqib ko’rish
        .choose-lenses__right
          .choose-lenses__right-top
            .choose-lenses__select-lenses 
              .lens-slider
                .swiper-wrapper.lens-wrapper
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0" data-show="0")
                    img(src="./images/lenses/N221.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0" data-show="1")
                    img(src="./images/lenses/N222.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0")
                    img(src="./images/lenses/N223.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0")
                    img(src="./images/lenses/N224.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0")
                    img(src="./images/lenses/N225.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0")
                    img(src="./images/lenses/N226.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0")
                    img(src="./images/lenses/N227.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="0")
                    img(src="./images/lenses/N228.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="1" data-show="2")
                    img(src="./images/lenses/NC335.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="1")
                    img(src="./images/lenses/NC331.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="1")
                    img(src="./images/lenses/NC336.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="1")
                    img(src="./images/lenses/NC332.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="1")
                    img(src="./images/lenses/NC334.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="1")
                    img(src="./images/lenses/NC338.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="2")
                    img(src="./images/lenses/NC969.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="2")
                    img(src="./images/lenses/N021.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="2")
                    img(src="./images/lenses/N022.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="2")
                    img(src="./images/lenses/N023.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="2")
                    img(src="./images/lenses/N024.png" width="42" height="42" loading="lazy" alt="")
                  .swiper-slide.js-lenses-slide(data-lenses-slide="2")
                    img(src="./images/lenses/N025.png" width="42" height="42" loading="lazy" alt="")
            .choose-lenses__img 
              picture 
                source(srcset="/images/female.webp, /images/female@2x.webp 1.5x" width="620" height="520" loading="lazy")
                img(src="/images/female.png" srcset="/images/female@2x.png 1.5x" width="620" height="520" loading="lazy" alt="").js-bg-img
              .choose-lenses__lens.female
                img(src="" alt="")
          .choose-lenses__right-bottom
            ul.choose-lenses__toggle-sex 
              li
                a(href="#").active.js-choose-sex Ayol
              li
                a(href="#").js-choose-sex Erkak

