section.success 
    img(src="./images/svg/success.svg", alt="" width="408" height="408")
    h2.heading Arizangiz Muvaffaqiyatli Yuborlidi
    p.success__description Tez orada siz bilan bog’lanamiz
    a(href="/").btn.btn--lg Bosh sahifaga qaytish