section.faq 
    .container 
        .faq__list 
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 1. Linzalarga ko'nikish uchun qancha vaqt ketadi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item.active
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 2. Kontakt linzalarni musluk suvida saqlashimiz mumkinmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content(style="display: block")
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 3. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 4. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 5. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 6. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
