section.feature 
    .container 
        .feature__inner 
            h2.heading Linzalarning qanaqa hususiyatlari bor ?
            .feature-slider
                .feature__desktop-list.swiper-wrapper
                    .feature__item.swiper-slide
                        .feature__item-inner
                            .feature__item-img 
                                img(src="./images/feature/item1.svg", width="142" height="142" alt="")
                                img(src="./images/feature/item-nocolor1.svg", width="128" height="128" alt="")
                            .feature__item-desc Tanlash uchun ranglarning keng assortiment mavjud
                    .feature__item.swiper-slide
                        .feature__item-inner
                            .feature__item-img 
                                img(src="./images/feature/item2.svg", width="128" height="128" alt="")
                                img(src="./images/feature/item-nocolor2.svg", width="128" height="128" alt="")
                            .feature__item-desc Ko'zlaringizning tabiiy rangi bilan uyg'unlashadigan noyob dantelli naqsh
                    .feature__item.swiper-slide
                        .feature__item-inner
                            .feature__item-img 
                                img(src="./images/feature/item3.svg", width="128" height="128" alt="")
                                img(src="./images/feature/item-nocolor3.svg", width="128" height="128" alt="")
                            .feature__item-desc 8 soatlik qulay taqish uchun tavsiya etiladi
                .feature__mobile-next 
                    img(src="./images/feature/arrow.svg", alt="")
                .feature__mobile-prev
                    img(src="./images/feature/arrow.svg", alt="")