section.form 
    .container 
        .form__inner 
            .form__title 
                h2.heading Biz bilan bog’lanish
            .form__description 
                p 
                    | Aloqa olishni xohlaysizmi? Sizdan eshitishni istardik. Biz bilan qanday bog'lanishingiz mumkin...
            .form__contact 
                .form__contact-item
                    div
                        +icon("sprite_location")
                    a(href="./store.html") 
                        | Farg’ona yoli ko’chasi, 2-uy, 37-xonadon
                .form__contact-item
                    div 
                        +icon("sprite_phone")
                    a(href="tel:+998886006006") 
                        | +998 88 600 60 06
                .form__contact-item
                    div
                        +icon("sprite_mail")
                    a(href="mailto:hello@neocosmo.com") 
                        | hello@neocosmo.com
            form(action="#")
                .form__content
                    .form__left 
                        .field
                            input(type="text" name="name" id="name").input
                            label(for="name") Ism
                        .field 
                            input(type="email" name="email" id="email").input
                            label(for="email") E-mail:
                        .field 
                            input(type="tel" name="number" id="number").input
                            label(for="number") Telefon Raqam
                    .form__right 
                        .field 
                            textarea(name="Xabar")#xabar.textarea
                            label(for="xabar") Xabar
                .form__btn 
                    button(type="submit").btn Yuborish