section.katalog-grid
  .container 
    form(id="catalog" method="GET").katalog-grid__select
      .katalog-grid__select-item
        span Turini tanlang
        select(name="color" data-placeholder="Barchasi").address__choose-item.select2-single.js-catalog-select-color
          option(value="amore") Amore
          option(value="brilliant") Brilliant
          option(value="delight") Delight
      .katalog-grid__select-item
        span Almashtirish vaqti
        select(name="time" data-placeholder="Barchasi").address__choose-item.select2-single.js-catalog-select-time
          option(value="1") 1 oy
          option(value="2") 2 oy
          option(value="3") 3 oy
      button(type="submit" style="position: absolute; left: -1000px" id="catalog_btn")
  .katalog-grid__inner 
    .container
      .katalog-grid__list 
        .katalog-grid__item(data-catalog-item-type="amore")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/lenses/N021.webp, ./images/lenses/N021@2x.webp 1.5x" loading="lazy")
                  img(src="./images/lenses/N021.png" srcset="./images/lenses/N021@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/poster.webp, ./images/poster@2x.webp 1.5x" loading="lazy")
                  img(src="./images/poster.jpg" srcset="./images/poster@2x.jpg 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="2")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="brilliant")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="1")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="delight")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="3")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="amore")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="3")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="brilliant")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="2")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="delight")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="1")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="amore")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="1")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="delight")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="3")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
        .katalog-grid__item(data-catalog-item-type="amore")
          .katalog-grid__item-image 
            .swiper-wrapper
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
              div.swiper-slide
                picture
                  source(srcset="./images/katalog/1.webp, ./images/katalog/1@2x.webp 1.5x" loading="lazy")
                  img(src="./images/katalog/1.png" srcset="./images/katalog/1@2x.png 1.5x" alt="" loading="lazy")
            .katalog-grid__slider-pagination
            a(href="#").katalog-grid__slider-next
              +icon('sprite_breadcrumbs-arrow')
            a(href="#").katalog-grid__slider-prev
              +icon('sprite_breadcrumbs-arrow')
          .katalog-grid__item-title
            h4.heading.heading--sm NEO COSMO AMORE BLUE N221
            p Bizning eng mashhur linzalarimiz
          .katalog-grid__item-time(data-catalog-item-time="2")
            +icon("sprite_watch")
            | 3 oylik
          .katalog-grid__item-age 
            +icon("sprite_calendar")
            | 14 yoshdan yuqori
          .katalog-grid__item-price 
            +icon("sprite_price")
            | 123 000 сум
          .katalog-grid__item-actions 
            a(href="./product-page.html").btn.btn--md To’liq ma’lumot olish
      .katalog-grid__pagination 
        a(href="#").btn 
          +icon('sprite_breadcrumbs-arrow')
        ul 
          li
            a(href="#") 1
          li
            a(href="#").active 2
          li
            a(href="#") 3
          li ...
          li
            a(href="#") 12
          li
            a(href="#") 13
        a(href="#").btn
          +icon('sprite_breadcrumbs-arrow')