mixin lead-pages(pageName, pageClass)
  if (pageName == "main")
    section.lead(class=pageClass)
      .container 
        .lead__inner 
          .section-header 
            .section-header__title 
              h1.heading Yasha
              .lead-swiper 
                .swiper-wrapper
                  span.swiper-slide Zavq ila
                  span.swiper-slide Yorqinlik ila
                  span.swiper-slide Muhabbat ila
            .section-header__description NEO COCMO contact linzalari bilan
            .section-header__actions 
              a(href="./store.html").btn.btn--lg Eng yaqin optikadan qidiring 
      .lead__bg 
        video(loop muted playsinline id="vid" poster="/images/poster.jpg")
          source(src="./lead.mp4")
      .lead__grad1
  if (pageName == "katalog")
    section.lead(class=pageClass)
      .lead__bg 
        video(muted loop playsinline id="vid")
          source(src="./katalog.mp4")
      .lead__grad
  if (pageName == "product-page")
    section.lead(class=pageClass)
  if (pageName == "about")
    section.lead(class=pageClass)
      .lead__grad
  if (pageName == "why")
    section.lead(class=pageClass)
