section.product-slider 
    .container 
        .product-slider__inner 
            .product-slider__swiper
                .product-slider__item
                    .product-slider__image 
                        +icon('sprite_bag')
                    .product-slider__desc 
                        p 
                            | Xamyonbob xarid
                .product-slider__item
                    .product-slider__image 
                        +icon('sprite_eye')
                    .product-slider__desc 
                        p 
                            | Asferik dizayn
                .product-slider__item
                    .product-slider__image 
                        +icon('sprite_eye2')
                    .product-slider__desc 
                        p 
                            | Yuqori namlik
.product-slider__pagination
