section.reviews 
    .container 
        .reviews__inner 
            h2.heading Mijozlarimizning fikr-mulohazalari
            .reviews-slider 
                .swiper-wrapper 
                    .swiper-slide 
                        .reviews__item 
                            .reviews__item-img 
                                .reviews__item-img-bg
                                img(src="./images/reviews/item1.jpg", alt="")
                            .reviews__item-play.mklbItem(data-video-src="/review.mp4")
                                +icon('sprite_play')
                    .swiper-slide 
                        .reviews__item 
                            .reviews__item-img 
                                .reviews__item-img-bg
                                img(src="./images/reviews/item2.jpg", alt="")
                            .reviews__item-play.mklbItem(data-video-src="/review.mp4")
                                +icon('sprite_play')
                    .swiper-slide 
                        .reviews__item 
                            .reviews__item-img 
                                .reviews__item-img-bg
                                img(src="./images/reviews/item2.jpg", alt="")
                            .reviews__item-play.mklbItem(data-video-src="/review.mp4")
                                +icon('sprite_play')
                    .swiper-slide 
                        .reviews__item 
                            .reviews__item-img 
                                .reviews__item-img-bg
                                img(src="./images/reviews/item1.jpg", alt="")
                            .reviews__item-play.mklbItem(data-video-src="/review.mp4")
                                +icon('sprite_play')
                .reviews-pagination