section.virtual 
  .container 
    .virtual__inner 
      .virtual__left 
        picture 
          source(srcset="./images/virtual.webp, ./images/virtual@2x.webp 1.5x" width="640" height="614" loading="lazy")
          img(src="./images/virtual.png" srcset="./images/virtual@2x.png 1.5x" width="640" height="614" loading="lazy" alt="")
        .virtual__left1
        .virtual__left2
        .virtual__left3
      .virtual__right 
        .section-header 
          h2.heading Linzani instagram filter orqali sinab ko’ring
          .section-header__description Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          .section-header__actions
            a.btn(href="#") 
              +icon("sprite_camera")
              p Linzani virtual taqib ko’rish