section.why-feature 
    .container 
        .why-feature__inner
            .why-feature__list 
                .why-feature__item 
                    .why-feature__img 
                        +icon('sprite_box')
                    .why-feature__title 
                        h3.heading Tanlash uchun ranglarni keng assartimenti mavjud
                    .why-feature__description 
                        p Turli yoshdagi turli ehtiyojlari bo'lgan mijozlarga xizmat ko'rsatish. Biz ko'zni parvarish qilish bo'yicha boshqa variantlarga o'xshamagan variantlarni taklif qilamiz, shuning uchun ularni tabiiy ko'rishga hech narsa to'sqinlik qilmaydi.
                .why-feature__item 
                    .why-feature__img 
                        +icon('sprite_world')
                    .why-feature__title 
                        h3.heading 65 dan ortiq mamlakatlar ishonchi
                    .why-feature__description 
                        p Doimiy va doimiy ravishda mijozlarimizga ko'zni parvarish qilish bo'yicha innovatsion mahsulotlarni taqdim etish, shuning uchun ular faqat eng yaxshisini olishadi.
                .why-feature__item 
                    .why-feature__img 
                        +icon('sprite_people')
                    .why-feature__title 
                        h3.heading Butun Uzbekiston bo’yicha optika hamkorlarimiz
                    .why-feature__description 
                        p Bizning xodimlarimiz sog'liqni saqlash mahsulotlari orqali odamlarning hayotini yaxshilashga qaratilgan har kuni ishga kelishadi. Ular tashkilot muvaffaqiyati uchun zarurdir.