extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--about';
    +lead-pages("about", "lead--about")
    include pug/sections/breadcrumbs/about
    include pug/sections/page-title/about
    include pug/sections/about-grid
    include pug/sections/address
    

block footer
    include pug/blocks/footer