extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--contact-us-success';
    include pug/sections/contact-us-success
    

block footer