extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--contact-us';
    include pug/sections/breadcrumbs/contact-us
    include pug/sections/form
    

block footer
    include pug/blocks/footer