extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--faq';
    +lead-pages("faq", "lead--faq")
    include pug/sections/breadcrumbs/faq
    include pug/sections/page-title/faq
    include pug/sections/faq
    include pug/sections/address
    

block footer
    include pug/blocks/footer