extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--main';
    +lead-pages("main", "lead--main")
    include pug/sections/page-title/lead
    include pug/sections/choose-lenses
    include pug/sections/feature
    include pug/sections/reviews
    include pug/sections/virtual
    include pug/sections/address


block footer
    include pug/blocks/footer