extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--katalog';
    +lead-pages("katalog", "lead--katalog")
    include pug/sections/breadcrumbs/katalog
    include pug/sections/page-title/katalog
    include pug/sections/katalog-grid
    include pug/sections/address

block footer
    include pug/blocks/footer