extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--lens-calculator';
    include pug/sections/breadcrumbs/lens-calculator
    include pug/sections/page-title/lens-calculator
    include pug/sections/calculator
    include pug/sections/virtual
    include pug/sections/address

block footer
    include pug/blocks/footer