extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--product-page';
    +lead-pages("product-page", "lead--product-page")
    include pug/sections/breadcrumbs/product-page
    include pug/sections/page-title/product-page
    include pug/sections/product-page-slider
    include pug/sections/about-product
    include pug/sections/virtual
    include pug/sections/address

block footer
    include pug/blocks/footer