extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--store';
    include pug/sections/breadcrumbs/store
    include pug/sections/address
    

block footer
    include pug/blocks/footer

block scripts
    
