extends pug/layouts/base
include pug/sections/lead
//- import mixin sections

block meta

block title
    title NEO cosmo

block header
    include pug/blocks/header
block content
    block wrapper_class
        - var wrapper_classes = 'pg--why';
    +lead-pages("why", "lead--why")
    include pug/sections/breadcrumbs/why
    include pug/sections/page-title/why
    include pug/sections/why-feature
    include pug/sections/certificates
    include pug/sections/address


block footer
    include pug/blocks/footer