section.page-title 
    .container 
        .page-title__description 
            h2.heading Linzalar haqida
            p Biz sizga kontakt linzalarni qanday ishlatishni va xafsiz parvarishi haqida ma’lumot beramiz.