section.page-title 
    .container 
        .page-title__description 
            h2.heading Tez-tez so'raladigan SAVOL
            p Mutaxassislarimiz kontakt linzalari bilan bog'liq eng keng tarqalgan savollarga javoblar