section.page-title 
    .container 
        .page-title__description 
            h2.heading Maxsulotlarimiz
            p Har bir inson sevimli ko’zlari uchun qulay va chiroyli kontakt linzalarni  xohlaydi , lekin hamma ham bu muammoni tez hal qila olmaydi. Quyida barcha mahsulotlarimizni koʻring yoki filtrlar asosida oʻz imkoniyatlarinigizni yana ham tezlashtiring.