section.page-title 
    .container 
        .page-title__description 
            h2.heading Neo cosmo color studiasiga xush kelibsiz
            p NEO COSMO rangli kontakt linzalari yordamida o'zingizni ko'plab uslibingizni yaratishingiz munkun
        .choose-sex
            h2.heading O'z ko'rinishingizni tanlang
            ul.choose-sex__toggle 
                li
                    a(href="#").active.js-choose-sex Ayol
                li
                    a(href="#").js-choose-sex Erkak