section.page-title 
    .container 
        .page-title__description 
            h2.heading Linzalar kuchini endni o’zingiz aniqlang
            p 60 soniya ichida kontakt linzalari quvvatini aniqlang