section.page-title 
    .container 
        .page-title__description 
            h2.heading NEO COSMO AMORE BLUE N221
            p Barcha tadbirlar uchun juda mos keladi. Katta uzbek to’yi yoki bayram mavsumi bo’lsin. Bayram libosingiz uchun sevimli uslibdir.
            p To’q rangli bayram kiyimlari,To’g’irlangan sochlar, Jigarrang va kulrang ko’zlar bilan yaxshi ketadi