section.page-title 
    .container 
        .page-title__description 
            h2.heading Nima uchun neo cosmo?
            p Mahsulotlarimiz ko'zni parvarish qiladigan bemorlarga ko'proq qulaylik va yaxshi ko'rish qobiliyati bilan zamonaviy turmush tarzini olib borishga yordam berish uchun mo'ljallangan. neo cosmo da biz bemorlar va amaliyotchilar uchun innovatsiyalarning yetakchisi bo'lish uchun tibbiy merosimiz va ko'zni parvarish qilish bo'yicha tajribamizdan foydalanishda davom etamiz.
            h2.heading Biz kimmiz?
            p Bausch + Lomb 1853 yilda Nyu-Yorkning Rochester shahrida kichik optik do'kon sifatida tashkil etilgan bo'lib, u dunyoning 100 dan ortiq mamlakatlarida 10 000 dan ortiq xodimlariga ega yirik sog'liqni saqlash kompaniyasiga aylandi. 
            p Bausch + Lomb 1853 yilda Nyu-Yorkning Rochester shahrida kichik optik do'kon sifatida tashkil etilgan bo'lib, u dunyoning 100 dan ortiq mamlakatlarida 10 000 dan ortiq xodimlariga ega yirik sog'liqni saqlash kompaniyasiga aylandi.
        .page-title__bg1
        .page-title__bg2
        .page-title__bg3